{
  "openapi": "3.0.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2025-03-01"
  },
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "Get_network_security_group": {
        "value": {
          "name": "testnsg",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg",
          "type": "Microsoft.Network/networkSecurityGroups",
          "location": "westus",
          "properties": {
            "provisioningState": "Succeeded",
            "securityRules": [
              {
                "name": "rule1",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "80",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Allow",
                  "priority": 130,
                  "direction": "Inbound"
                }
              }
            ],
            "defaultSecurityRules": [
              {
                "name": "AllowVnetInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowAzureLoadBalancerInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from azure load balancer",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "AzureLoadBalancer",
                  "destinationAddressPrefix": "*",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Inbound"
                }
              },
              {
                "name": "DenyAllInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all inbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowVnetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Outbound"
                }
              },
              {
                "name": "AllowInternetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowInternetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to Internet",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "Internet",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Outbound"
                }
              },
              {
                "name": "DenyAllOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all outbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Outbound"
                }
              }
            ]
          }
        }
      },
      "Create_network_security_group": {
        "value": {
          "name": "testnsg",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg",
          "type": "Microsoft.Network/networkSecurityGroups",
          "location": "eastus",
          "properties": {
            "provisioningState": "Succeeded",
            "flushConnection": false,
            "securityRules": [],
            "defaultSecurityRules": [
              {
                "name": "AllowVnetInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowAzureLoadBalancerInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from azure load balancer",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "AzureLoadBalancer",
                  "destinationAddressPrefix": "*",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Inbound"
                }
              },
              {
                "name": "DenyAllInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all inbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowVnetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Outbound"
                }
              },
              {
                "name": "AllowInternetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowInternetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to Internet",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "Internet",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Outbound"
                }
              },
              {
                "name": "DenyAllOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all outbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Outbound"
                }
              }
            ]
          }
        }
      },
      "Create_network_security_group_with_rule": {
        "value": {
          "name": "testnsg",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg",
          "type": "Microsoft.Network/networkSecurityGroups",
          "location": "eastus",
          "properties": {
            "provisioningState": "Succeeded",
            "securityRules": [
              {
                "name": "rule1",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "80",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Allow",
                  "priority": 130,
                  "direction": "Inbound"
                }
              }
            ],
            "defaultSecurityRules": [
              {
                "name": "AllowVnetInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowAzureLoadBalancerInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from azure load balancer",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "AzureLoadBalancer",
                  "destinationAddressPrefix": "*",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Inbound"
                }
              },
              {
                "name": "DenyAllInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all inbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowVnetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Outbound"
                }
              },
              {
                "name": "AllowInternetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowInternetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to Internet",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "Internet",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Outbound"
                }
              },
              {
                "name": "DenyAllOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all outbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Outbound"
                }
              }
            ]
          }
        }
      },
      "Update_network_security_group_tags": {
        "value": {
          "name": "testnsg",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg",
          "type": "Microsoft.Network/networkSecurityGroups",
          "location": "westus",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "securityRules": [],
            "defaultSecurityRules": [
              {
                "name": "AllowVnetInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowAzureLoadBalancerInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow inbound traffic from azure load balancer",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "AzureLoadBalancer",
                  "destinationAddressPrefix": "*",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Inbound"
                }
              },
              {
                "name": "DenyAllInBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllInBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all inbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Inbound"
                }
              },
              {
                "name": "AllowVnetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowVnetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "VirtualNetwork",
                  "destinationAddressPrefix": "VirtualNetwork",
                  "access": "Allow",
                  "priority": 65000,
                  "direction": "Outbound"
                }
              },
              {
                "name": "AllowInternetOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/AllowInternetOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Allow outbound traffic from all VMs to Internet",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "Internet",
                  "access": "Allow",
                  "priority": 65001,
                  "direction": "Outbound"
                }
              },
              {
                "name": "DenyAllOutBound",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/defaultSecurityRules/DenyAllOutBound",
                "properties": {
                  "provisioningState": "Succeeded",
                  "description": "Deny all outbound traffic",
                  "protocol": "*",
                  "sourcePortRange": "*",
                  "destinationPortRange": "*",
                  "sourceAddressPrefix": "*",
                  "destinationAddressPrefix": "*",
                  "access": "Deny",
                  "priority": 65500,
                  "direction": "Outbound"
                }
              }
            ]
          }
        }
      },
      "List_all_network_security_groups": {
        "value": {
          "value": [
            {
              "name": "nsg1",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1",
              "type": "Microsoft.Network/networkSecurityGroups",
              "location": "westus",
              "properties": {
                "provisioningState": "Succeeded",
                "securityRules": [],
                "defaultSecurityRules": [
                  {
                    "name": "AllowVnetInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowAzureLoadBalancerInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from azure load balancer",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "AzureLoadBalancer",
                      "destinationAddressPrefix": "*",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "DenyAllInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/DenyAllInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all inbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowVnetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "AllowInternetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowInternetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to Internet",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "Internet",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "DenyAllOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/DenyAllOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all outbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Outbound"
                    }
                  }
                ]
              }
            },
            {
              "name": "nsg3",
              "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3",
              "type": "Microsoft.Network/networkSecurityGroups",
              "location": "westus",
              "properties": {
                "provisioningState": "Succeeded",
                "securityRules": [],
                "defaultSecurityRules": [
                  {
                    "name": "AllowVnetInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowVnetInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowAzureLoadBalancerInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from azure load balancer",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "AzureLoadBalancer",
                      "destinationAddressPrefix": "*",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "DenyAllInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/DenyAllInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all inbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowVnetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowVnetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "AllowInternetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowInternetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to Internet",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "Internet",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "DenyAllOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/DenyAllOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all outbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Outbound"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "List_network_security_groups_in_resource_group": {
        "value": {
          "value": [
            {
              "name": "nsg1",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1",
              "type": "Microsoft.Network/networkSecurityGroups",
              "location": "westus",
              "properties": {
                "provisioningState": "Succeeded",
                "securityRules": [],
                "defaultSecurityRules": [
                  {
                    "name": "AllowVnetInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowAzureLoadBalancerInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from azure load balancer",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "AzureLoadBalancer",
                      "destinationAddressPrefix": "*",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "DenyAllInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/DenyAllInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all inbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowVnetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "AllowInternetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowInternetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to Internet",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "Internet",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "DenyAllOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/DenyAllOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all outbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Outbound"
                    }
                  }
                ]
              }
            },
            {
              "name": "nsg3",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3",
              "type": "Microsoft.Network/networkSecurityGroups",
              "location": "westus",
              "properties": {
                "provisioningState": "Succeeded",
                "securityRules": [],
                "defaultSecurityRules": [
                  {
                    "name": "AllowVnetInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowVnetInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowAzureLoadBalancerInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowAzureLoadBalancerInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow inbound traffic from azure load balancer",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "AzureLoadBalancer",
                      "destinationAddressPrefix": "*",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "DenyAllInBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/DenyAllInBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all inbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Inbound"
                    }
                  },
                  {
                    "name": "AllowVnetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowVnetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "VirtualNetwork",
                      "destinationAddressPrefix": "VirtualNetwork",
                      "access": "Allow",
                      "priority": 65000,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "AllowInternetOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/AllowInternetOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Allow outbound traffic from all VMs to Internet",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "Internet",
                      "access": "Allow",
                      "priority": 65001,
                      "direction": "Outbound"
                    }
                  },
                  {
                    "name": "DenyAllOutBound",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/nsg3/defaultSecurityRules/DenyAllOutBound",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "description": "Deny all outbound traffic",
                      "protocol": "*",
                      "sourcePortRange": "*",
                      "destinationPortRange": "*",
                      "sourceAddressPrefix": "*",
                      "destinationAddressPrefix": "*",
                      "access": "Deny",
                      "priority": 65500,
                      "direction": "Outbound"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "Get_network_security_rule_in_network_security_group": {
        "value": {
          "name": "rule1",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1",
          "properties": {
            "provisioningState": "Succeeded",
            "protocol": "*",
            "sourcePortRange": "*",
            "destinationPortRange": "80",
            "sourceAddressPrefix": "*",
            "destinationAddressPrefix": "*",
            "access": "Allow",
            "priority": 130,
            "direction": "Inbound"
          }
        }
      },
      "Create_security_rule": {
        "value": {
          "name": "rule1",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1",
          "properties": {
            "provisioningState": "Succeeded",
            "protocol": "*",
            "sourcePortRange": "*",
            "destinationPortRange": "8080",
            "sourceAddressPrefix": "10.0.0.0/8",
            "destinationAddressPrefix": "11.0.0.0/8",
            "access": "Deny",
            "priority": 100,
            "direction": "Outbound"
          }
        }
      },
      "List_network_security_rules_in_network_security_group": {
        "value": {
          "value": [
            {
              "name": "rule1",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1",
              "properties": {
                "provisioningState": "Succeeded",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "80",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 130,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "DefaultSecurityRuleList": {
        "value": {
          "value": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetInBound",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from azure load balancer",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "AzureLoadBalancer",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 65001,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "DenyAllInBound",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/DenyAllInBound",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Deny all inbound traffic",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "access": "Deny",
                "priority": 65500,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowVnetOutBound",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetOutBound",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow outbound traffic from all VMs to all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Outbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowInternetOutBound",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowInternetOutBound",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow outbound traffic from all VMs to Internet",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "Internet",
                "access": "Allow",
                "priority": 65001,
                "direction": "Outbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "DenyAllOutBound",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/DenyAllOutBound",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Deny all outbound traffic",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "access": "Deny",
                "priority": 65500,
                "direction": "Outbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            }
          ]
        }
      },
      "DefaultSecurityRuleGet": {
        "value": {
          "name": "AllowVnetInBound",
          "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkSecurityGroups/nsg1/defaultSecurityRules/AllowVnetInBound",
          "properties": {
            "provisioningState": "Succeeded",
            "description": "Allow inbound traffic from all VMs in VNET",
            "protocol": "*",
            "sourcePortRange": "*",
            "destinationPortRange": "*",
            "sourceAddressPrefix": "VirtualNetwork",
            "destinationAddressPrefix": "VirtualNetwork",
            "access": "Allow",
            "priority": 65000,
            "direction": "Inbound",
            "sourcePortRanges": [],
            "destinationPortRanges": [],
            "sourceAddressPrefixes": [],
            "destinationAddressPrefixes": []
          }
        }
      }
    },
    "parameters": {
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "description": "Client API version.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "Delete network security group": {
            "value": "2025-03-01"
          },
          "Get network security group": {
            "value": "2025-03-01"
          },
          "Create network security group": {
            "value": "2025-03-01"
          },
          "Create network security group with rule": {
            "value": "2025-03-01"
          },
          "Update network security group tags": {
            "value": "2025-03-01"
          },
          "List all network security groups": {
            "value": "2025-03-01"
          },
          "List network security groups in resource group": {
            "value": "2025-03-01"
          },
          "Delete network security rule from network security group": {
            "value": "2025-03-01"
          },
          "Get network security rule in network security group": {
            "value": "2025-03-01"
          },
          "Create security rule": {
            "value": "2025-03-01"
          },
          "List network security rules in network security group": {
            "value": "2025-03-01"
          },
          "DefaultSecurityRuleList": {
            "value": "2025-03-01"
          },
          "DefaultSecurityRuleGet": {
            "value": "2025-03-01"
          }
        }
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "Delete network security group": {
            "value": "subid"
          },
          "Get network security group": {
            "value": "subid"
          },
          "Create network security group": {
            "value": "subid"
          },
          "Create network security group with rule": {
            "value": "subid"
          },
          "Update network security group tags": {
            "value": "subid"
          },
          "List all network security groups": {
            "value": "subid"
          },
          "List network security groups in resource group": {
            "value": "subid"
          },
          "Delete network security rule from network security group": {
            "value": "subid"
          },
          "Get network security rule in network security group": {
            "value": "subid"
          },
          "Create security rule": {
            "value": "subid"
          },
          "List network security rules in network security group": {
            "value": "subid"
          },
          "DefaultSecurityRuleList": {
            "value": "subid"
          },
          "DefaultSecurityRuleGet": {
            "value": "subid"
          }
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "SecurityRulePropertiesFormat": {
        "properties": {
          "description": {
            "type": "string",
            "description": "A description for this rule. Restricted to 140 chars."
          },
          "protocol": {
            "type": "string",
            "description": "Network protocol this rule applies to.",
            "enum": ["Tcp", "Udp", "Icmp", "Esp", "*", "Ah"],
            "x-ms-enum": {
              "name": "SecurityRuleProtocol",
              "modelAsString": true
            }
          },
          "sourcePortRange": {
            "type": "string",
            "description": "The source port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
          },
          "destinationPortRange": {
            "type": "string",
            "description": "The destination port or range. Integer or range between 0 and 65535. Asterisk '*' can also be used to match all ports."
          },
          "sourceAddressPrefix": {
            "type": "string",
            "description": "The CIDR or source IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used. If this is an ingress rule, specifies where network traffic originates from."
          },
          "sourceAddressPrefixes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The CIDR or source IP ranges."
          },
          "sourceApplicationSecurityGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationSecurityGroup"
            },
            "description": "The application security group specified as source."
          },
          "destinationAddressPrefix": {
            "type": "string",
            "description": "The destination address prefix. CIDR or destination IP range. Asterisk '*' can also be used to match all source IPs. Default tags such as 'VirtualNetwork', 'AzureLoadBalancer' and 'Internet' can also be used."
          },
          "destinationAddressPrefixes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The destination address prefixes. CIDR or destination IP ranges."
          },
          "destinationApplicationSecurityGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicationSecurityGroup"
            },
            "description": "The application security group specified as destination."
          },
          "sourcePortRanges": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The source port."
            },
            "description": "The source port ranges."
          },
          "destinationPortRanges": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "The destination port."
            },
            "description": "The destination port ranges."
          },
          "access": {
            "$ref": "#/components/schemas/SecurityRuleAccess"
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "description": "The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
          },
          "direction": {
            "$ref": "#/components/schemas/SecurityRuleDirection"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "required": ["protocol", "access", "priority", "direction"],
        "description": "Security rule resource."
      },
      "SecurityRule": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SecurityRulePropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "type": "string",
            "description": "The type of the resource."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "Network security rule."
      },
      "SecurityRuleListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityRule"
            },
            "description": "The security rules in a network security group."
          },
          "nextLink": {
            "type": "string",
            "description": "The URL to get the next set of results."
          }
        },
        "description": "Response for ListSecurityRule API service call. Retrieves all security rules that belongs to a network security group."
      },
      "NetworkSecurityGroupPropertiesFormat": {
        "properties": {
          "flushConnection": {
            "type": "boolean",
            "description": "When enabled, flows created from Network Security Group connections will be re-evaluated when rules are updates. Initial enablement will trigger re-evaluation."
          },
          "securityRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityRule"
            },
            "description": "A collection of security rules of the network security group."
          },
          "defaultSecurityRules": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SecurityRule"
            },
            "description": "The default security rules of network security group."
          },
          "networkInterfaces": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkInterface"
            },
            "description": "A collection of references to network interfaces."
          },
          "subnets": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            },
            "description": "A collection of references to subnets."
          },
          "flowLogs": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowLog"
            },
            "description": "A collection of references to flow log resources."
          },
          "resourceGuid": {
            "readOnly": true,
            "type": "string",
            "description": "The resource GUID property of the network security group resource."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Network Security Group resource."
      },
      "NetworkSecurityGroup": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/NetworkSecurityGroupPropertiesFormat"
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "NetworkSecurityGroup resource."
      },
      "NetworkSecurityGroupListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkSecurityGroup"
            },
            "description": "A list of NetworkSecurityGroup resources."
          },
          "nextLink": {
            "type": "string",
            "description": "The URL to get the next set of results."
          }
        },
        "description": "Response for ListNetworkSecurityGroups API service call."
      },
      "SecurityRuleAccess": {
        "type": "string",
        "description": "Whether network traffic is allowed or denied.",
        "enum": ["Allow", "Deny"],
        "x-ms-enum": {
          "name": "SecurityRuleAccess",
          "modelAsString": true
        }
      },
      "SecurityRuleDirection": {
        "type": "string",
        "description": "The direction of the rule. The direction specifies if rule will be evaluated on incoming or outgoing traffic.",
        "enum": ["Inbound", "Outbound"],
        "x-ms-enum": {
          "name": "SecurityRuleDirection",
          "modelAsString": true
        }
      },
      "CloudErrorBody": {
        "x-ms-external": true,
        "properties": {
          "code": {
            "type": "string",
            "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
          },
          "message": {
            "type": "string",
            "description": "A message describing the error, intended to be suitable for display in a user interface."
          },
          "target": {
            "type": "string",
            "description": "The target of the particular error. For example, the name of the property in error."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "description": "A list of additional details about the error."
          }
        },
        "description": "An error response from the service."
      },
      "CloudError": {
        "x-ms-external": true,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody"
          }
        },
        "description": "An error response from the service."
      },
      "Resource": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource ID."
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Resource name."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type."
          },
          "location": {
            "type": "string",
            "description": "Resource location."
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags."
          }
        },
        "description": "Common resource representation.",
        "x-ms-azure-resource": true
      },
      "SubResource": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource ID."
          }
        },
        "description": "Reference to another subresource.",
        "x-ms-azure-resource": true
      },
      "ProvisioningState": {
        "type": "string",
        "readOnly": true,
        "description": "The current provisioning state.",
        "enum": ["Succeeded", "Updating", "Deleting", "Failed"],
        "x-ms-enum": {
          "name": "ProvisioningState",
          "modelAsString": true
        }
      },
      "ApplicationSecurityGroupPropertiesFormat": {
        "properties": {
          "resourceGuid": {
            "readOnly": true,
            "type": "string",
            "description": "The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Application security group properties."
      },
      "ApplicationSecurityGroup": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApplicationSecurityGroupPropertiesFormat"
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "An application security group in a resource group."
      },
      "ExtendedLocationType": {
        "type": "string",
        "description": "The supported ExtendedLocation types. Currently only EdgeZone is supported in Microsoft.Network resources.",
        "enum": ["EdgeZone"],
        "x-ms-enum": {
          "name": "ExtendedLocationTypes",
          "modelAsString": true
        }
      },
      "ExtendedLocation": {
        "description": "ExtendedLocation complex type.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the extended location."
          },
          "type": {
            "$ref": "#/components/schemas/ExtendedLocationType"
          }
        }
      },
      "RouteNextHopType": {
        "type": "string",
        "description": "The type of Azure hop the packet should be sent to.",
        "enum": ["VirtualNetworkGateway", "VnetLocal", "Internet", "VirtualAppliance", "None"],
        "x-ms-enum": {
          "name": "RouteNextHopType",
          "modelAsString": true
        }
      },
      "RoutePropertiesFormat": {
        "properties": {
          "addressPrefix": {
            "type": "string",
            "description": "The destination CIDR to which the route applies."
          },
          "nextHopType": {
            "$ref": "#/components/schemas/RouteNextHopType"
          },
          "nextHopIpAddress": {
            "type": "string",
            "description": "The IP address packets should be forwarded to. Next hop values are only allowed in routes where the next hop type is VirtualAppliance."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          },
          "hasBgpOverride": {
            "type": "boolean",
            "readOnly": true,
            "description": "A value indicating whether this route overrides overlapping BGP routes regardless of LPM."
          }
        },
        "required": ["nextHopType"],
        "description": "Route resource."
      },
      "Route": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RoutePropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "type": "string",
            "description": "The type of the resource."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "Route resource."
      },
      "Subnet": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SubnetPropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "type": "string",
            "description": "Resource type."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "Subnet in a virtual network resource."
      },
      "RouteTablePropertiesFormat": {
        "properties": {
          "routes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Route"
            },
            "description": "Collection of routes contained within a route table."
          },
          "subnets": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            },
            "description": "A collection of references to subnets."
          },
          "disableBgpRoutePropagation": {
            "type": "boolean",
            "description": "Whether to disable the routes learned by BGP on that route table. True means disable."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          },
          "resourceGuid": {
            "type": "string",
            "readOnly": true,
            "description": "The resource GUID property of the route table."
          }
        },
        "description": "Route Table resource."
      },
      "RouteTable": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/RouteTablePropertiesFormat"
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Route table resource."
      },
      "ServiceEndpointPropertiesFormat": {
        "properties": {
          "service": {
            "type": "string",
            "description": "The type of the endpoint service."
          },
          "networkIdentifier": {
            "$ref": "#/components/schemas/SubResource"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of locations."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "The service endpoint properties."
      },
      "ServiceEndpointPolicyDefinitionPropertiesFormat": {
        "properties": {
          "description": {
            "type": "string",
            "description": "A description for this rule. Restricted to 140 chars."
          },
          "service": {
            "type": "string",
            "description": "Service endpoint name."
          },
          "serviceResources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of service resources."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Service Endpoint policy definition resource."
      },
      "ServiceEndpointPolicyDefinition": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ServiceEndpointPolicyDefinitionPropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "type": "string",
            "description": "The type of the resource."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "Service Endpoint policy definitions."
      },
      "ServiceEndpointPolicyPropertiesFormat": {
        "properties": {
          "serviceEndpointPolicyDefinitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceEndpointPolicyDefinition"
            },
            "description": "A collection of service endpoint policy definitions of the service endpoint policy."
          },
          "subnets": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Subnet"
            },
            "description": "A collection of references to subnets."
          },
          "resourceGuid": {
            "type": "string",
            "readOnly": true,
            "description": "The resource GUID property of the service endpoint policy resource."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          },
          "serviceAlias": {
            "type": "string",
            "description": "The alias indicating if the policy belongs to a service"
          },
          "contextualServiceEndpointPolicies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A collection of contextual service endpoint policy."
          }
        },
        "description": "Service Endpoint Policy resource."
      },
      "ServiceEndpointPolicy": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ServiceEndpointPolicyPropertiesFormat"
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "kind": {
            "readOnly": true,
            "type": "string",
            "description": "Kind of service endpoint policy. This is metadata used for the Azure portal experience."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Service End point policy resource."
      },
      "PrivateEndpoint": {
        "properties": {
          "extendedLocation": {
            "$ref": "#/components/schemas/ExtendedLocation"
          },
          "properties": {
            "$ref": "#/components/schemas/PrivateEndpointProperties"
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Private endpoint resource."
      },
      "IPAllocationMethod": {
        "type": "string",
        "description": "IP address allocation method.",
        "enum": ["Static", "Dynamic"],
        "x-ms-enum": {
          "name": "IPAllocationMethod",
          "modelAsString": true
        }
      },
      "PublicIPAddressSku": {
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of a public IP address SKU.",
            "enum": ["Basic", "Standard", "StandardV2"],
            "x-ms-enum": {
              "name": "PublicIPAddressSkuName",
              "modelAsString": true
            }
          },
          "tier": {
            "type": "string",
            "description": "Tier of a public IP address SKU.",
            "enum": ["Regional", "Global"],
            "x-ms-enum": {
              "name": "PublicIPAddressSkuTier",
              "modelAsString": true
            }
          }
        },
        "description": "SKU of a public IP address."
      },
      "IPVersion": {
        "type": "string",
        "description": "IP address version.",
        "enum": ["IPv4", "IPv6"],
        "x-ms-enum": {
          "name": "IPVersion",
          "modelAsString": true
        }
      },
      "IPConfiguration": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/IPConfigurationPropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "IP configuration."
      },
      "PublicIPAddressDnsSettings": {
        "properties": {
          "domainNameLabel": {
            "type": "string",
            "description": "The domain name label. The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system."
          },
          "domainNameLabelScope": {
            "type": "string",
            "description": "The domain name label scope. If a domain name label and a domain name label scope are specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system with a hashed value includes in FQDN.",
            "enum": ["TenantReuse", "SubscriptionReuse", "ResourceGroupReuse", "NoReuse"],
            "x-ms-enum": {
              "name": "PublicIpAddressDnsSettingsDomainNameLabelScope",
              "modelAsString": false
            }
          },
          "fqdn": {
            "type": "string",
            "description": "The Fully Qualified Domain Name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone."
          },
          "reverseFqdn": {
            "type": "string",
            "description": "The reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN."
          }
        },
        "description": "Contains FQDN of the DNS record associated with the public IP address."
      },
      "DdosSettings": {
        "properties": {
          "protectionMode": {
            "readOnly": false,
            "type": "string",
            "enum": ["VirtualNetworkInherited", "Enabled", "Disabled"],
            "x-ms-enum": {
              "name": "DdosSettingsProtectionMode",
              "modelAsString": true
            },
            "description": "The DDoS protection mode of the public IP"
          },
          "ddosProtectionPlan": {
            "$ref": "#/components/schemas/SubResource"
          }
        },
        "description": "Contains the DDoS protection settings of the public IP."
      },
      "IpTag": {
        "properties": {
          "ipTagType": {
            "type": "string",
            "description": "The IP tag type. Example: FirstPartyUsage."
          },
          "tag": {
            "type": "string",
            "description": "The value of the IP tag associated with the public IP. Example: SQL."
          }
        },
        "description": "Contains the IpTag associated with the object."
      },
      "PublicIPAddress": {
        "properties": {
          "extendedLocation": {
            "$ref": "#/components/schemas/ExtendedLocation"
          },
          "sku": {
            "$ref": "#/components/schemas/PublicIPAddressSku"
          },
          "properties": {
            "$ref": "#/components/schemas/PublicIPAddressPropertiesFormat"
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "zones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of availability zones denoting the IP allocated for the resource needs to come from."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Public IP address resource."
      },
      "NatGatewaySku": {
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of Nat Gateway SKU.",
            "enum": ["Standard", "StandardV2"],
            "x-ms-enum": {
              "name": "NatGatewaySkuName",
              "modelAsString": true
            }
          }
        },
        "description": "SKU of nat gateway."
      },
      "NatGatewayPropertiesFormat": {
        "properties": {
          "idleTimeoutInMinutes": {
            "type": "integer",
            "format": "int32",
            "description": "The idle timeout of the nat gateway."
          },
          "publicIpAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubResource"
            },
            "description": "An array of public ip addresses V4 associated with the nat gateway resource."
          },
          "publicIpAddressesV6": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubResource"
            },
            "description": "An array of public ip addresses V6 associated with the nat gateway resource."
          },
          "publicIpPrefixes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubResource"
            },
            "description": "An array of public ip prefixes V4 associated with the nat gateway resource."
          },
          "publicIpPrefixesV6": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubResource"
            },
            "description": "An array of public ip prefixes V6 associated with the nat gateway resource."
          },
          "subnets": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubResource"
            },
            "description": "An array of references to the subnets using this nat gateway resource."
          },
          "sourceVirtualNetwork": {
            "$ref": "#/components/schemas/SubResource"
          },
          "resourceGuid": {
            "readOnly": true,
            "type": "string",
            "description": "The resource GUID property of the NAT gateway resource."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Nat Gateway properties."
      },
      "NatGateway": {
        "properties": {
          "sku": {
            "$ref": "#/components/schemas/NatGatewaySku"
          },
          "properties": {
            "$ref": "#/components/schemas/NatGatewayPropertiesFormat"
          },
          "zones": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of availability zones denoting the zone in which Nat Gateway should be deployed."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Nat Gateway resource."
      },
      "PublicIPAddressPropertiesFormat": {
        "properties": {
          "publicIPAllocationMethod": {
            "$ref": "#/components/schemas/IPAllocationMethod"
          },
          "publicIPAddressVersion": {
            "$ref": "#/components/schemas/IPVersion"
          },
          "ipConfiguration": {
            "$ref": "#/components/schemas/IPConfiguration"
          },
          "dnsSettings": {
            "$ref": "#/components/schemas/PublicIPAddressDnsSettings"
          },
          "ddosSettings": {
            "$ref": "#/components/schemas/DdosSettings"
          },
          "ipTags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IpTag"
            },
            "description": "The list of tags associated with the public IP address."
          },
          "ipAddress": {
            "type": "string",
            "description": "The IP address associated with the public IP address resource."
          },
          "publicIPPrefix": {
            "$ref": "#/components/schemas/SubResource"
          },
          "idleTimeoutInMinutes": {
            "type": "integer",
            "format": "int32",
            "description": "The idle timeout of the public IP address."
          },
          "resourceGuid": {
            "readOnly": true,
            "type": "string",
            "description": "The resource GUID property of the public IP address resource."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          },
          "servicePublicIPAddress": {
            "$ref": "#/components/schemas/PublicIPAddress"
          },
          "natGateway": {
            "$ref": "#/components/schemas/NatGateway"
          },
          "migrationPhase": {
            "type": "string",
            "description": "Migration phase of Public IP Address.",
            "enum": ["None", "Prepare", "Commit", "Abort", "Committed"],
            "x-ms-enum": {
              "name": "PublicIPAddressMigrationPhase",
              "modelAsString": true
            }
          },
          "linkedPublicIPAddress": {
            "$ref": "#/components/schemas/PublicIPAddress"
          },
          "deleteOption": {
            "type": "string",
            "description": "Specify what happens to the public IP address when the VM using it is deleted",
            "enum": ["Delete", "Detach"],
            "x-ms-enum": {
              "name": "DeleteOptions",
              "modelAsString": true
            }
          }
        },
        "description": "Public IP address properties."
      },
      "IPConfigurationPropertiesFormat": {
        "properties": {
          "privateIPAddress": {
            "type": "string",
            "description": "The private IP address of the IP configuration."
          },
          "privateIPAllocationMethod": {
            "$ref": "#/components/schemas/IPAllocationMethod"
          },
          "subnet": {
            "$ref": "#/components/schemas/Subnet"
          },
          "publicIPAddress": {
            "$ref": "#/components/schemas/PublicIPAddress"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Properties of IP configuration."
      },
      "IPConfigurationProfilePropertiesFormat": {
        "properties": {
          "subnet": {
            "$ref": "#/components/schemas/Subnet"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "IP configuration profile properties."
      },
      "IPConfigurationProfile": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/IPConfigurationProfilePropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource. This name can be used to access the resource."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Sub Resource type."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "IP configuration profile child resource."
      },
      "ResourceNavigationLinkFormat": {
        "properties": {
          "linkedResourceType": {
            "type": "string",
            "description": "Resource type of the linked resource."
          },
          "link": {
            "type": "string",
            "description": "Link to the external resource."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Properties of ResourceNavigationLink."
      },
      "ResourceNavigationLink": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ResourceNavigationLinkFormat"
          },
          "name": {
            "type": "string",
            "description": "Name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource navigation link identifier."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "ResourceNavigationLink resource."
      },
      "ServiceAssociationLinkPropertiesFormat": {
        "properties": {
          "linkedResourceType": {
            "type": "string",
            "description": "Resource type of the linked resource."
          },
          "link": {
            "type": "string",
            "description": "Link to the external resource."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          },
          "allowDelete": {
            "type": "boolean",
            "description": "If true, the resource can be deleted."
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of locations."
          }
        },
        "description": "Properties of ServiceAssociationLink."
      },
      "ServiceAssociationLink": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ServiceAssociationLinkPropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "Name of the resource that is unique within a resource group. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "ServiceAssociationLink resource."
      },
      "ServiceDelegationPropertiesFormat": {
        "properties": {
          "serviceName": {
            "type": "string",
            "description": "The name of the service to whom the subnet should be delegated (e.g. Microsoft.Sql/servers)."
          },
          "actions": {
            "readOnly": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The actions permitted to the service upon delegation."
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Properties of a service delegation."
      },
      "Delegation": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ServiceDelegationPropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "The name of the resource that is unique within a subnet. This name can be used to access the resource."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "type": "string",
            "description": "Resource type."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
        "description": "Details the service to which the subnet is delegated."
      },
      "ApplicationGatewayIPConfigurationPropertiesFormat": {
        "properties": {
          "subnet": {
            "$ref": "#/components/schemas/SubResource"
          },
          "provisioningState": {
            "$ref": "#/components/schemas/ProvisioningState"
          }
        },
        "description": "Properties of IP configuration of an application gateway."
      },
      "ApplicationGatewayIPConfiguration": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ApplicationGatewayIPConfigurationPropertiesFormat"
          },
          "name": {
            "type": "string",
            "description": "Name of the IP configuration that is unique within an Application Gateway."
          },
          "etag": {
            "readOnly": true,
            "type": "string",
            "description": "A unique read-only string that changes whenever the resource is updated."
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Type of the resource."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/SubResource"
          }
        ],
[...]
