{
  "openapi": "3.0.0",
  "info": {
    "title": "ContainerServiceClient",
    "version": "2026-02-01",
    "description": "The Container Service Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "AgentPools"
    },
    {
      "name": "ManagedClusters"
    },
    {
      "name": "privateLinkResources"
    },
    {
      "name": "resolvePrivateLinkServiceId"
    },
    {
      "name": "MaintenanceConfigurations"
    },
    {
      "name": "ManagedNamespaces"
    },
    {
      "name": "Machines"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "TrustedAccess"
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "List_available_operations_for_the_container_service_resource_provider": {
        "value": {
          "value": [
            {
              "name": "Microsoft.ContainerService/locations/operations/read",
              "display": {
                "description": "Gets the status of an asynchronous operation",
                "operation": "Get Operation",
                "provider": "Microsoft Container Service",
                "resource": "Operation"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/locations/orchestrators/read",
              "display": {
                "description": "Lists the supported orchestrators",
                "operation": "List Orchestrators",
                "provider": "Microsoft Container Service",
                "resource": "Orchestrator"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/operations/read",
              "display": {
                "description": "Lists operations available on Microsoft.ContainerService resource provider",
                "operation": "List Available Container Service Operations",
                "provider": "Microsoft Container Service",
                "resource": "Available Container Service Operations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/register/action",
              "display": {
                "description": "Registers Subscription with Microsoft.ContainerService resource provider",
                "operation": "Register Subscription for Container Service",
                "provider": "Microsoft Container Service",
                "resource": "Container Service Register Subscription"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/unregister/action",
              "display": {
                "description": "Unregisters Subscription with Microsoft.ContainerService resource provider",
                "operation": "Unregister Subscription for Container Service",
                "provider": "Microsoft Container Service",
                "resource": "Container Service Unregister Subscription"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/locations/operationresults/read",
              "display": {
                "description": "Gets the status of an asynchronous operation result",
                "operation": "Get Operation Result",
                "provider": "Microsoft Container Service",
                "resource": "OperationResult"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/containerServices/read",
              "display": {
                "description": "Get a container service",
                "operation": "Get Container Service",
                "provider": "Microsoft Container Service",
                "resource": "Container Services"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/containerServices/write",
              "display": {
                "description": "Creates a new container service or updates an existing one",
                "operation": "Create or Update Container Service",
                "provider": "Microsoft Container Service",
                "resource": "Container Services"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/containerServices/delete",
              "display": {
                "description": "Deletes a container service",
                "operation": "Delete Container Service",
                "provider": "Microsoft Container Service",
                "resource": "Container Services"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/read",
              "display": {
                "description": "Get a managed cluster",
                "operation": "Get Managed Cluster",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/write",
              "display": {
                "description": "Creates a new managed cluster or updates an existing one",
                "operation": "Create or Update Managed Cluster",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/delete",
              "display": {
                "description": "Deletes a managed cluster",
                "operation": "Delete Managed Cluster",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/start/action",
              "display": {
                "description": "Starts a managed cluster",
                "operation": "Start Managed Cluster",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/stop/action",
              "display": {
                "description": "Stops a managed cluster",
                "operation": "Stop Managed Cluster",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/maintenanceConfigurations/read",
              "display": {
                "description": "Gets a maintenance configuration",
                "operation": "Get a maintenance configuration",
                "provider": "Microsoft Container Service",
                "resource": "Maintenance Configurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/maintenanceConfigurations/write",
              "display": {
                "description": "Creates a new MaintenanceConfiguration or updates an existing one",
                "operation": "Create or Update maintenance configuratio",
                "provider": "Microsoft Container Service",
                "resource": "Maintenance Configurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/maintenanceConfigurations/delete",
              "display": {
                "description": "Deletes a maintenance configuration",
                "operation": "Delete Maintenance Configuration",
                "provider": "Microsoft Container Service",
                "resource": "Maintenance Configurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/agentPools/read",
              "display": {
                "description": "Gets an agent pool",
                "operation": "Get Agent Pool",
                "provider": "Microsoft Container Service",
                "resource": "Agent Pools"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/agentPools/write",
              "display": {
                "description": "Creates a new agent pool or updates an existing one",
                "operation": "Create or Update Agent Pool",
                "provider": "Microsoft Container Service",
                "resource": "Agent Pools"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/agentPools/delete",
              "display": {
                "description": "Deletes an agent pool",
                "operation": "Delete Agent Pool",
                "provider": "Microsoft Container Service",
                "resource": "Agent Pools"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/agentPools/upgradeProfiles/read",
              "display": {
                "description": "Gets the upgrade profile of the Agent Pool",
                "operation": "Get Agent Pool UpgradeProfile",
                "provider": "Microsoft Container Service",
                "resource": "Agent Pools"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/agentPools/upgradeNodeImageVersion/write",
              "display": {
                "description": "Upgrade the node image version of agent pool",
                "operation": "Upgrade agent pool node image version",
                "provider": "Microsoft Container Service",
                "resource": "Agent Pools"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/availableAgentPoolVersions/read",
              "display": {
                "description": "Gets the available agent pool versions of the cluster",
                "operation": "Get Available Agent Pool Versions",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/accessProfiles/read",
              "display": {
                "description": "Get a managed cluster access profile by role name",
                "operation": "Get Managed Cluster AccessProfile",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/accessProfiles/listCredential/action",
              "display": {
                "description": "Get a managed cluster access profile by role name using list credential",
                "operation": "Get Managed Cluster AccessProfile by List Credential",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/upgradeProfiles/read",
              "display": {
                "description": "Gets the upgrade profile of the cluster",
                "operation": "Get UpgradeProfile",
                "provider": "Microsoft Container Service",
                "resource": "UpgradeProfile"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/listClusterAdminCredential/action",
              "display": {
                "description": "List the clusterAdmin credential of a managed cluster",
                "operation": "List clusterAdmin credential",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/listClusterUserCredential/action",
              "display": {
                "description": "List the clusterUser credential of a managed cluster",
                "operation": "List clusterUser credential",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/listClusterMonitoringUserCredential/action",
              "display": {
                "description": "List the clusterMonitoringUser credential of a managed cluster",
                "operation": "List clusterMonitoringUser credential",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/resetServicePrincipalProfile/action",
              "display": {
                "description": "Reset the service principal profile of a managed cluster",
                "operation": "Reset service principal profile",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/resolvePrivateLinkServiceId/action",
              "display": {
                "description": "Resolve the private link service id of a managed cluster",
                "operation": "Resolve private link service id",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/resetAADProfile/action",
              "display": {
                "description": "Reset the AAD profile of a managed cluster",
                "operation": "Reset AAD profile",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/rotateClusterCertificates/action",
              "display": {
                "description": "Rotate certificates of a managed cluster",
                "operation": "Rotate certificates of the cluster",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/runCommand/action",
              "display": {
                "description": "Run user issued command against managed kubernetes server.",
                "operation": "RunCommand",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/commandResults/read",
              "display": {
                "description": "Retrieve result from previous issued command.",
                "operation": "CommandResult",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/providers/Microsoft.Insights/diagnosticSettings/read",
              "display": {
                "description": "Get the diagnostic setting for a managed cluster resource",
                "operation": "Read Diagnostic Setting",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/providers/Microsoft.Insights/diagnosticSettings/write",
              "display": {
                "description": "Creates or updates the diagnostic setting for a managed cluster resource",
                "operation": "Write Diagnostic Setting",
                "provider": "Microsoft Container Service",
                "resource": "Managed Clusters"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/detectors/read",
              "display": {
                "description": "Get Managed Cluster Detector",
                "operation": "Get Managed Cluster Detector",
                "provider": "Microsoft Container Service",
                "resource": "Managed Cluster Detector"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/diagnosticsState/read",
              "display": {
                "description": "Gets the diagnostics state of the cluster",
                "operation": "Get Diagnostics State",
                "provider": "Microsoft Container Service",
                "resource": "Diagnostics State"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/privateEndpointConnectionsApproval/action",
              "display": {
                "description": "Determines if user is allowed to approve a private endpoint connection",
                "operation": "Approve Private Endpoint Connections",
                "provider": "Microsoft Container Service",
                "resource": "Approve Private Endpoint Connections"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/privateEndpointConnections/read",
              "display": {
                "description": "Get private endpoint connection",
                "operation": "Get private endpoint connection",
                "provider": "Microsoft Container Service",
                "resource": "Private Endpoint Connections"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/privateEndpointConnections/write",
              "display": {
                "description": "Approve or Reject a private endpoint connection",
                "operation": "Update private endpoint connection",
                "provider": "Microsoft Container Service",
                "resource": "Private Endpoint Connections"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/privateEndpointConnections/delete",
              "display": {
                "description": "Delete private endpoint connection",
                "operation": "Delete private endpoint connection",
                "provider": "Microsoft Container Service",
                "resource": "Private Endpoint Connections"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensionaddons/read",
              "display": {
                "description": "Gets an extension addon",
                "operation": "Get an extension addon",
                "provider": "Microsoft Container Service",
                "resource": "ExtensionAddons"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensionaddons/write",
              "display": {
                "description": "Creates a new extension addon or updates an existing one",
                "operation": "Create or Update extension addon",
                "provider": "Microsoft Container Service",
                "resource": "ExtensionAddons"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensionaddons/delete",
              "display": {
                "description": "Deletes an extension addon",
                "operation": "Delete an extension addon",
                "provider": "Microsoft Container Service",
                "resource": "ExtensionAddons"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/snapshots/read",
              "display": {
                "description": "Get a snapshot",
                "operation": "Get Snapshot",
                "provider": "Microsoft Container Service",
                "resource": "Snapshots"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/snapshots/write",
              "display": {
                "description": "Creates a new snapshot",
                "operation": "Create Snapshot",
                "provider": "Microsoft Container Service",
                "resource": "Snapshots"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/snapshots/delete",
              "display": {
                "description": "Deletes a snapshot",
                "operation": "Delete Snapshot",
                "provider": "Microsoft Container Service",
                "resource": "Snapshots"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/eventGridFilters/read",
              "display": {
                "description": "Get eventgrid filter",
                "operation": "Get eventgrid filter",
                "provider": "Microsoft Container Service",
                "resource": "EventGridFilters"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/eventGridFilters/write",
              "display": {
                "description": "Create or Update eventgrid filter",
                "operation": "Create or Update eventgrid filter",
                "provider": "Microsoft Container Service",
                "resource": "EventGridFilters"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/eventGridFilters/delete",
              "display": {
                "description": "Delete an eventgrid filter",
                "operation": "Delete an eventgrid filter",
                "provider": "Microsoft Container Service",
                "resource": "EventGridFilters"
              },
              "origin": "system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/initializerconfigurations/read",
              "display": {
                "description": "Reads initializerconfigurations",
                "operation": "Gets/List initializerconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Initializerconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/initializerconfigurations/write",
              "display": {
                "description": "Writes initializerconfigurations",
                "operation": "Creates/Updates initializerconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Initializerconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/initializerconfigurations/delete",
              "display": {
                "description": "Deletes/DeletesCollection initializerconfigurations resource",
                "operation": "Initializerconfigurations",
                "provider": "Microsoft Container Service",
                "resource": "Initializerconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/mutatingwebhookconfigurations/read",
              "display": {
                "description": "Reads mutatingwebhookconfigurations",
                "operation": "Gets/List mutatingwebhookconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Mutatingwebhookconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/mutatingwebhookconfigurations/write",
              "display": {
                "description": "Writes mutatingwebhookconfigurations",
                "operation": "Creates/Updates mutatingwebhookconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Mutatingwebhookconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/mutatingwebhookconfigurations/delete",
              "display": {
                "description": "Deletes mutatingwebhookconfigurations",
                "operation": "Deletes/DeletesCollection mutatingwebhookconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Mutatingwebhookconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/validatingwebhookconfigurations/read",
              "display": {
                "description": "Reads validatingwebhookconfigurations",
                "operation": "Gets/List validatingwebhookconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Validatingwebhookconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/validatingwebhookconfigurations/write",
              "display": {
                "description": "Writes validatingwebhookconfigurations",
                "operation": "Creates/Updates validatingwebhookconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Validatingwebhookconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/admissionregistration.k8s.io/validatingwebhookconfigurations/delete",
              "display": {
                "description": "Deletes validatingwebhookconfigurations",
                "operation": "Deletes/DeletesCollection validatingwebhookconfigurations resource",
                "provider": "Microsoft Container Service",
                "resource": "Validatingwebhookconfigurations"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apiextensions.k8s.io/customresourcedefinitions/read",
              "display": {
                "description": "Reads customresourcedefinitions",
                "operation": "Gets/List customresourcedefinitions resource",
                "provider": "Microsoft Container Service",
                "resource": "Customresourcedefinitions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apiextensions.k8s.io/customresourcedefinitions/write",
              "display": {
                "description": "Writes customresourcedefinitions",
                "operation": "Creates/Updates customresourcedefinitions resource",
                "provider": "Microsoft Container Service",
                "resource": "Customresourcedefinitions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apiextensions.k8s.io/customresourcedefinitions/delete",
              "display": {
                "description": "Deletes customresourcedefinitions",
                "operation": "Deletes/DeletesCollection customresourcedefinitions resource",
                "provider": "Microsoft Container Service",
                "resource": "Customresourcedefinitions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apiregistration.k8s.io/apiservices/read",
              "display": {
                "description": "Reads apiservices",
                "operation": "Gets/List apiservices resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiservices"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apiregistration.k8s.io/apiservices/write",
              "display": {
                "description": "Writes apiservices",
                "operation": "Creates/Updates apiservices resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiservices"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apiregistration.k8s.io/apiservices/delete",
              "display": {
                "description": "Deletes apiservices",
                "operation": "Deletes/DeletesCollection apiservices resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiservices"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/controllerrevisions/read",
              "display": {
                "description": "Reads controllerrevisions",
                "operation": "Gets/List controllerrevisions resource",
                "provider": "Microsoft Container Service",
                "resource": "Controllerrevisions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/controllerrevisions/write",
              "display": {
                "description": "Writes controllerrevisions",
                "operation": "Creates/Updates controllerrevisions resource",
                "provider": "Microsoft Container Service",
                "resource": "Controllerrevisions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/controllerrevisions/delete",
              "display": {
                "description": "Deletes controllerrevisions",
                "operation": "Deletes/DeletesCollection controllerrevisions resource",
                "provider": "Microsoft Container Service",
                "resource": "Controllerrevisions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/daemonsets/read",
              "display": {
                "description": "Reads daemonsets",
                "operation": "Gets/List daemonsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Daemonsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/daemonsets/write",
              "display": {
                "description": "Writes daemonsets",
                "operation": "Creates/Updates daemonsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Daemonsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/daemonsets/delete",
              "display": {
                "description": "Deletes daemonsets",
                "operation": "Deletes/DeletesCollection daemonsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Daemonsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/deployments/read",
              "display": {
                "description": "Reads deployments",
                "operation": "Gets/List deployments resource",
                "provider": "Microsoft Container Service",
                "resource": "Deployments"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/deployments/write",
              "display": {
                "description": "Writes deployments",
                "operation": "Creates/Updates deployments resource",
                "provider": "Microsoft Container Service",
                "resource": "Deployments"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/deployments/delete",
              "display": {
                "description": "Deletes deployments",
                "operation": "Deletes/DeletesCollection deployments resource",
                "provider": "Microsoft Container Service",
                "resource": "Deployments"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/replicasets/read",
              "display": {
                "description": "Reads replicasets",
                "operation": "Gets/List replicasets resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicasets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/replicasets/write",
              "display": {
                "description": "Writes replicasets",
                "operation": "Creates/Updates replicasets resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicasets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/replicasets/delete",
              "display": {
                "description": "Deletes replicasets",
                "operation": "Deletes/DeletesCollection replicasets resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicasets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/statefulsets/read",
              "display": {
                "description": "Reads statefulsets",
                "operation": "Gets/List statefulsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Statefulsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/statefulsets/write",
              "display": {
                "description": "Writes statefulsets",
                "operation": "Creates/Updates statefulsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Statefulsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apps/statefulsets/delete",
              "display": {
                "description": "Deletes statefulsets",
                "operation": "Deletes/DeletesCollection statefulsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Statefulsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/authentication.k8s.io/tokenreviews/write",
              "display": {
                "description": "Writes tokenreviews",
                "operation": "Creates/Updates tokenreviews resource",
                "provider": "Microsoft Container Service",
                "resource": "Tokenreviews"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/authorization.k8s.io/localsubjectaccessreviews/write",
              "display": {
                "description": "Writes localsubjectaccessreviews",
                "operation": "Creates/Updates localsubjectaccessreviews resource",
                "provider": "Microsoft Container Service",
                "resource": "Localsubjectaccessreviews"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/authorization.k8s.io/selfsubjectaccessreviews/write",
              "display": {
                "description": "Writes selfsubjectaccessreviews",
                "operation": "Creates/Updates selfsubjectaccessreviews resource",
                "provider": "Microsoft Container Service",
                "resource": "Selfsubjectaccessreviews"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/authorization.k8s.io/selfsubjectrulesreviews/write",
              "display": {
                "description": "Writes selfsubjectrulesreviews",
                "operation": "Creates/Updates selfsubjectrulesreviews resource",
                "provider": "Microsoft Container Service",
                "resource": "Selfsubjectrulesreviews"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/authorization.k8s.io/subjectaccessreviews/write",
              "display": {
                "description": "Writes subjectaccessreviews",
                "operation": "Creates/Updates subjectaccessreviews resource",
                "provider": "Microsoft Container Service",
                "resource": "Subjectaccessreviews"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/autoscaling/horizontalpodautoscalers/read",
              "display": {
                "description": "Reads horizontalpodautoscalers",
                "operation": "Gets/List horizontalpodautoscalers resource",
                "provider": "Microsoft Container Service",
                "resource": "Horizontalpodautoscalers"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/autoscaling/horizontalpodautoscalers/write",
              "display": {
                "description": "Writes horizontalpodautoscalers",
                "operation": "Creates/Updates horizontalpodautoscalers resource",
                "provider": "Microsoft Container Service",
                "resource": "Horizontalpodautoscalers"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/autoscaling/horizontalpodautoscalers/delete",
              "display": {
                "description": "Deletes horizontalpodautoscalers",
                "operation": "Deletes/DeletesCollection horizontalpodautoscalers resource",
                "provider": "Microsoft Container Service",
                "resource": "Horizontalpodautoscalers"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/batch/cronjobs/read",
              "display": {
                "description": "Reads cronjobs",
                "operation": "Gets/List cronjobs resource",
                "provider": "Microsoft Container Service",
                "resource": "Cronjobs"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/batch/cronjobs/write",
              "display": {
                "description": "Writes cronjobs",
                "operation": "Creates/Updates cronjobs resource",
                "provider": "Microsoft Container Service",
                "resource": "Cronjobs"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/batch/cronjobs/delete",
              "display": {
                "description": "Deletes cronjobs",
                "operation": "Deletes/DeletesCollection cronjobs resource",
                "provider": "Microsoft Container Service",
                "resource": "Cronjobs"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/batch/jobs/read",
              "display": {
                "description": "Reads jobs",
                "operation": "Gets/List jobs resource",
                "provider": "Microsoft Container Service",
                "resource": "Jobs"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/batch/jobs/write",
              "display": {
                "description": "Writes jobs",
                "operation": "Creates/Updates jobs resource",
                "provider": "Microsoft Container Service",
                "resource": "Jobs"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/batch/jobs/delete",
              "display": {
                "description": "Deletes jobs",
                "operation": "Deletes/DeletesCollection jobs resource",
                "provider": "Microsoft Container Service",
                "resource": "Jobs"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/certificates.k8s.io/certificatesigningrequests/read",
              "display": {
                "description": "Reads certificatesigningrequests",
                "operation": "Gets/List certificatesigningrequests resource",
                "provider": "Microsoft Container Service",
                "resource": "Certificatesigningrequests"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/certificates.k8s.io/certificatesigningrequests/write",
              "display": {
                "description": "Writes certificatesigningrequests",
                "operation": "Creates/Updates certificatesigningrequests resource",
                "provider": "Microsoft Container Service",
                "resource": "Certificatesigningrequests"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/certificates.k8s.io/certificatesigningrequests/delete",
              "display": {
                "description": "Deletes certificatesigningrequests",
                "operation": "Deletes/DeletesCollection certificatesigningrequests resource",
                "provider": "Microsoft Container Service",
                "resource": "Certificatesigningrequests"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/coordination.k8s.io/leases/read",
              "display": {
                "description": "Reads leases",
                "operation": "Gets/List leases resource",
                "provider": "Microsoft Container Service",
                "resource": "Leases"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/coordination.k8s.io/leases/write",
              "display": {
                "description": "Writes leases",
                "operation": "Creates/Updates leases resource",
                "provider": "Microsoft Container Service",
                "resource": "Leases"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/coordination.k8s.io/leases/delete",
              "display": {
                "description": "Deletes leases",
                "operation": "Deletes/DeletesCollection leases resource",
                "provider": "Microsoft Container Service",
                "resource": "Leases"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/bindings/write",
              "display": {
                "description": "Writes bindings",
                "operation": "Creates/Updates bindings resource",
                "provider": "Microsoft Container Service",
                "resource": "Bindings"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/componentstatuses/read",
              "display": {
                "description": "Reads componentstatuses",
                "operation": "Gets/List componentstatuses resource",
                "provider": "Microsoft Container Service",
                "resource": "Componentstatuses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/componentstatuses/write",
              "display": {
                "description": "Writes componentstatuses",
                "operation": "Creates/Updates componentstatuses resource",
                "provider": "Microsoft Container Service",
                "resource": "Componentstatuses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/componentstatuses/delete",
              "display": {
                "description": "Deletes componentstatuses",
                "operation": "Deletes/DeletesCollection componentstatuses resource",
                "provider": "Microsoft Container Service",
                "resource": "Componentstatuses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/configmaps/read",
              "display": {
                "description": "Reads configmaps",
                "operation": "Gets/List configmaps resource",
                "provider": "Microsoft Container Service",
                "resource": "Configmaps"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/configmaps/write",
              "display": {
                "description": "Writes configmaps",
                "operation": "Creates/Updates configmaps resource",
                "provider": "Microsoft Container Service",
                "resource": "Configmaps"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/configmaps/delete",
              "display": {
                "description": "Deletes configmaps",
                "operation": "Deletes/DeletesCollection configmaps resource",
                "provider": "Microsoft Container Service",
                "resource": "Configmaps"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/endpoints/read",
              "display": {
                "description": "Reads endpoints",
                "operation": "Gets/List endpoints resource",
                "provider": "Microsoft Container Service",
                "resource": "Endpoints"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/endpoints/write",
              "display": {
                "description": "Writes endpoints",
                "operation": "Creates/Updates endpoints resource",
                "provider": "Microsoft Container Service",
                "resource": "Endpoints"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/endpoints/delete",
              "display": {
                "description": "Deletes endpoints",
                "operation": "Deletes/DeletesCollection endpoints resource",
                "provider": "Microsoft Container Service",
                "resource": "Endpoints"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/events/read",
              "display": {
                "description": "Reads events",
                "operation": "Gets/List events resource",
                "provider": "Microsoft Container Service",
                "resource": "Events"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/events/write",
              "display": {
                "description": "Writes events",
                "operation": "Creates/Updates events resource",
                "provider": "Microsoft Container Service",
                "resource": "Events"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/events/delete",
              "display": {
                "description": "Deletes events",
                "operation": "Deletes/DeletesCollection events resource",
                "provider": "Microsoft Container Service",
                "resource": "Events"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/limitranges/read",
              "display": {
                "description": "Reads limitranges",
                "operation": "Gets/List limitranges resource",
                "provider": "Microsoft Container Service",
                "resource": "Limitranges"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/limitranges/write",
              "display": {
                "description": "Writes limitranges",
                "operation": "Creates/Updates limitranges resource",
                "provider": "Microsoft Container Service",
                "resource": "Limitranges"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/limitranges/delete",
              "display": {
                "description": "Deletes limitranges",
                "operation": "Deletes/DeletesCollection limitranges resource",
                "provider": "Microsoft Container Service",
                "resource": "Limitranges"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/namespaces/read",
              "display": {
                "description": "Reads namespaces",
                "operation": "Gets/List namespaces resource",
                "provider": "Microsoft Container Service",
                "resource": "Namespaces"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/namespaces/write",
              "display": {
                "description": "Writes namespaces",
                "operation": "Creates/Updates namespaces resource",
                "provider": "Microsoft Container Service",
                "resource": "Namespaces"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/namespaces/delete",
              "display": {
                "description": "Deletes namespaces",
                "operation": "Deletes/DeletesCollection namespaces resource",
                "provider": "Microsoft Container Service",
                "resource": "Namespaces"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/nodes/read",
              "display": {
                "description": "Reads nodes",
                "operation": "Gets/List nodes resource",
                "provider": "Microsoft Container Service",
                "resource": "Nodes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/nodes/write",
              "display": {
                "description": "Writes nodes",
                "operation": "Creates/Updates nodes resource",
                "provider": "Microsoft Container Service",
                "resource": "Nodes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/nodes/delete",
              "display": {
                "description": "Deletes nodes",
                "operation": "Deletes/DeletesCollection nodes resource",
                "provider": "Microsoft Container Service",
                "resource": "Nodes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/persistentvolumeclaims/read",
              "display": {
                "description": "Reads persistentvolumeclaims",
                "operation": "Gets/List persistentvolumeclaims resource",
                "provider": "Microsoft Container Service",
                "resource": "Persistentvolumeclaims"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/persistentvolumeclaims/write",
              "display": {
                "description": "Writes persistentvolumeclaims",
                "operation": "Creates/Updates persistentvolumeclaims resource",
                "provider": "Microsoft Container Service",
                "resource": "Persistentvolumeclaims"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/persistentvolumeclaims/delete",
              "display": {
                "description": "Deletes persistentvolumeclaims",
                "operation": "Deletes/DeletesCollection persistentvolumeclaims resource",
                "provider": "Microsoft Container Service",
                "resource": "Persistentvolumeclaims"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/persistentvolumes/read",
              "display": {
                "description": "Reads persistentvolumes",
                "operation": "Gets/List persistentvolumes resource",
                "provider": "Microsoft Container Service",
                "resource": "Persistentvolumes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/persistentvolumes/write",
              "display": {
                "description": "Writes persistentvolumes",
                "operation": "Creates/Updates persistentvolumes resource",
                "provider": "Microsoft Container Service",
                "resource": "Persistentvolumes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/persistentvolumes/delete",
              "display": {
                "description": "Deletes persistentvolumes",
                "operation": "Deletes/DeletesCollection persistentvolumes resource",
                "provider": "Microsoft Container Service",
                "resource": "Persistentvolumes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/pods/read",
              "display": {
                "description": "Reads pods",
                "operation": "Gets/List pods resource",
                "provider": "Microsoft Container Service",
                "resource": "Pods"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/pods/write",
              "display": {
                "description": "Writes pods",
                "operation": "Creates/Updates pods resource",
                "provider": "Microsoft Container Service",
                "resource": "Pods"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/pods/delete",
              "display": {
                "description": "Deletes pods",
                "operation": "Deletes/DeletesCollection pods resource",
                "provider": "Microsoft Container Service",
                "resource": "Pods"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/pods/exec/action",
              "display": {
                "description": "Exec into pods resource",
                "operation": "Exec into pods resource ",
                "provider": "Microsoft Container Service",
                "resource": "Pods"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/podtemplates/read",
              "display": {
                "description": "Reads podtemplates",
                "operation": "Gets/List podtemplates resource",
                "provider": "Microsoft Container Service",
                "resource": "Podtemplates"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/podtemplates/write",
              "display": {
                "description": "Writes podtemplates",
                "operation": "Creates/Updates podtemplates resource",
                "provider": "Microsoft Container Service",
                "resource": "Podtemplates"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/podtemplates/delete",
              "display": {
                "description": "Deletes podtemplates",
                "operation": "Deletes/DeletesCollection podtemplates resource",
                "provider": "Microsoft Container Service",
                "resource": "Podtemplates"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/replicationcontrollers/read",
              "display": {
                "description": "Reads replicationcontrollers",
                "operation": "Gets/List replicationcontrollers resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicationcontrollers"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/replicationcontrollers/write",
              "display": {
                "description": "Writes replicationcontrollers",
                "operation": "Creates/Updates replicationcontrollers resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicationcontrollers"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/replicationcontrollers/delete",
              "display": {
                "description": "Deletes replicationcontrollers",
                "operation": "Deletes/DeletesCollection replicationcontrollers resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicationcontrollers"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/resourcequotas/read",
              "display": {
                "description": "Reads resourcequotas",
                "operation": "Gets/List resourcequotas resource",
                "provider": "Microsoft Container Service",
                "resource": "Resourcequotas"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/resourcequotas/write",
              "display": {
                "description": "Writes resourcequotas",
                "operation": "Creates/Updates resourcequotas resource",
                "provider": "Microsoft Container Service",
                "resource": "Resourcequotas"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/resourcequotas/delete",
              "display": {
                "description": "Deletes resourcequotas",
                "operation": "Deletes/DeletesCollection resourcequotas resource",
                "provider": "Microsoft Container Service",
                "resource": "Resourcequotas"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/secrets/read",
              "display": {
                "description": "Reads secrets",
                "operation": "Gets/List secrets resource",
                "provider": "Microsoft Container Service",
                "resource": "Secrets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/secrets/write",
              "display": {
                "description": "Writes secrets",
                "operation": "Creates/Updates secrets resource",
                "provider": "Microsoft Container Service",
                "resource": "Secrets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/secrets/delete",
              "display": {
                "description": "Deletes secrets",
                "operation": "Deletes/DeletesCollection secrets resource",
                "provider": "Microsoft Container Service",
                "resource": "Secrets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/serviceaccounts/read",
              "display": {
                "description": "Reads serviceaccounts",
                "operation": "Gets/List serviceaccounts resource",
                "provider": "Microsoft Container Service",
                "resource": "Serviceaccounts"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/serviceaccounts/write",
              "display": {
                "description": "Writes serviceaccounts",
                "operation": "Creates/Updates serviceaccounts resource",
                "provider": "Microsoft Container Service",
                "resource": "Serviceaccounts"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/serviceaccounts/delete",
              "display": {
                "description": "Deletes serviceaccounts",
                "operation": "Deletes/DeletesCollection serviceaccounts resource",
                "provider": "Microsoft Container Service",
                "resource": "Serviceaccounts"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/services/read",
              "display": {
                "description": "Reads services",
                "operation": "Gets/List services resource",
                "provider": "Microsoft Container Service",
                "resource": "Services"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/services/write",
              "display": {
                "description": "Writes services",
                "operation": "Creates/Updates services resource",
                "provider": "Microsoft Container Service",
                "resource": "Services"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/services/delete",
              "display": {
                "description": "Deletes services",
                "operation": "Deletes/DeletesCollection services resource",
                "provider": "Microsoft Container Service",
                "resource": "Services"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/events.k8s.io/events/read",
              "display": {
                "description": "Reads events",
                "operation": "Gets/List events resource",
                "provider": "Microsoft Container Service",
                "resource": "Events"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/events.k8s.io/events/write",
              "display": {
                "description": "Writes events",
                "operation": "Creates/Updates events resource",
                "provider": "Microsoft Container Service",
                "resource": "Events"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/events.k8s.io/events/delete",
              "display": {
                "description": "Deletes events",
                "operation": "Deletes/DeletesCollection events resource",
                "provider": "Microsoft Container Service",
                "resource": "Events"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/daemonsets/read",
              "display": {
                "description": "Reads daemonsets",
                "operation": "Gets/List daemonsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Daemonsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/daemonsets/write",
              "display": {
                "description": "Writes daemonsets",
                "operation": "Creates/Updates daemonsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Daemonsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/daemonsets/delete",
              "display": {
                "description": "Deletes daemonsets",
                "operation": "Deletes/DeletesCollection daemonsets resource",
                "provider": "Microsoft Container Service",
                "resource": "Daemonsets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/deployments/read",
              "display": {
                "description": "Reads deployments",
                "operation": "Gets/List deployments resource",
                "provider": "Microsoft Container Service",
                "resource": "Deployments"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/deployments/write",
              "display": {
                "description": "Writes deployments",
                "operation": "Creates/Updates deployments resource",
                "provider": "Microsoft Container Service",
                "resource": "Deployments"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/deployments/delete",
              "display": {
                "description": "Deletes deployments",
                "operation": "Deletes/DeletesCollection deployments resource",
                "provider": "Microsoft Container Service",
                "resource": "Deployments"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/ingresses/read",
              "display": {
                "description": "Reads ingresses",
                "operation": "Gets/List ingresses resource",
                "provider": "Microsoft Container Service",
                "resource": "Ingresses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/ingresses/write",
              "display": {
                "description": "Writes ingresses",
                "operation": "Creates/Updates ingresses resource",
                "provider": "Microsoft Container Service",
                "resource": "Ingresses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/ingresses/delete",
              "display": {
                "description": "Deletes ingresses",
                "operation": "Deletes/DeletesCollection ingresses resource",
                "provider": "Microsoft Container Service",
                "resource": "Ingresses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/networkpolicies/read",
              "display": {
                "description": "Reads networkpolicies",
                "operation": "Gets/List networkpolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Networkpolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/networkpolicies/write",
              "display": {
                "description": "Writes networkpolicies",
                "operation": "Creates/Updates networkpolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Networkpolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/networkpolicies/delete",
              "display": {
                "description": "Deletes networkpolicies",
                "operation": "Deletes/DeletesCollection networkpolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Networkpolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/podsecuritypolicies/read",
              "display": {
                "description": "Reads podsecuritypolicies",
                "operation": "Gets/List podsecuritypolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Podsecuritypolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/podsecuritypolicies/write",
              "display": {
                "description": "Writes podsecuritypolicies",
                "operation": "Creates/Updates podsecuritypolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Podsecuritypolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/podsecuritypolicies/delete",
              "display": {
                "description": "Deletes podsecuritypolicies",
                "operation": "Deletes/DeletesCollection podsecuritypolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Podsecuritypolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/replicasets/read",
              "display": {
                "description": "Reads replicasets",
                "operation": "Gets/List replicasets resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicasets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/replicasets/write",
              "display": {
                "description": "Writes replicasets",
                "operation": "Creates/Updates replicasets resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicasets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/extensions/replicasets/delete",
              "display": {
                "description": "Deletes replicasets",
                "operation": "Deletes/DeletesCollection replicasets resource",
                "provider": "Microsoft Container Service",
                "resource": "Replicasets"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/metrics.k8s.io/pods/read",
              "display": {
                "description": "Reads pods",
                "operation": "Gets/List pods resource",
                "provider": "Microsoft Container Service",
                "resource": "Pods"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/metrics.k8s.io/nodes/read",
              "display": {
                "description": "Reads nodes",
                "operation": "Gets/List nodes resource",
                "provider": "Microsoft Container Service",
                "resource": "Nodes"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/networking.k8s.io/networkpolicies/read",
              "display": {
                "description": "Reads networkpolicies",
                "operation": "Gets/List networkpolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Networkpolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/networking.k8s.io/networkpolicies/write",
              "display": {
                "description": "Writes networkpolicies",
                "operation": "Creates/Updates networkpolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Networkpolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/networking.k8s.io/networkpolicies/delete",
              "display": {
                "description": "Deletes networkpolicies",
                "operation": "Deletes/DeletesCollection networkpolicies resource",
                "provider": "Microsoft Container Service",
                "resource": "Networkpolicies"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/networking.k8s.io/ingresses/read",
              "display": {
                "description": "Reads ingresses",
                "operation": "Gets/List ingresses resource",
                "provider": "Microsoft Container Service",
                "resource": "Ingresses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/networking.k8s.io/ingresses/write",
              "display": {
                "description": "Writes ingresses",
                "operation": "Creates/Updates ingresses resource",
                "provider": "Microsoft Container Service",
                "resource": "Ingresses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/networking.k8s.io/ingresses/delete",
              "display": {
                "description": "Deletes ingresses",
                "operation": "Deletes/DeletesCollection ingresses resource",
                "provider": "Microsoft Container Service",
                "resource": "Ingresses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/node.k8s.io/runtimeclasses/read",
              "display": {
                "description": "Reads runtimeclasses",
                "operation": "Gets/List runtimeclasses resource",
                "provider": "Microsoft Container Service",
                "resource": "Runtimeclasses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/node.k8s.io/runtimeclasses/write",
              "display": {
                "description": "Writes runtimeclasses",
                "operation": "Creates/Updates runtimeclasses resource",
                "provider": "Microsoft Container Service",
                "resource": "Runtimeclasses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/node.k8s.io/runtimeclasses/delete",
              "display": {
                "description": "Deletes runtimeclasses",
                "operation": "Deletes/DeletesCollection runtimeclasses resource",
                "provider": "Microsoft Container Service",
                "resource": "Runtimeclasses"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/api/read",
              "display": {
                "description": "Reads api",
                "operation": "Gets/List api resource",
                "provider": "Microsoft Container Service",
                "resource": "Api"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/api/v1/read",
              "display": {
                "description": "Reads api/v1",
                "operation": "Gets/List api/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Api/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/read",
              "display": {
                "description": "Reads apis",
                "operation": "Gets/List apis resource",
                "provider": "Microsoft Container Service",
                "resource": "Apis"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/admissionregistration.k8s.io/read",
              "display": {
                "description": "Reads admissionregistration.k8s.io",
                "operation": "Gets/List admissionregistration.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Admissionregistration.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/admissionregistration.k8s.io/v1/read",
              "display": {
                "description": "Reads admissionregistration.k8s.io/v1",
                "operation": "Gets/List admissionregistration.k8s.io/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Admissionregistration.K8s.Io/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/admissionregistration.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads admissionregistration.k8s.io/v1beta1",
                "operation": "Gets/List admissionregistration.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Admissionregistration.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apiextensions.k8s.io/read",
              "display": {
                "description": "Reads apiextensions.k8s.io",
                "operation": "Gets/List apiextensions.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiextensions.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apiextensions.k8s.io/v1/read",
              "display": {
                "description": "Reads apiextensions.k8s.io/v1",
                "operation": "Gets/List apiextensions.k8s.io/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiextensions.K8s.Io/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apiextensions.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads apiextensions.k8s.io/v1beta1",
                "operation": "Gets/List apiextensions.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiextensions.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apiregistration.k8s.io/read",
              "display": {
                "description": "Reads apiregistration.k8s.io",
                "operation": "Gets/List apiregistration.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiregistration.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apiregistration.k8s.io/v1/read",
              "display": {
                "description": "Reads apiregistration.k8s.io/v1",
                "operation": "Gets/List apiregistration.k8s.io/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiregistration.K8s.Io/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apiregistration.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads apiregistration.k8s.io/v1beta1",
                "operation": "Gets/List apiregistration.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apiregistration.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apps/read",
              "display": {
                "description": "Reads apps",
                "operation": "Gets/List apps resource",
                "provider": "Microsoft Container Service",
                "resource": "Apps"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apps/v1/read",
              "display": {
                "description": "Reads apps/v1",
                "operation": "Gets/List apps/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apps/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apps/v1beta1/read",
              "display": {
                "description": "Reads apps/v1beta1",
                "operation": "Gets/List apps/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apps/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/apps/v1beta2/read",
              "display": {
                "description": "Reads apps/v1beta2",
                "operation": "Gets/List apps/v1beta2 resource",
                "provider": "Microsoft Container Service",
                "resource": "Apps/V1beta2"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/authentication.k8s.io/read",
              "display": {
                "description": "Reads authentication.k8s.io",
                "operation": "Gets/List authentication.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Authentication.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/authentication.k8s.io/v1/read",
              "display": {
                "description": "Reads authentication.k8s.io/v1",
                "operation": "Gets/List authentication.k8s.io/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Authentication.K8s.Io/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/authentication.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads authentication.k8s.io/v1beta1",
                "operation": "Gets/List authentication.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Authentication.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/authorization.k8s.io/read",
              "display": {
                "description": "Reads authorization.k8s.io",
                "operation": "Gets/List authorization.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Authorization.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/authorization.k8s.io/v1/read",
              "display": {
                "description": "Reads authorization.k8s.io/v1",
                "operation": "Gets/List authorization.k8s.io/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Authorization.K8s.Io/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/authorization.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads authorization.k8s.io/v1beta1",
                "operation": "Gets/List authorization.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Authorization.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/autoscaling/read",
              "display": {
                "description": "Reads autoscaling",
                "operation": "Gets/List autoscaling resource",
                "provider": "Microsoft Container Service",
                "resource": "Autoscaling"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/autoscaling/v1/read",
              "display": {
                "description": "Reads autoscaling/v1",
                "operation": "Gets/List autoscaling/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Autoscaling/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/autoscaling/v2beta1/read",
              "display": {
                "description": "Reads autoscaling/v2beta1",
                "operation": "Gets/List autoscaling/v2beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Autoscaling/V2beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/autoscaling/v2beta2/read",
              "display": {
                "description": "Reads autoscaling/v2beta2",
                "operation": "Gets/List autoscaling/v2beta2 resource",
                "provider": "Microsoft Container Service",
                "resource": "Autoscaling/V2beta2"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/batch/read",
              "display": {
                "description": "Reads batch",
                "operation": "Gets/List batch resource",
                "provider": "Microsoft Container Service",
                "resource": "Batch"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/batch/v1/read",
              "display": {
                "description": "Reads batch/v1",
                "operation": "Gets/List batch/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Batch/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/batch/v1beta1/read",
              "display": {
                "description": "Reads batch/v1beta1",
                "operation": "Gets/List batch/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Batch/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/certificates.k8s.io/read",
              "display": {
                "description": "Reads certificates.k8s.io",
                "operation": "Gets/List certificates.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Certificates.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/certificates.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads certificates.k8s.io/v1beta1",
                "operation": "Gets/List certificates.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Certificates.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/coordination.k8s.io/read",
              "display": {
                "description": "Reads coordination.k8s.io",
                "operation": "Gets/List coordination.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Coordination.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/coordination.k8s.io/v1/read",
              "display": {
                "description": "Reads coordination/v1",
                "operation": "Gets/List coordination/v1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Coordination.K8s.Io/V1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/coordination.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads coordination.k8s.io/v1beta1",
                "operation": "Gets/List coordination.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Coordination.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/events.k8s.io/read",
              "display": {
                "description": "Reads events.k8s.io",
                "operation": "Gets/List events.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Events.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/events.k8s.io/v1beta1/read",
              "display": {
                "description": "Reads events.k8s.io/v1beta1",
                "operation": "Gets/List events.k8s.io/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Events.K8s.Io/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/extensions/read",
              "display": {
                "description": "Reads extensions",
                "operation": "Gets/List extensions resource",
                "provider": "Microsoft Container Service",
                "resource": "Extensions"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/extensions/v1beta1/read",
              "display": {
                "description": "Reads extensions/v1beta1",
                "operation": "Gets/List extensions/v1beta1 resource",
                "provider": "Microsoft Container Service",
                "resource": "Extensions/V1beta1"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/metrics.k8s.io/read",
              "display": {
                "description": "Reads metrics.k8s.io",
                "operation": "Gets/List metrics.k8s.io resource",
                "provider": "Microsoft Container Service",
                "resource": "Metrics.K8s.Io"
              },
              "origin": "user,system"
            },
            {
              "name": "Microsoft.ContainerService/managedClusters/apis/metrics.k8s.io/v1beta1/read",
              "display": {
[...]
