{
  "openapi": "3.0.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2025-03-01"
  },
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "Get_load_balancer": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "type": "Microsoft.Network/loadBalancers",
          "location": "westus",
          "sku": {
            "name": "Basic"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "scope": "Public",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "privateIPAddressVersion": "IPv4",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": true,
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/probes",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": true
                }
              }
            ],
            "inboundNatPools": []
          }
        }
      },
      "Get_load_balancer_with_inbound_NAT_rule_port_mapping": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "type": "Microsoft.Network/loadBalancers",
          "location": "westus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "privateIPAddressVersion": "IPv4",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancerBackendAddresses": [
                    {
                      "name": "8bec96ef-0a6a-45b8-9860-4ffde7bf3572",
                      "properties": {
                        "ipAddress": "10.0.0.4",
                        "subnet": {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                        },
                        "inboundNatRulesPortMapping": [
                          {
                            "inboundNatRuleName": "natRule",
                            "frontendPort": 3389,
                            "backendPort": 3389
                          }
                        ]
                      }
                    }
                  ],
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": true,
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/probes",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 0,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": true,
                  "frontendPortRangeStart": 3389,
                  "frontendPortRangeEnd": 4000,
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  }
                }
              }
            ],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Basic"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "scope": "Public",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": false,
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false,
                  "enableConnectionTracking": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": false
                }
              }
            ],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_Standard_SKU": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false,
                  "enableConnectionTracking": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp"
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_Global_Tier_and_one_regional_load_balancer_in_its_backend_pool": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard",
            "tier": "Global"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancerBackendAddresses": [
                    {
                      "name": "regional-lb1-address",
                      "properties": {
                        "loadBalancerFrontendIPConfiguration": {
                          "id": "/subscriptions/subid/resourceGroups/regional-lb-rg1/providers/Microsoft.Network/loadBalancers/regional-lb/frontendIPConfigurations/fe-rlb"
                        }
                      }
                    }
                  ],
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": false,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "Create_load_balancer_with_Frontend_IP_in_Zone_1": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "zones": ["1"],
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp"
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_inbound_nat_pool": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "test",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/test",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/lbvnet/subnets/lbsubnet"
                  },
                  "inboundNatPools": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatPools/test"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [],
            "loadBalancingRules": [],
            "probes": [],
            "inboundNatRules": [],
            "outboundRules": [],
            "inboundNatPools": [
              {
                "name": "test",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatPools/test",
                "type": "Microsoft.Network/loadBalancers/inboundNatPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendPortRangeStart": 8080,
                  "frontendPortRangeEnd": 8085,
                  "backendPort": 8888,
                  "idleTimeoutInMinutes": 10,
                  "enableFloatingIP": true,
                  "protocol": "Tcp",
                  "enableTcpReset": true,
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/test"
                  }
                }
              }
            ]
          }
        }
      },
      "Create_load_balancer_with_outbound_rules": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAllocationMethod": "Dynamic",
                  "publicIPAddress": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/publicIPAddresses/pip"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ],
                  "outboundRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/outboundRules/rule1"
                    }
                  ],
                  "privateIPAddressVersion": "IPv4"
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "outboundRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/outboundRules/rule1"
                    }
                  ],
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": false,
                  "loadDistribution": "Default",
                  "disableOutboundSnat": true,
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  }
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "enableTcpReset": false
                }
              }
            ],
            "outboundRules": [
              {
                "name": "rule1",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/outboundRules/rule1",
                "type": "Microsoft.Network/loadBalancers/outboundRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "allocatedOutboundPorts": 1024,
                  "protocol": "All",
                  "enableTcpReset": false,
                  "idleTimeoutInMinutes": 4,
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "frontendIPConfigurations": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                    }
                  ]
                }
              }
            ],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_Gateway_Load_Balancer_Consumer_configured": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ],
                  "gatewayLoadBalancer": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb-provider"
                  }
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp"
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_Gateway_Load_Balancer_Provider_configured_with_one_Backend_Pool": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Gateway"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "tunnelInterfaces": [
                    {
                      "port": 15000,
                      "identifier": 900,
                      "protocol": "VXLAN",
                      "type": "Internal"
                    },
                    {
                      "port": 15001,
                      "identifier": 901,
                      "protocol": "VXLAN",
                      "type": "Internal"
                    }
                  ],
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPools": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                    }
                  ],
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_Gateway_Load_Balancer_Provider_configured_with_two_Backend_Pool": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Gateway"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb1",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb1",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "tunnelInterfaces": [
                    {
                      "port": 15000,
                      "identifier": 900,
                      "protocol": "VXLAN",
                      "type": "Internal"
                    }
                  ],
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              },
              {
                "name": "be-lb2",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb2",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "tunnelInterfaces": [
                    {
                      "port": 15001,
                      "identifier": 901,
                      "protocol": "VXLAN",
                      "type": "Internal"
                    }
                  ],
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPools": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb1"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb2"
                    }
                  ],
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "Create_load_balancer_with_Sync_Mode_Property_on_Pool": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "etag": "W/\"00000000-0000-0000-0000-00000000\"",
          "location": "eastus",
          "sku": {
            "name": "Standard"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "resourceGuid": "00000000-0000-0000-0000-00000000",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "virtualNetwork": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "syncMode": "Automatic"
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "type": "Microsoft.Network/loadBalancers/probes",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp"
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "Update_load_balancer_tags": {
        "value": {
          "name": "lb",
          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
          "type": "Microsoft.Network/loadBalancers",
          "location": "westus",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "frontendIPConfigurations": [
              {
                "name": "fe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateIPAddress": "10.0.1.4",
                  "privateIPAllocationMethod": "Dynamic",
                  "subnet": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                  },
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ],
                  "inboundNatRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule"
                    }
                  ]
                }
              }
            ],
            "backendAddressPools": [
              {
                "name": "be-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb",
                "properties": {
                  "provisioningState": "Succeeded",
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "loadBalancingRules": [
              {
                "name": "rulelb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 80,
                  "backendPort": 80,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp",
                  "loadDistribution": "Default",
                  "backendAddressPool": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/be-lb"
                  },
                  "probe": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb"
                  },
                  "disableOutboundSnat": false
                }
              }
            ],
            "probes": [
              {
                "name": "probe-lb",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/probe-lb",
                "properties": {
                  "provisioningState": "Succeeded",
                  "protocol": "Http",
                  "port": 80,
                  "requestPath": "healthcheck.aspx",
                  "intervalInSeconds": 15,
                  "numberOfProbes": 2,
                  "probeThreshold": 1,
                  "loadBalancingRules": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                    }
                  ]
                }
              }
            ],
            "inboundNatRules": [
              {
                "name": "in-nat-rule",
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/in-nat-rule",
                "properties": {
                  "provisioningState": "Succeeded",
                  "frontendIPConfiguration": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/fe-lb"
                  },
                  "frontendPort": 3389,
                  "backendPort": 3389,
                  "enableFloatingIP": true,
                  "idleTimeoutInMinutes": 15,
                  "protocol": "Tcp"
                }
              }
            ],
            "outboundRules": [],
            "inboundNatPools": []
          }
        }
      },
      "List_all_load_balancers": {
        "value": {
          "value": [
            {
              "name": "lb",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
              "etag": "W/\"00000000-0000-0000-0000-00000000\"",
              "type": "Microsoft.Network/loadBalancers",
              "location": "westus",
              "sku": {
                "name": "Basic"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "resourceGuid": "00000000-0000-0000-0000-00000000",
                "frontendIPConfigurations": [
                  {
                    "name": "felb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "privateIPAddress": "10.0.1.4",
                      "privateIPAllocationMethod": "Dynamic",
                      "privateIPAddressVersion": "IPv4",
                      "subnet": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                      },
                      "loadBalancingRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                        }
                      ],
                      "inboundNatRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb"
                        }
                      ]
                    }
                  }
                ],
                "backendAddressPools": [
                  {
                    "name": "belb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "loadBalancingRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                        }
                      ]
                    }
                  }
                ],
                "loadBalancingRules": [
                  {
                    "name": "rulelb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "frontendIPConfiguration": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb"
                      },
                      "frontendPort": 80,
                      "backendPort": 80,
                      "enableFloatingIP": true,
                      "idleTimeoutInMinutes": 15,
                      "protocol": "Tcp",
                      "enableTcpReset": true,
                      "loadDistribution": "Default",
                      "backendAddressPool": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb"
                      },
                      "probe": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb"
                      }
                    }
                  }
                ],
                "probes": [
                  {
                    "name": "prlb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/probes",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "protocol": "Http",
                      "port": 80,
                      "requestPath": "healthcheck.aspx",
                      "intervalInSeconds": 15,
                      "numberOfProbes": 2,
                      "probeThreshold": 1,
                      "loadBalancingRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                        }
                      ]
                    }
                  }
                ],
                "inboundNatRules": [
                  {
                    "name": "inrlb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "frontendIPConfiguration": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb"
                      },
                      "frontendPort": 3389,
                      "backendPort": 3389,
                      "enableFloatingIP": true,
                      "idleTimeoutInMinutes": 15,
                      "protocol": "Tcp",
                      "enableTcpReset": true
                    }
                  }
                ],
                "inboundNatPools": []
              }
            },
            {
              "name": "lb3",
              "id": "/subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/loadBalancers/lb3",
              "etag": "W/\"00000000-0000-0000-0000-00000000\"",
              "type": "Microsoft.Network/loadBalancers",
              "location": "westus",
              "sku": {
                "name": "Basic"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "resourceGuid": "00000000-0000-0000-0000-00000000",
                "frontendIPConfigurations": [],
                "backendAddressPools": [],
                "loadBalancingRules": [],
                "probes": [],
                "inboundNatRules": [],
                "inboundNatPools": []
              }
            }
          ]
        }
      },
      "List_load_balancers_in_resource_group": {
        "value": {
          "value": [
            {
              "name": "lb",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb",
              "etag": "W/\"00000000-0000-0000-0000-00000000\"",
              "type": "Microsoft.Network/loadBalancers",
              "location": "westus",
              "sku": {
                "name": "Basic"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "resourceGuid": "00000000-0000-0000-0000-00000000",
                "frontendIPConfigurations": [
                  {
                    "name": "felb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "privateIPAddress": "10.0.1.4",
                      "privateIPAllocationMethod": "Dynamic",
                      "privateIPAddressVersion": "IPv4",
                      "subnet": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                      },
                      "loadBalancingRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                        }
                      ],
                      "inboundNatRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb"
                        }
                      ]
                    }
                  }
                ],
                "backendAddressPools": [
                  {
                    "name": "belb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/backendAddressPools",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "loadBalancingRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                        }
                      ]
                    }
                  }
                ],
                "loadBalancingRules": [
                  {
                    "name": "rulelb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/loadBalancingRules",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "frontendIPConfiguration": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb"
                      },
                      "frontendPort": 80,
                      "backendPort": 80,
                      "enableFloatingIP": true,
                      "idleTimeoutInMinutes": 15,
                      "protocol": "Tcp",
                      "enableTcpReset": true,
                      "loadDistribution": "Default",
                      "backendAddressPool": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/belb"
                      },
                      "probe": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb"
                      }
                    }
                  }
                ],
                "probes": [
                  {
                    "name": "prlb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/probes/prlb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/probes",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "protocol": "Http",
                      "port": 80,
                      "requestPath": "healthcheck.aspx",
                      "intervalInSeconds": 15,
                      "numberOfProbes": 2,
                      "probeThreshold": 1,
                      "loadBalancingRules": [
                        {
                          "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                        }
                      ]
                    }
                  }
                ],
                "inboundNatRules": [
                  {
                    "name": "inrlb",
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb",
                    "etag": "W/\"00000000-0000-0000-0000-00000000\"",
                    "type": "Microsoft.Network/loadBalancers/inboundNatRules",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "frontendIPConfiguration": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/felb"
                      },
                      "frontendPort": 3389,
                      "backendPort": 3389,
                      "enableFloatingIP": true,
                      "idleTimeoutInMinutes": 15,
                      "protocol": "Tcp",
                      "enableTcpReset": true
                    }
                  }
                ],
                "inboundNatPools": []
              }
            },
            {
              "name": "lb2",
              "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/loadBalancers/lb2",
              "etag": "W/\"00000000-0000-0000-0000-00000000\"",
              "type": "Microsoft.Network/loadBalancers",
              "location": "westus",
              "sku": {
                "name": "Basic"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "resourceGuid": "00000000-0000-0000-0000-00000000",
                "frontendIPConfigurations": [],
                "backendAddressPools": [],
                "loadBalancingRules": [],
                "probes": [],
                "inboundNatRules": [],
                "inboundNatPools": []
              }
            }
          ]
        }
      },
      "LoadBalancerBackendAddressPoolList": {
        "value": {
          "value": [
            {
              "name": "backend",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend",
              "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
              "type": "Microsoft.Network/loadBalancers/backendAddressPools",
              "properties": {
                "provisioningState": "Succeeded",
                "backendIPConfigurations": [
                  {
                    "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic/ipConfigurations/default-ip-config"
                  }
                ],
                "loadBalancingRules": [
                  {
                    "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                  }
                ]
              }
            }
          ]
        }
      },
      "Load_balancer_with_BackendAddressPool_containing_BackendAddresses": {
        "value": {
          "value": [
            {
              "name": "backend",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend",
              "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
              "type": "Microsoft.Network/loadBalancers/backendAddressPools",
              "properties": {
                "provisioningState": "Succeeded",
                "loadBalancerBackendAddresses": [
                  {
                    "name": "address1",
                    "properties": {
                      "virtualNetwork": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                      },
                      "ipAddress": "10.0.0.4"
                    }
                  },
                  {
                    "name": "address2",
                    "properties": {
                      "virtualNetwork": {
                        "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                      },
                      "ipAddress": "10.0.0.5"
                    }
                  }
                ],
                "loadBalancingRules": [
                  {
                    "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                  }
                ]
              }
            }
          ]
        }
      },
      "LoadBalancerBackendAddressPoolGet": {
        "value": {
          "name": "backend",
          "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend",
          "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
          "type": "Microsoft.Network/loadBalancers/backendAddressPools",
          "properties": {
            "provisioningState": "Succeeded",
            "backendIPConfigurations": [
              {
                "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/networkInterfaces/nic/ipConfigurations/default-ip-config"
              }
            ],
            "loadBalancingRules": [
              {
                "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
              }
            ]
          }
        }
      },
      "LoadBalancer_with_BackendAddressPool_with_BackendAddresses": {
        "value": {
          "name": "backend",
          "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend",
          "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
          "type": "Microsoft.Network/loadBalancers/backendAddressPools",
          "properties": {
            "provisioningState": "Succeeded",
            "loadBalancerBackendAddresses": [
              {
                "name": "address1",
                "properties": {
                  "virtualNetwork": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                  },
                  "ipAddress": "10.0.0.4"
                }
              },
              {
                "name": "address2",
                "properties": {
                  "virtualNetwork": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                  },
                  "ipAddress": "10.0.0.5"
                }
              }
            ],
            "loadBalancingRules": [
              {
                "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
              }
            ]
          }
        }
      },
      "Update_load_balancer_backend_pool_with_backend_addresses_containing_virtual_network_and_IP_address.": {
        "value": {
          "name": "backend",
          "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/backendAddressPools/backend",
          "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
          "type": "Microsoft.Network/loadBalancers/backendAddressPools",
          "properties": {
            "provisioningState": "Succeeded",
            "loadBalancerBackendAddresses": [
              {
                "name": "address1",
                "properties": {
                  "virtualNetwork": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                  },
                  "ipAddress": "10.0.0.4"
                }
              },
              {
                "name": "address2",
                "properties": {
                  "virtualNetwork": {
                    "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/vnetlb"
                  },
                  "ipAddress": "10.0.0.5"
                }
              }
            ],
            "loadBalancingRules": [
              {
                "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
              }
            ]
          }
        }
      },
      "LoadBalancerFrontendIPConfigurationList": {
        "value": {
          "value": [
            {
              "name": "frontend",
              "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/frontend",
              "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
              "type": "Microsoft.Network/loadBalancers/frontendIPConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.1.4",
                "privateIPAllocationMethod": "Dynamic",
                "privateIPAddressVersion": "IPv4",
                "subnet": {
                  "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/virtualNetworks/vnetlb/subnets/subnetlb"
                },
                "loadBalancingRules": [
                  {
                    "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/loadBalancingRules/rulelb"
                  }
                ],
                "inboundNatRules": [
                  {
                    "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/inboundNatRules/inrlb"
                  }
                ]
              }
            }
          ]
        }
      },
      "LoadBalancerFrontendIPConfigurationGet": {
        "value": {
          "name": "frontend",
          "id": "/subscriptions/subid/resourceGroups/testrg/providers/Microsoft.Network/loadBalancers/lb/frontendIPConfigurations/frontend",
          "etag": "W/\"00000000-0000-0000-0000-000000000000\"",
[...]
