{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Compute resource management API.",
    "version": "2025-04-01",
    "description": "Compute Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "VirtualMachineScaleSets"
    },
    {
      "name": "RollingUpgradeStatusInfos"
    },
    {
      "name": "VirtualMachineScaleSetExtensions"
    },
    {
      "name": "VirtualMachineScaleSetVMS"
    },
    {
      "name": "VirtualMachineScaleSetVMExtensions"
    },
    {
      "name": "VirtualMachines"
    },
    {
      "name": "VirtualMachineExtensions"
    },
    {
      "name": "AvailabilitySets"
    },
    {
      "name": "ProximityPlacementGroups"
    },
    {
      "name": "DedicatedHostGroups"
    },
    {
      "name": "DedicatedHosts"
    },
    {
      "name": "SshPublicKeyResources"
    },
    {
      "name": "Images"
    },
    {
      "name": "RestorePointCollections"
    },
    {
      "name": "RestorePoints"
    },
    {
      "name": "CapacityReservationGroups"
    },
    {
      "name": "CapacityReservations"
    },
    {
      "name": "VirtualMachineRunCommands"
    },
    {
      "name": "VirtualMachineScaleSetVMRunCommands"
    }
  ],
  "paths": {},
  "x-ms-paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions?$expand=Properties": {
      "get": {
        "operationId": "VirtualMachineImages_ListWithProperties",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/components/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/components/parameters/LocationParameter"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VirtualMachineImage"
                  }
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "Operations_List_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "origin": "aaaaa",
              "name": "aaaaaaaaaaaa",
              "display": {
                "operation": "aaaaaaaaaaaaaaaaaaaaaa",
                "resource": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                "description": "aaaaaaaaaaaaaaaaaaaaaa",
                "provider": "aaaaaaaaaaaaaaaaaa"
              }
            }
          ]
        }
      },
      "Operations_List_MinimumSet_Gen": {
        "value": {}
      },
      "List_availability_sets_in_a_subscription.": {
        "value": {
          "value": [
            {
              "name": "{availabilitySetName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}",
              "type": "Microsoft.Compute/availabilitySets",
              "location": "australiasoutheast",
              "properties": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3,
                "virtualMachines": [
                  {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}"
                  }
                ]
              },
              "sku": {
                "name": "Classic"
              }
            },
            {
              "name": "{availabilitySetName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}",
              "type": "Microsoft.Compute/availabilitySets",
              "location": "australiasoutheast",
              "properties": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3,
                "virtualMachines": [
                  {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}"
                  }
                ]
              },
              "sku": {
                "name": "Classic"
              }
            },
            {
              "name": "{availabilitySetName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}",
              "type": "Microsoft.Compute/availabilitySets",
              "location": "westcentralus",
              "tags": {
                "{tagName}": "{tagValue}"
              },
              "properties": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3,
                "virtualMachines": []
              },
              "sku": {
                "name": "Classic"
              }
            },
            {
              "name": "{availabilitySetName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}",
              "type": "Microsoft.Compute/availabilitySets",
              "location": "westcentralus",
              "tags": {
                "{tagName}": "{tagValue}"
              },
              "properties": {
                "platformUpdateDomainCount": 5,
                "platformFaultDomainCount": 3,
                "virtualMachines": []
              },
              "sku": {
                "name": "Classic"
              }
            }
          ]
        }
      },
      "List_capacity_reservation_groups_in_subscription.": {
        "value": {
          "value": [
            {
              "name": "{capacityReservationGroupName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}",
              "type": "Microsoft.Compute/CapacityReservationGroups",
              "location": "West US",
              "properties": {
                "capacityReservations": [
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation1"
                  },
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation2"
                  }
                ],
                "virtualMachinesAssociated": [
                  {
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/virtualMachines/myVM1"
                  },
                  {
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/virtualMachines/myVM2"
                  }
                ]
              }
            },
            {
              "name": "{capacityReservationGroupName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}",
              "type": "Microsoft.Compute/CapacityReservationGroups",
              "location": "West US",
              "properties": {
                "capacityReservations": [
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation3"
                  },
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/myCapacityReservationGroup/capacityReservations/myCapacityReservation4"
                  }
                ],
                "virtualMachinesAssociated": [
                  {
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/virtualMachines/myVM3"
                  }
                ]
              }
            },
            {
              "name": "{capacityReservationGroupName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}",
              "type": "Microsoft.Compute/CapacityReservationGroups",
              "location": "West US",
              "properties": {
                "capacityReservations": [
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/blockCapacityReservationGroup/capacityReservations/blockCapacityReservation1"
                  },
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/blockCapacityReservationGroup/capacityReservations/blockCapacityReservation2"
                  }
                ],
                "virtualMachinesAssociated": [
                  {
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM3"
                  }
                ],
                "reservationType": "Block"
              }
            },
            {
              "name": "{capacityReservationGroupName}",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}",
              "type": "Microsoft.Compute/CapacityReservationGroups",
              "location": "West US",
              "properties": {
                "capacityReservations": [
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/targetedCapacityReservationGroup/capacityReservations/targetedCapacityReservation1"
                  },
                  {
                    "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/capacityReservationGroups/targetedCapacityReservationGroup/capacityReservations/targetedCapacityReservation2"
                  }
                ],
                "virtualMachinesAssociated": [
                  {
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM3"
                  }
                ],
                "reservationType": "Targeted"
              }
            }
          ]
        }
      },
      "List_capacity_reservation_groups_with_resource_Ids_only_in_subscription.": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup1/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName1}",
              "type": "Microsoft.Compute/capacityReservationGroups",
              "location": "SouthCentralUSSTG"
            },
            {
              "id": "/subscriptions/{subscriptionId2}/resourceGroups/myResourceGroup2/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName2}",
              "type": "Microsoft.Compute/capacityReservationGroups",
              "location": "SouthCentralUSSTG"
            }
          ]
        }
      },
      "DedicatedHostGroup_ListBySubscription_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "location": "westus",
              "tags": {},
              "zones": [
                "1"
              ],
              "properties": {
                "platformFaultDomainCount": 3,
                "supportAutomaticPlacement": true,
                "hosts": [
                  {
                    "id": "aaaa"
                  }
                ],
                "instanceView": {
                  "hosts": [
                    {
                      "name": "aaaaaaaaaaaaaaaaaa",
                      "assetId": "aaaa",
                      "availableCapacity": {
                        "allocatableVMs": [
                          {
                            "vmSize": "aaaaaaaaaaaaaaaaaaaa",
                            "count": 26
                          }
                        ]
                      },
                      "statuses": [
                        {
                          "code": "aaaaaaaaaaaaaaaaaaaaaaa",
                          "level": "Info",
                          "displayStatus": "aaaaaa",
                          "message": "a",
                          "time": "2021-11-30T12:58:26.522Z"
                        }
                      ]
                    }
                  ]
                }
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup",
              "name": "myDedicatedHostGroup",
              "type": "aaaa"
            }
          ],
          "nextLink": "a://example.com/aaaaaaaaaaaaaaaaaaaaaaaaaaa"
        }
      },
      "DedicatedHostGroup_ListBySubscription_MinimumSet_Gen": {
        "value": {
          "value": [
            {
              "location": "westus",
              "id": "/subscriptions/{subscription-id}/resourceGroups/rgcompute/providers/Microsoft.Compute/HostGroups/myDedicatedHostGroup"
            }
          ]
        }
      },
      "List_all_virtual_machine_images_in_a_subscription.": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage",
              "name": "myImage",
              "type": "Microsoft.Compute/images",
              "location": "West US",
              "properties": {
                "storageProfile": {
                  "osDisk": {
                    "osType": "Windows",
                    "blobUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
                    "snapshot": {
                      "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
                    },
                    "managedDisk": {
                      "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                    },
                    "osState": "Generalized",
                    "storageAccountType": "Standard_LRS"
                  },
                  "dataDisks": [
                    {
                      "lun": 1,
                      "blobUri": "https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd",
                      "snapshot": {
                        "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2"
                      },
                      "managedDisk": {
                        "id": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2"
                      },
                      "storageAccountType": "Standard_LRS"
                    }
                  ]
                },
                "provisioningState": "created"
              }
            }
          ],
          "nextLink": "http://svchost:99/subscriptions/subscriptionId/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images?$skiptoken=token/Subscriptions/subscriptionId/ResourceGroups/myResourceGroup/UserVMImages/myImageName"
        }
      },
      "VirtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_List_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_List_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImagesEdgeZone_Get_MaximumSet_Gen": {
        "value": {
          "properties": {
            "plan": {
              "publisher": "aaaaaaaaaaaaaaaaaaa",
              "name": "aaaaaaaaa",
              "product": "aaaaaaaaaaaaaa"
            },
            "osDiskImage": {
              "operatingSystem": "Windows"
            },
            "dataDiskImages": [
              {
                "lun": 17
              }
            ],
            "automaticOSUpgradeProperties": {
              "automaticOSUpgradeSupported": true
            },
            "hyperVGeneration": "V1",
            "disallowed": {
              "vmDiskType": "None"
            },
            "features": [
              {
                "name": "aaaaaaaaaaaaaaaaaaaaa",
                "value": "aaaaaaaaaaaaaaaaaaaa"
              }
            ]
          },
          "name": "aaaaaaaaa",
          "location": "aaaaa",
          "tags": {
            "key6817": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
          },
          "extendedLocation": {
            "name": "aaaaaaaaaaaaaaaaaaaaa",
            "type": "EdgeZone"
          },
          "id": "aaaaaaaaaaa"
        }
      },
      "VirtualMachineImagesEdgeZone_Get_MinimumSet_Gen": {
        "value": {
          "name": "aaaaaaaaa",
          "location": "aaaaa",
          "id": "aaaaaaaaaaa"
        }
      },
      "VirtualMachineImagesEdgeZone_ListByEdgeZone_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "name": "18.04.202107200",
              "location": "WestUS",
              "extendedLocation": {
                "name": "microsoftlosangeles1",
                "type": "EdgeZone"
              },
              "id": "/Subscriptions/5ece5940-d962-4dad-a98f-ca9ac0f021a5/Providers/Microsoft.Compute/Locations/westus/Publishers/CANONICAL/ArtifactTypes/VMImage/Offers/UBUNTUSERVER/Skus/18_04-LTS-GEN2/Versions/18.04.202107200"
            }
          ]
        }
      },
      "VirtualMachineImagesEdgeZone_ListByEdgeZone_MinimumSet_Gen": {
        "value": {
          "value": []
        }
      },
      "Export_logs_which_contain_all_Api_requests_made_to_Compute_Resource_Provider_within_the_given_time_period_broken_down_by_intervals.": {
        "value": {
          "properties": {
            "output": "https://crptestar4227.blob.core.windows.net:443/sascontainer/RequestRateByInterval_20180121-0154_20180123-0154.csv"
          }
        }
      },
      "Export_logs_which_contain_all_throttled_Api_requests_made_to_Compute_Resource_Provider_within_the_given_time_period.": {
        "value": {
          "properties": {
            "output": "https://crptestar4227.blob.core.windows.net:443/sascontainer/ThrottledRequests_20180121-0154_20180123-0154.csv"
          }
        }
      },
      "VirtualMachineImage_ListPublishers_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_ListPublishers_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineExtensionImage_ListTypes_MaximumSet_Gen": {
        "value": [
          {
            "properties": {
              "operatingSystem": "aaaaaaaaaaaaaaaaaa",
              "computeRole": "aaaaaaaaaaaaaaaaa",
              "handlerSchema": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
              "vmScaleSetEnabled": true,
              "supportsMultipleExtensions": true
            },
            "id": "aaaaaaaaaaaaaaaaa",
            "name": "aaaaaaaaaaaaaaa",
            "type": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
            "location": "aaaaaaaaaaaaa",
            "tags": {
              "key9885": "aaaaaaaaa"
            }
          }
        ]
      },
      "VirtualMachineExtensionImage_ListTypes_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaaaaaaaaa",
            "location": "aaaaaaaaaaaaa",
            "id": "aaaaaaaaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineExtensionImage_ListVersions_MaximumSet_Gen": {
        "value": [
          {
            "properties": {
              "operatingSystem": "aaaaaaaaaaaaaaaaaa",
              "computeRole": "aaaaaaaaaaaaaaaaa",
              "handlerSchema": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
              "vmScaleSetEnabled": true,
              "supportsMultipleExtensions": true
            },
            "id": "aaaaaaaaaaaaaaaaa",
            "name": "aaaaaaaaaaaaaaa",
            "type": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
            "location": "aaaaaaaaaaaaa",
            "tags": {
              "key9885": "aaaaaaaaa"
            }
          }
        ]
      },
      "VirtualMachineExtensionImage_ListVersions_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaaaaaaaaa",
            "location": "aaaaaaaaaaaaa",
            "id": "aaaaaaaaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineExtensionImage_Get_MaximumSet_Gen": {
        "value": {
          "properties": {
            "operatingSystem": "aaaaaaaaaaaaaaaaaa",
            "computeRole": "aaaaaaaaaaaaaaaaa",
            "handlerSchema": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
            "vmScaleSetEnabled": true,
            "supportsMultipleExtensions": true
          },
          "id": "aaaaaaaaaaaaaaaaa",
          "name": "aaaaaaaaaaaaaaa",
          "type": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
          "location": "aaaaaaaaaaaaa",
          "tags": {
            "key9885": "aaaaaaaaa"
          }
        }
      },
      "VirtualMachineExtensionImage_Get_MinimumSet_Gen": {
        "value": {
          "name": "aaaaaaaaaaaaaaa",
          "location": "aaaaaaaaaaaaa",
          "id": "aaaaaaaaaaaaaaaaa"
        }
      },
      "VirtualMachineImage_ListOffers_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_ListOffers_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_ListSkus_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_ListSkus_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_List_MaximumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "tags": {
              "key7868": "aaaaa"
            },
            "extendedLocation": {
              "name": "aaaaaaaaaaaaaaaaaaaaa",
              "type": "EdgeZone"
            },
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_List_MinimumSet_Gen": {
        "value": [
          {
            "name": "aaaaaaaa",
            "location": "aaaaaaaaaaaaaaaaaa",
            "id": "aaaaaaaaaaa"
          }
        ]
      },
      "VirtualMachineImage_Get_MaximumSet_Gen": {
        "value": {
          "properties": {
            "plan": {
              "publisher": "aaaaaaaaaaaaaaaaaaa",
              "name": "aaaaaaaaa",
              "product": "aaaaaaaaaaaaaa"
            },
            "osDiskImage": {
              "operatingSystem": "Windows"
            },
            "dataDiskImages": [
              {
                "lun": 17
              }
            ],
            "automaticOSUpgradeProperties": {
              "automaticOSUpgradeSupported": true
            },
            "hyperVGeneration": "V1",
            "disallowed": {
              "vmDiskType": "None"
            },
            "features": [
              {
                "name": "aaaaaaaaaaaaaaaaaaaaa",
                "value": "aaaaaaaaaaaaaaaaaaaa"
              }
            ],
            "imageDeprecationStatus": {
              "imageState": "ScheduledForDeprecation",
              "scheduledDeprecationTime": "2023-01-13T00:00:00+00:00",
              "alternativeOption": {
                "type": "Offer",
                "value": "aaaaaaa"
              }
            }
          },
          "name": "aaaaaaaaa",
          "location": "aaaaa",
          "tags": {
            "key6817": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
          },
          "extendedLocation": {
            "name": "aaaaaaaaaaaaaaaaaaaaa",
            "type": "EdgeZone"
          },
          "id": "aaaaaaaaaaa"
        }
      },
      "VirtualMachineImage_Get_MinimumSet_Gen": {
        "value": {
          "name": "aaaaaaaaa",
          "location": "aaaaa",
          "id": "aaaaaaaaaaa"
        }
      },
      "VirtualMachineRunCommandList": {
        "value": {
          "value": [
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "EnableRemotePS",
              "osType": "Windows",
              "label": "Enable remote PowerShell",
              "description": "Configure the machine to enable remote PowerShell."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "IPConfig",
              "osType": "Windows",
              "label": "List IP configuration",
              "description": "Shows detailed information for the IP address, subnet mask and default gateway for each adapter bound to TCP/IP."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "RunPowerShellScript",
              "osType": "Windows",
              "label": "Executes a PowerShell script",
              "description": "Custom multiline PowerShell script should be defined in script property. Optional parameters can be set in parameters property."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "RunShellScript",
              "osType": "Linux",
              "label": "Executes a Linux shell script",
              "description": "Custom multiline shell script should be defined in script property. Optional parameters can be set in parameters property."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "ifconfig",
              "osType": "Linux",
              "label": "List network configuration",
              "description": "Get the configuration of all network interfaces."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "EnableAdminAccount",
              "osType": "Windows",
              "label": "Enable administrator account",
              "description": "Checks if the local Administrator account is disabled, and if so enables it."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "ResetAccountPassword",
              "osType": "Windows",
              "label": "Reset built-in Administrator account password",
              "description": "Reset built-in Administrator account password."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "RDPSettings",
              "osType": "Windows",
              "label": "Verify RDP Listener Settings",
              "description": "Checks registry settings and domain policy settings. Suggests policy actions if machine is part of a domain or modifies the settings to default values."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "SetRDPPort",
              "osType": "Windows",
              "label": "Set Remote Desktop port",
              "description": "Sets the default or user specified port number for Remote Desktop connections. Enables firewall rule for inbound access to the port."
            },
            {
              "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
              "id": "ResetRDPCert",
              "osType": "Windows",
              "label": "Restore RDP Authentication mode to defaults",
              "description": "Removes the SSL certificate tied to the RDP listener and restores the RDP listerner security to default. Use this script if you see any issues with the certificate."
            }
          ]
        }
      },
      "VirtualMachineRunCommandGet": {
        "value": {
          "script": [
            "param(",
            "    [string]$arg1,",
            "    [string]$arg2",
            ")",
            "Write-Host This is a sample script with parameters $arg1 $arg2"
          ],
          "parameters": [
            {
              "name": "arg1",
              "type": "string",
              "defaultValue": "value1"
            },
            {
              "name": "arg2",
              "type": "string",
              "defaultValue": "value2"
            }
          ],
          "$schema": "http://schema.management.azure.com/schemas/2016-11-17/runcommands.json",
          "id": "RunPowerShellScript",
          "osType": "Windows",
          "label": "Executes a PowerShell script",
          "description": "Custom multiline PowerShell script should be defined in script property. Optional parameters can be set in parameters property."
        }
      },
      "Usage_List_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "unit": "Count",
              "currentValue": 17,
              "limit": 19,
              "name": {
                "value": "aaaaaaaaaaaaaaaaaa",
                "localizedValue": "aaaaaaaaaaaaaa"
              }
            }
          ],
          "nextLink": "a://example.com/aaaaaaaaaaaaaaaaaaaaaaaaaaa"
        }
      },
      "Usage_List_MinimumSet_Gen": {
        "value": {
          "value": [
            {
              "unit": "Count",
              "currentValue": 17,
              "limit": 19,
              "name": {}
            }
          ]
        }
      },
      "Lists_all_the_VM_scale_sets_under_the_specified_subscription_for_the_specified_location.": {
        "value": {
          "value": [
            {
              "name": "{virtualMachineScaleSetName}",
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}",
              "type": "Microsoft.Compute/virtualMachineScaleSets",
              "location": "eastus",
              "tags": {
                "myTag1": "tagValue1"
              },
              "sku": {
                "name": "Standard_D2s_v3",
                "tier": "Standard",
                "capacity": 4
              },
              "properties": {
                "singlePlacementGroup": false,
                "upgradePolicy": {
                  "mode": "Automatic",
                  "automaticOSUpgradePolicy": {
                    "enableAutomaticOSUpgrade": false
                  }
                },
                "virtualMachineProfile": {
                  "storageProfile": {
                    "osDisk": {
                      "createOption": "FromImage",
                      "caching": "ReadWrite",
                      "managedDisk": {
                        "storageAccountType": "Premium_LRS"
                      },
                      "diskSizeGB": 30
                    },
                    "imageReference": {
                      "publisher": "azuredatabricks",
                      "offer": "databricks",
                      "sku": "databricksworker",
                      "version": "3.15.2"
                    },
                    "dataDisks": []
                  },
                  "osProfile": {
                    "computerNamePrefix": "{virtualMachineScaleSetName}",
                    "adminUsername": "admin",
                    "linuxConfiguration": {
                      "disablePasswordAuthentication": false
                    }
                  },
                  "networkProfile": {
                    "networkInterfaceConfigurations": [
                      {
                        "name": "myNic",
                        "properties": {
                          "primary": true,
                          "ipConfigurations": [
                            {
                              "name": "myIPConfig",
                              "properties": {
                                "primary": true,
                                "subnet": {
                                  "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/myVNet/subnets/mySubnet"
                                }
                              }
                            }
                          ],
                          "networkSecurityGroup": {
                            "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/myNetworkSecurityGroup"
                          }
                        }
                      }
                    ]
                  }
                },
                "provisioningState": "succeeded",
                "overprovision": false,
                "doNotRunExtensionsOnOverprovisionedVMs": false,
                "platformFaultDomainCount": 1
              }
            },
            {
              "name": "{virtualMachineScaleSetName}",
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}1",
              "type": "Microsoft.Compute/virtualMachineScaleSets",
              "location": "eastus",
              "tags": {
                "myTag1": "tagValue2"
              },
              "sku": {
                "name": "Standard_D2s_v3",
                "tier": "Standard",
                "capacity": 4
              },
              "properties": {
                "singlePlacementGroup": false,
                "upgradePolicy": {
                  "mode": "Automatic",
                  "automaticOSUpgradePolicy": {
                    "enableAutomaticOSUpgrade": false
                  }
                },
                "virtualMachineProfile": {
                  "storageProfile": {
                    "osDisk": {
                      "createOption": "FromImage",
                      "caching": "ReadWrite",
                      "managedDisk": {
                        "storageAccountType": "Premium_LRS"
                      },
                      "diskSizeGB": 30
                    },
                    "imageReference": {
                      "publisher": "azuredatabricks",
                      "offer": "databricks",
                      "sku": "databricksworker",
                      "version": "3.15.2"
                    },
                    "dataDisks": []
                  },
                  "osProfile": {
                    "computerNamePrefix": "{virtualMachineScaleSetName}",
                    "adminUsername": "admin",
                    "linuxConfiguration": {
                      "disablePasswordAuthentication": false
                    }
                  },
                  "networkProfile": {
                    "networkInterfaceConfigurations": [
                      {
                        "name": "myNic1",
                        "properties": {
                          "primary": true,
                          "ipConfigurations": [
                            {
                              "name": "myIPConfig",
                              "properties": {
                                "primary": true,
                                "subnet": {
                                  "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/myVNet/subnets/mySubnet"
                                }
                              }
                            }
                          ],
                          "networkSecurityGroup": {
                            "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityGroups/myNetworkSecurityGroup"
                          }
                        }
                      }
                    ]
                  }
                },
                "provisioningState": "succeeded",
                "overprovision": false,
                "doNotRunExtensionsOnOverprovisionedVMs": false,
                "platformFaultDomainCount": 1
              }
            }
          ]
        }
      },
      "Lists_all_the_virtual_machines_under_the_specified_subscription_for_the_specified_location.": {
        "value": {
          "value": [
            {
              "properties": {
                "vmId": "{vmId}",
                "availabilitySet": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hardwareProfile": {
                  "vmSize": "Standard_A0"
                },
                "storageProfile": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2012-R2-Datacenter",
                    "version": "4.127.20170406"
                  },
                  "osDisk": {
                    "osType": "Windows",
                    "name": "test",
                    "createOption": "FromImage",
                    "vhd": {
                      "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    },
                    "caching": "None",
                    "diskSizeGB": 127
                  },
                  "dataDisks": []
                },
                "osProfile": {
                  "computerName": "Test",
                  "adminUsername": "Foo12",
                  "windowsConfiguration": {
                    "provisionVMAgent": true,
                    "enableAutomaticUpdates": true
                  },
                  "secrets": [],
                  "allowExtensionOperations": true
                },
                "networkProfile": {
                  "networkInterfaces": [
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}"
                    }
                  ]
                },
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/virtualMachines",
              "location": "eastus",
              "tags": {
                "RG": "rg",
                "testTag": "1"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}",
              "name": "{virtualMachineName}"
            },
            {
              "properties": {
                "vmId": "{vmId}",
                "availabilitySet": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hardwareProfile": {
                  "vmSize": "Standard_A0"
                },
                "storageProfile": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2012-R2-Datacenter",
                    "version": "4.127.20170406"
                  },
                  "osDisk": {
                    "osType": "Windows",
                    "name": "test",
                    "createOption": "FromImage",
                    "vhd": {
                      "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    },
                    "caching": "None",
                    "diskSizeGB": 127
                  },
                  "dataDisks": []
                },
                "osProfile": {
                  "computerName": "Test",
                  "adminUsername": "Foo12",
                  "windowsConfiguration": {
                    "provisionVMAgent": true,
                    "enableAutomaticUpdates": true
                  },
                  "secrets": [],
                  "allowExtensionOperations": true
                },
                "networkProfile": {
                  "networkInterfaces": [
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}"
                    }
                  ]
                },
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/virtualMachines",
              "location": "eastus",
              "tags": {
                "RG": "rg",
                "testTag": "1"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}",
              "name": "{virtualMachineName}"
            }
          ]
        }
      },
      "VirtualMachineSizes_List_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "name": "Standard_A1_V2",
              "numberOfCores": 1,
              "osDiskSizeInMB": 1047552,
              "resourceDiskSizeInMB": 10240,
              "memoryInMB": 2048,
              "maxDataDiskCount": 2
            },
            {
              "name": "Standard_A2_V2",
              "numberOfCores": 2,
              "osDiskSizeInMB": 1047552,
              "resourceDiskSizeInMB": 20480,
              "memoryInMB": 4096,
              "maxDataDiskCount": 4
            }
          ]
        }
      },
      "VirtualMachineSizes_List_MinimumSet_Gen": {
        "value": {}
      },
      "List_proximity_placement_groups.": {
        "value": {
          "value": [
            {
              "name": "myProximityPlacementGroup",
              "properties": {
                "proximityPlacementGroupType": "Standard",
                "intent": {
                  "vmSizes": [
                    "Basic_A0",
                    "Basic_A2"
                  ]
                },
                "virtualMachines": [
                  {
                    "id": "string"
                  }
                ],
                "virtualMachineScaleSets": [
                  {
                    "id": "string"
                  }
                ],
                "availabilitySets": [
                  {
                    "id": "string"
                  }
                ]
              },
              "location": "westus",
              "zones": [
                "1"
              ],
              "type": "Microsoft.Compute/proximityPlacementGroups",
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup"
            }
          ],
          "nextLink": "foo://example.com/test"
        }
      },
      "Gets_the_list_of_restore_point_collections_in_a_subscription": {
        "value": {
          "value": [
            {
              "name": "restorePointCollection1",
              "id": "/subscriptions/{subscription-id}/resourceGroups/resourceGroup1/providers/Microsoft.Compute/restorePointCollections/restorePointCollection1",
              "type": "Microsoft.Compute/restorePointCollections",
              "location": "westus",
              "tags": {
                "myTag1": "tagValue1"
              },
              "properties": {
                "source": {
                  "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/VM_Test",
                  "location": "westus"
                },
                "instantAccess": true,
                "restorePointCollectionId": "59f04a5d-f783-4200-a1bd-d3f464e8c4b4",
                "provisioningState": "Succeeded"
              }
            },
            {
              "name": "restorePointCollection2",
              "id": "/subscriptions/{subscription-id}/resourceGroups/resourceGroup2/providers/Microsoft.Compute/restorePointCollections/restorePointCollection2",
              "type": "Microsoft.Compute/restorePointCollections",
              "location": "westus",
              "tags": {
                "myTag1": "tagValue1"
              },
              "properties": {
                "source": {
                  "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/VM_Prod",
                  "location": "westus"
                },
                "restorePointCollectionId": "2875c590-e337-4102-9668-4f5b7e3f98a4",
                "provisioningState": "Deleting"
              }
            }
          ]
        }
      },
      "SshPublicKey_ListBySubscription_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "location": "westus",
              "properties": {
                "publicKey": "{ssh-rsa public key}"
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/sshPublicKeys/mySshPublicKeyName",
              "name": "mySshPublicKeyName",
              "type": "aaaa",
              "tags": {
                "key6396": "aaaaaaaaaaaaa",
                "key8839": "aaa"
              }
            }
          ],
          "nextLink": "a://example.com/aaaa"
        }
      },
      "SshPublicKey_ListBySubscription_MinimumSet_Gen": {
        "value": {
          "value": [
            {
              "location": "westus",
              "id": "/subscriptions/{subscription-id}/resourceGroups/rgcompute/providers/Microsoft.Compute/sshPublicKeys/mySshPublicKeyName"
            }
          ]
        }
      },
      "VirtualMachineScaleSet_ListAll_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "sku": {
                "tier": "Standard",
                "capacity": 3,
                "name": "Standard_D1_v2"
              },
              "location": "westus",
              "properties": {
                "overprovision": true,
                "virtualMachineProfile": {
                  "storageProfile": {
                    "imageReference": {
                      "sku": "2016-Datacenter",
                      "publisher": "MicrosoftWindowsServer",
                      "version": "latest",
                      "offer": "WindowsServer",
                      "exactVersion": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                      "sharedGalleryImageId": "aaaaaaaaaaaaaaaaaaaaaa",
                      "id": "a"
                    },
                    "osDisk": {
                      "caching": "ReadWrite",
                      "managedDisk": {
                        "storageAccountType": "Standard_LRS",
                        "diskEncryptionSet": {
                          "id": "aaaaaaaaaaaa"
                        }
                      },
                      "createOption": "FromImage",
                      "name": "aaaaaaaaaaaaaaa",
                      "writeAcceleratorEnabled": true,
                      "diffDiskSettings": {
                        "option": "Local",
                        "placement": "CacheDisk"
                      },
                      "diskSizeGB": 30,
                      "osType": "Windows",
                      "image": {
                        "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                      },
                      "vhdContainers": [
                        "aaaaaaaaaaaaaaaaaaaaaaaaa"
                      ]
                    },
                    "dataDisks": [
                      {
                        "name": "aaaaaaaaaaaaaa",
                        "lun": 24,
                        "caching": "None",
                        "writeAcceleratorEnabled": true,
                        "createOption": "FromImage",
                        "diskSizeGB": 11,
                        "managedDisk": {
                          "storageAccountType": "Standard_LRS",
                          "diskEncryptionSet": {
                            "id": "aaaaaaaaaaaa"
                          }
                        },
                        "diskIOPSReadWrite": 11,
                        "diskMBpsReadWrite": 13
                      }
                    ]
                  },
                  "osProfile": {
                    "computerNamePrefix": "{vmss-name}",
                    "adminUsername": "{your-username}",
                    "customData": "aaaaaaaaaaaaaaaaaaaaaaaaaa",
                    "windowsConfiguration": {
                      "provisionVMAgent": true,
                      "enableAutomaticUpdates": true,
                      "timeZone": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                      "additionalUnattendContent": [
                        {
                          "passName": "OobeSystem",
                          "componentName": "Microsoft-Windows-Shell-Setup",
                          "settingName": "AutoLogon",
                          "content": "aaaaaaaaaaaaaaaaaaaa"
                        }
                      ],
                      "patchSettings": {
                        "patchMode": "Manual",
                        "enableHotpatching": true,
                        "assessmentMode": "ImageDefault"
                      },
                      "winRM": {
                        "listeners": [
                          {
                            "protocol": "Http",
                            "certificateUrl": "aaaaaaaaaaaaaaaaaaaaaa"
                          }
                        ]
                      }
                    },
                    "linuxConfiguration": {
                      "disablePasswordAuthentication": true,
                      "ssh": {
                        "publicKeys": [
                          {
                            "path": "aaa",
                            "keyData": "aaaaaa"
                          }
                        ]
                      },
                      "provisionVMAgent": true,
                      "patchSettings": {
                        "patchMode": "ImageDefault",
                        "assessmentMode": "ImageDefault"
                      }
                    },
                    "secrets": [
                      {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        },
                        "vaultCertificates": [
                          {
                            "certificateUrl": "aaaaaaa",
                            "certificateStore": "aaaaaaaaaaaaaaaaaaaaaaaaa"
                          }
                        ]
                      }
                    ]
                  },
                  "networkProfile": {
                    "networkInterfaceConfigurations": [
                      {
                        "name": "{vmss-name}",
                        "properties": {
                          "primary": true,
                          "enableIPForwarding": true,
                          "ipConfigurations": [
                            {
                              "name": "{vmss-name}",
                              "properties": {
                                "subnet": {
                                  "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/{existing-virtual-network-name}/subnets/{existing-subnet-name}"
                                },
                                "primary": true,
                                "publicIPAddressConfiguration": {
                                  "name": "aaaaaaaaaaaaaaaaaa",
                                  "properties": {
                                    "idleTimeoutInMinutes": 18,
                                    "dnsSettings": {
                                      "domainNameLabel": "aaaaaaaaaaaaaaaaaa",
                                      "domainNameLabelScope": "TenantReuse"
                                    },
                                    "ipTags": [
                                      {
                                        "ipTagType": "aaaaaaa",
                                        "tag": "aaaaaaaaaaaaaaaaaaaaaaaaaaa"
                                      }
                                    ],
                                    "publicIPPrefix": {
                                      "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                    },
                                    "publicIPAddressVersion": "IPv4",
                                    "deleteOption": "Delete"
                                  },
                                  "sku": {
                                    "name": "Basic",
                                    "tier": "Regional"
                                  }
                                },
                                "privateIPAddressVersion": "IPv4",
                                "applicationGatewayBackendAddressPools": [
                                  {
                                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                  }
                                ],
                                "applicationSecurityGroups": [
                                  {
                                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                  }
                                ],
                                "loadBalancerBackendAddressPools": [
                                  {
                                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                  }
                                ],
                                "loadBalancerInboundNatPools": [
                                  {
                                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                  }
                                ]
                              }
                            }
                          ],
                          "enableAcceleratedNetworking": true,
                          "enableFpga": true,
                          "networkSecurityGroup": {
                            "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                          },
                          "dnsSettings": {
                            "dnsServers": [
                              "aaaaaaaaaaaa"
                            ]
                          },
                          "deleteOption": "Delete"
                        }
                      }
                    ],
                    "healthProbe": {
                      "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/restorePointCollections/rpcName/restorePoints/restorePointName/diskRestorePoints/testingexcludedisk_OsDisk_1_74cdaedcea50483d9833c96adefa100f_22b4bdfe-6c54-4f72-84d8-85d8860f0c57"
                    },
                    "networkApiVersion": "2020-11-01"
                  },
                  "securityProfile": {
                    "uefiSettings": {
                      "secureBootEnabled": true,
                      "vTpmEnabled": true
                    },
                    "encryptionAtHost": true,
                    "securityType": "TrustedLaunch"
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "aaaaaaaaaaaaaaaaaaa"
                    }
                  },
                  "extensionProfile": {
                    "extensions": [
                      {
                        "name": "aa",
                        "type": "aaaaa",
                        "properties": {
                          "forceUpdateTag": "aaaaaaaaaaaaaaaaaaaaaaaaaaa",
                          "publisher": "aaaaaaaaaaaaa",
                          "type": "aaaaaaaa",
                          "typeHandlerVersion": "aaaaaaaaaaaaaaaaaaaaaaaaaaa",
                          "autoUpgradeMinorVersion": true,
                          "enableAutomaticUpgrade": true,
                          "settings": {},
                          "protectedSettings": {},
                          "provisioningState": "aaaaaaaaaaaaaa",
                          "provisionAfterExtensions": [
                            "aaaaaaaaaaaaaa"
                          ],
                          "suppressFailures": true
                        },
                        "id": "aaaaaaaaaaaaaaaaaaaaaa"
                      }
                    ],
                    "extensionsTimeBudget": "aaaaaaaaaaaaaaaaaaaaaaaaaa"
                  },
                  "licenseType": "aaaaaaaaaa",
                  "priority": "Regular",
                  "evictionPolicy": "Deallocate",
                  "billingProfile": {
                    "maxPrice": 4
                  },
                  "scheduledEventsProfile": {
                    "terminateNotificationProfile": {
                      "notBeforeTimeout": "aa",
                      "enable": true
                    }
                  },
                  "userData": "aaa",
                  "capacityReservation": {
                    "capacityReservationGroup": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                    }
                  },
                  "applicationProfile": {
                    "galleryApplications": [
                      {
                        "tags": "aaaaaaaaaaa",
                        "order": 29,
                        "packageReferenceId": "aaaaaaaaaa",
                        "configurationReference": "aaaaa"
                      }
                    ]
                  }
                },
                "upgradePolicy": {
                  "mode": "Manual",
                  "rollingUpgradePolicy": {
                    "maxBatchInstancePercent": 49,
                    "maxUnhealthyInstancePercent": 81,
                    "maxUnhealthyUpgradedInstancePercent": 98,
                    "pauseTimeBetweenBatches": "aaaaaaaaaaaaaaa",
                    "enableCrossZoneUpgrade": true,
                    "prioritizeUnhealthyInstances": true,
                    "rollbackFailedInstancesOnPolicyBreach": true,
                    "maxSurge": true
                  },
                  "automaticOSUpgradePolicy": {
                    "enableAutomaticOSUpgrade": true,
                    "disableAutomaticRollback": true,
                    "osRollingUpgradeDeferral": true
                  }
                },
                "automaticRepairsPolicy": {
                  "enabled": true,
                  "gracePeriod": "aaaaaaaaaaaaaaaaaaaaaaaaa"
                },
                "provisioningState": "succeeded",
                "doNotRunExtensionsOnOverprovisionedVMs": true,
                "uniqueId": "aaaaaaaa",
                "singlePlacementGroup": true,
                "zoneBalance": true,
                "platformFaultDomainCount": 1,
                "proximityPlacementGroup": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hostGroup": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "additionalCapabilities": {
                  "ultraSSDEnabled": true,
                  "hibernationEnabled": true
                },
                "scaleInPolicy": {
                  "rules": [
                    "Default"
                  ],
                  "forceDeletion": true
                },
                "orchestrationMode": "Uniform",
                "spotRestorePolicy": {
                  "enabled": true,
                  "restoreTimeout": "aaaaaaaaaa"
                }
              },
              "plan": {
                "name": "aaaaaaaaaa",
                "publisher": "aaaaaaaaaaaaaaaaaaaaaa",
                "product": "aaaaaaaaaaaaaaaaaaaa",
                "promotionCode": "aaaaaaaaaaaaaaaaaaaa"
              },
              "identity": {
                "principalId": "aaaaaaaaaaaaaaa",
                "tenantId": "aaaaaaaaaaaaaaaa",
                "type": "SystemAssigned",
                "userAssignedIdentities": {
                  "key3951": {
                    "principalId": "aaaa",
                    "clientId": "aaaaaaaaaaaaaaaaaaaaaaaaaaa"
                  }
                }
              },
              "zones": [
                "aaaaaaaaaaaaaaaaaaaa"
              ],
              "extendedLocation": {
                "name": "aaaaaaaaaaaaaaaaaaaaa",
                "type": "EdgeZone"
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}",
              "name": "{virtualMachineScaleSetName}",
              "type": "Microsoft.Compute/virtualMachineScaleSets",
              "tags": {
                "key8425": "aaa"
              }
            }
          ],
          "nextLink": "a://example.com/aaaa"
        }
      },
      "VirtualMachineScaleSet_ListAll_MinimumSet_Gen": {
        "value": {
          "value": [
            {
              "location": "westus",
              "id": "/subscriptions/{subscription-id}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}"
            }
          ]
        }
      },
      "VirtualMachine_ListAll_MaximumSet_Gen": {
        "value": {
          "value": [
            {
              "properties": {
                "vmId": "{vmId}",
                "availabilitySet": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hardwareProfile": {
                  "vmSize": "Standard_A0",
                  "vmSizeProperties": {
                    "vCPUsAvailable": 7,
                    "vCPUsPerCore": 14
                  }
                },
                "storageProfile": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2012-R2-Datacenter",
                    "version": "4.127.20170406",
                    "exactVersion": "aaaaaaaaaaaaa",
                    "sharedGalleryImageId": "aaaaaaaaaaaaaaa",
                    "communityGalleryImageId": "aaaa",
                    "id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                  },
                  "osDisk": {
                    "osType": "Windows",
                    "name": "test",
                    "createOption": "FromImage",
                    "vhd": {
                      "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    },
                    "caching": "None",
                    "diskSizeGB": 127,
                    "encryptionSettings": {
                      "diskEncryptionKey": {
                        "secretUrl": "aaaaaaaaa",
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        }
                      },
                      "keyEncryptionKey": {
                        "keyUrl": "aaaaaaaaaaaaa",
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        }
                      },
                      "enabled": true
                    },
                    "image": {
                      "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    },
                    "writeAcceleratorEnabled": true,
                    "diffDiskSettings": {
                      "option": "Local",
                      "placement": "CacheDisk"
                    },
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "diskEncryptionSet": {
                        "id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                      },
                      "securityProfile": {
                        "securityEncryptionType": "VMGuestStateOnly",
                        "diskEncryptionSet": {
                          "id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                        }
                      },
                      "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/testingexcludedisk_OsDisk_1_74cdaedcea50483d9833c96adefa100f"
                    },
                    "deleteOption": "Delete"
                  },
                  "dataDisks": []
                },
                "osProfile": {
                  "computerName": "Test",
                  "adminUsername": "Foo12",
                  "windowsConfiguration": {
                    "provisionVMAgent": true,
                    "enableAutomaticUpdates": true,
                    "timeZone": "aaaaaaaaaaaaaaaaaaaaaa",
                    "additionalUnattendContent": [
                      {
                        "passName": "OobeSystem",
                        "componentName": "Microsoft-Windows-Shell-Setup",
                        "settingName": "AutoLogon",
                        "content": "aaaaaaaaaaaaaaaaaaaaaaaaaa"
                      }
                    ],
                    "patchSettings": {
                      "patchMode": "Manual",
                      "enableHotpatching": true,
                      "assessmentMode": "ImageDefault"
                    },
                    "winRM": {
                      "listeners": [
                        {
                          "protocol": "Http",
                          "certificateUrl": "aaaaaaaaaaaaaaaaaaaaa"
                        }
                      ]
                    }
                  },
                  "secrets": [],
                  "allowExtensionOperations": true,
                  "customData": "aaaa",
                  "linuxConfiguration": {
                    "disablePasswordAuthentication": true,
                    "ssh": {
                      "publicKeys": [
                        {
                          "path": "aaaaaaaaaaaaaaaaaaaaaa",
                          "keyData": "aaa"
                        }
                      ]
                    },
                    "provisionVMAgent": true,
                    "patchSettings": {
                      "patchMode": "ImageDefault",
                      "assessmentMode": "ImageDefault"
                    }
                  },
                  "requireGuestProvisionSignal": true
                },
                "networkProfile": {
                  "networkInterfaces": [
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}",
                      "properties": {
                        "primary": true,
                        "deleteOption": "Delete"
                      }
                    }
                  ],
                  "networkApiVersion": "2022-05-01",
                  "networkInterfaceConfigurations": [
                    {
                      "name": "aaaaaaaa",
                      "properties": {
                        "primary": true,
                        "deleteOption": "Delete",
                        "enableAcceleratedNetworking": true,
                        "disableTcpStateTracking": true,
                        "enableFpga": true,
                        "enableIPForwarding": true,
                        "networkSecurityGroup": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        },
                        "dnsSettings": {
                          "dnsServers": [
                            "aaaaaaaaaaaaaaaaaaaaaaaa"
                          ]
                        },
                        "ipConfigurations": [
                          {
                            "name": "aaaaaaaa",
                            "properties": {
                              "subnet": {
                                "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                              },
                              "primary": true,
                              "publicIPAddressConfiguration": {
                                "name": "aaaaaaaaaaaaaaaaaa",
                                "properties": {
                                  "idleTimeoutInMinutes": 23,
                                  "deleteOption": "Delete",
                                  "dnsSettings": {
                                    "domainNameLabel": "aaaaa",
                                    "domainNameLabelScope": "TenantReuse"
                                  },
                                  "ipTags": [
                                    {
                                      "ipTagType": "aaaaa",
                                      "tag": "aaaaaaaaaaaaaaaaaaaaaaaaaaa"
                                    }
                                  ],
                                  "publicIPPrefix": {
                                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                  },
                                  "publicIPAddressVersion": "IPv4",
                                  "publicIPAllocationMethod": "Dynamic"
                                },
                                "sku": {
                                  "name": "Basic",
                                  "tier": "Regional"
                                }
                              },
                              "privateIPAddressVersion": "IPv4",
                              "applicationSecurityGroups": [
                                {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                }
                              ],
                              "applicationGatewayBackendAddressPools": [
                                {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                }
                              ],
                              "loadBalancerBackendAddressPools": [
                                {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                }
                              ]
                            }
                          }
                        ],
                        "dscpConfiguration": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        }
                      }
                    }
                  ]
                },
                "provisioningState": "Succeeded",
                "additionalCapabilities": {
                  "ultraSSDEnabled": true,
                  "hibernationEnabled": true
                },
                "securityProfile": {
                  "uefiSettings": {
                    "secureBootEnabled": true,
                    "vTpmEnabled": true
                  },
                  "encryptionAtHost": true,
                  "securityType": "TrustedLaunch"
                },
                "diagnosticsProfile": {
                  "bootDiagnostics": {
                    "enabled": true,
                    "storageUri": "aaaaaaaaaaaaaaaaaaaaa"
                  }
                },
                "virtualMachineScaleSet": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "proximityPlacementGroup": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "priority": "Regular",
                "evictionPolicy": "Deallocate",
                "billingProfile": {
                  "maxPrice": 26
                },
                "host": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hostGroup": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "licenseType": "aaaaaaaaaaaaaaa",
                "extensionsTimeBudget": "aaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                "platformFaultDomain": 8,
                "scheduledEventsProfile": {
                  "terminateNotificationProfile": {
                    "notBeforeTimeout": "PT10M",
                    "enable": true
                  },
                  "osImageNotificationProfile": {
                    "notBeforeTimeout": "PT15M",
                    "enable": true
                  }
                },
                "userData": "aaa",
                "capacityReservation": {
                  "capacityReservationGroup": {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  }
                },
                "applicationProfile": {
                  "galleryApplications": [
                    {
                      "tags": "aaaaa",
                      "order": 4,
                      "packageReferenceId": "aaaaaaaaaaaaaaaaaaaaaa",
                      "configurationReference": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    }
                  ]
                },
                "timeCreated": "2022-01-14T16:43:41.683Z"
              },
              "type": "Microsoft.Compute/virtualMachines",
              "location": "eastus",
              "tags": {},
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}",
              "name": "{virtualMachineName}",
              "plan": {
                "name": "aaaaaaaaaaaaaaaaaa",
                "publisher": "aaaaaaaaaaaaaaaaa",
                "product": "aaaaaaaaaaaaaaaaaaaaaa",
                "promotionCode": "aaaaaaaaaaaaaa"
              },
              "resources": [
                {
                  "properties": {
                    "forceUpdateTag": "aaaaaaaaaaaaaaa",
                    "publisher": "aaaaaaaaaaaaaaaa",
                    "type": "aaaaaaaa",
                    "typeHandlerVersion": "aaaaaaaaaaaa",
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "settings": {},
                    "protectedSettings": {},
                    "provisioningState": "aaa",
                    "suppressFailures": true,
                    "protectedSettingsFromKeyVault": {
                      "sourceVault": {
                        "id": "/subscriptions/a53f7094-a16c-47af-abe4-b05c05d0d79a/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/kvName"
                      },
                      "secretUrl": "https://kvName.vault.azure.net/secrets/secretName/79b88b3a6f5440ffb2e73e44a0db712e"
                    }
                  },
                  "id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "name": "aaaaaaaaaaaaa",
                  "type": "aaaaaaaaaaaaaaaaaaaaaaaaaaa",
                  "location": "aaaaaaaaaaaaaaaa",
                  "tags": {
                    "key9428": "aaaaaaa"
                  }
                }
              ],
              "identity": {
                "principalId": "aaaaaaaaaaaaaaaa",
                "tenantId": "aaaaa",
                "type": "SystemAssigned",
                "userAssignedIdentities": {
                  "key5688": {
                    "principalId": "aaaaaaaaaaaaaaa",
                    "clientId": "aaaaaaaaaaa"
                  }
                }
              },
              "zones": [
                "aaaaaaaaaaaaaaaaaaaaaaaaaaa"
              ],
              "extendedLocation": {
                "name": "aaaa",
                "type": "EdgeZone"
              }
            },
            {
              "properties": {
                "vmId": "{vmId}",
                "availabilitySet": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hardwareProfile": {
                  "vmSize": "Standard_A0",
                  "vmSizeProperties": {
                    "vCPUsAvailable": 7,
                    "vCPUsPerCore": 14
                  }
                },
                "storageProfile": {
                  "imageReference": {
                    "publisher": "MicrosoftWindowsServer",
                    "offer": "WindowsServer",
                    "sku": "2012-R2-Datacenter",
                    "version": "4.127.20170406",
                    "exactVersion": "aa",
                    "sharedGalleryImageId": "aaaaaaaaaaaaaaaaaaaaaaaaa",
                    "communityGalleryImageId": "aaaaaaaaaaaaaaaaaaaaaaaaaaaa",
                    "id": "aaaaaaaa"
                  },
                  "osDisk": {
                    "osType": "Windows",
                    "name": "test",
                    "createOption": "FromImage",
                    "vhd": {
                      "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    },
                    "caching": "None",
                    "diskSizeGB": 127,
                    "encryptionSettings": {
                      "diskEncryptionKey": {
                        "secretUrl": "aaaaaaaaa",
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        }
                      },
                      "keyEncryptionKey": {
                        "keyUrl": "aaaaaaaaaaaaa",
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        }
                      },
                      "enabled": true
                    },
                    "image": {
                      "uri": "https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd"
                    },
                    "writeAcceleratorEnabled": true,
                    "diffDiskSettings": {
                      "option": "Local",
                      "placement": "CacheDisk"
                    },
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "diskEncryptionSet": {
                        "id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                      },
                      "securityProfile": {
                        "securityEncryptionType": "VMGuestStateOnly",
                        "diskEncryptionSet": {
                          "id": "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                        }
                      },
                      "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/testingexcludedisk_OsDisk_1_74cdaedcea50483d9833c96adefa100f"
                    },
                    "deleteOption": "Delete"
                  },
                  "dataDisks": []
                },
                "osProfile": {
                  "computerName": "Test",
                  "adminUsername": "Foo12",
                  "windowsConfiguration": {
                    "provisionVMAgent": true,
                    "enableAutomaticUpdates": true,
                    "timeZone": "aaaaaaaaaaaaaaaaaaaa",
                    "additionalUnattendContent": [
                      {
                        "passName": "OobeSystem",
                        "componentName": "Microsoft-Windows-Shell-Setup",
                        "settingName": "AutoLogon",
                        "content": "aaaaaaaaaaaaaaaaaaaaaaaaaa"
                      }
                    ],
                    "patchSettings": {
                      "patchMode": "Manual",
                      "enableHotpatching": true,
                      "assessmentMode": "ImageDefault"
                    },
                    "winRM": {
                      "listeners": [
                        {
                          "protocol": "Http",
                          "certificateUrl": "aaaaaaaaaaaaaaaaaaaaa"
                        }
                      ]
                    }
                  },
                  "secrets": [],
                  "allowExtensionOperations": true,
                  "customData": "aaaaaaaaaaaaaaaaaaaaaaa",
                  "linuxConfiguration": {
                    "disablePasswordAuthentication": true,
                    "ssh": {
                      "publicKeys": [
                        {
                          "path": "aaaaaaaaaaaaaaaaaaaaaa",
                          "keyData": "aaa"
                        }
                      ]
                    },
                    "provisionVMAgent": true,
                    "patchSettings": {
                      "patchMode": "ImageDefault",
                      "assessmentMode": "ImageDefault"
                    }
                  },
                  "requireGuestProvisionSignal": true
                },
                "networkProfile": {
                  "networkInterfaces": [
                    {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}",
                      "properties": {
                        "primary": true,
                        "deleteOption": "Delete"
                      }
                    }
                  ],
                  "networkApiVersion": "2022-05-01",
                  "networkInterfaceConfigurations": [
                    {
                      "name": "aaaaaaaa",
                      "properties": {
                        "primary": true,
                        "deleteOption": "Delete",
                        "enableAcceleratedNetworking": true,
                        "disableTcpStateTracking": true,
                        "enableFpga": true,
                        "enableIPForwarding": true,
                        "networkSecurityGroup": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        },
                        "dnsSettings": {
                          "dnsServers": [
                            "aaaaaaaaaaaaaaaaaaaaaaaa"
                          ]
                        },
                        "ipConfigurations": [
                          {
                            "name": "aaaaaaaa",
                            "properties": {
                              "subnet": {
                                "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                              },
                              "primary": true,
                              "publicIPAddressConfiguration": {
                                "name": "aaaaaaaaaaaaaaaaaa",
                                "properties": {
                                  "idleTimeoutInMinutes": 23,
                                  "deleteOption": "Delete",
                                  "dnsSettings": {
                                    "domainNameLabel": "aaaaa",
                                    "domainNameLabelScope": "SubscriptionReuse"
                                  },
                                  "ipTags": [
                                    {
                                      "ipTagType": "aaaaa",
                                      "tag": "aaaaaaaaaaaaaaaaaaaaaaaaaaa"
                                    }
                                  ],
                                  "publicIPPrefix": {
                                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                  },
                                  "publicIPAddressVersion": "IPv4",
                                  "publicIPAllocationMethod": "Dynamic"
                                },
                                "sku": {
                                  "name": "Basic",
                                  "tier": "Regional"
                                }
                              },
                              "privateIPAddressVersion": "IPv4",
                              "applicationSecurityGroups": [
                                {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                }
                              ],
                              "applicationGatewayBackendAddressPools": [
                                {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                }
                              ],
                              "loadBalancerBackendAddressPools": [
                                {
                                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                                }
                              ]
                            }
                          }
                        ],
                        "dscpConfiguration": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                        }
                      }
                    }
                  ]
                },
                "provisioningState": "Succeeded",
                "additionalCapabilities": {
                  "ultraSSDEnabled": true,
                  "hibernationEnabled": true
                },
                "securityProfile": {
                  "uefiSettings": {
                    "secureBootEnabled": true,
                    "vTpmEnabled": true
                  },
                  "encryptionAtHost": true,
                  "securityType": "TrustedLaunch"
                },
                "diagnosticsProfile": {
                  "bootDiagnostics": {
                    "enabled": true,
                    "storageUri": "aaaaaaaaaaaaaaaaaaaaa"
                  }
                },
                "virtualMachineScaleSet": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "proximityPlacementGroup": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "priority": "Regular",
                "evictionPolicy": "Deallocate",
                "billingProfile": {
                  "maxPrice": 26
                },
                "host": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "hostGroup": {
                  "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                },
                "licenseType": "aaaaaaaaaaaaaa",
                "extensionsTimeBudget": "aaaaaaaaaaaaaaaaaaaaaa",
                "platformFaultDomain": 11,
                "scheduledEventsProfile": {
                  "terminateNotificationProfile": {
                    "notBeforeTimeout": "PT10M",
                    "enable": true
                  },
                  "osImageNotificationProfile": {
                    "notBeforeTimeout": "PT15M",
                    "enable": true
                  }
                },
                "userData": "aaaaaaaaaaaaaaaaaaa",
                "capacityReservation": {
                  "capacityReservationGroup": {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}"
                  }
                },
                "applicationProfile": {
                  "galleryApplications": [
                    {
                      "tags": "aaaaa",
                      "order": 4,
                      "packageReferenceId": "aaaaaaaaaaaaaaaaaaaaaa",
                      "configurationReference": "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
                    }
                  ]
                },
                "timeCreated": "2022-01-14T16:43:41.685Z"
              },
              "type": "Microsoft.Compute/virtualMachines",
              "location": "eastus",
              "tags": {},
              "id": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}",
              "name": "{virtualMachineName}",
              "plan": {
                "name": "aaaaaaaaaaaaaaaaaa",
                "publisher": "aaaaaaaaaaaaaaaaa",
[...]
