{
  "openapi": "3.0.0",
  "info": {
    "version": "2025-04-01",
    "title": "ContainerRegistryManagementClient"
  },
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "CacheRuleList": {
        "value": {
          "value": [
            {
              "type": "Microsoft.ContainerRegistry/registries/cacheRules",
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/cacheRules/myCacheRule",
              "name": "myCacheRule",
              "properties": {
                "credentialSetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
                "sourceRepository": "docker.io/library/hello-world",
                "targetRepository": "cached-docker-hub/hello-world",
                "creationDate": "2022-11-07T18:20:33.8374968+00:00",
                "provisioningState": "Succeeded"
              }
            }
          ]
        }
      },
      "CacheRuleGet": {
        "value": {
          "type": "Microsoft.ContainerRegistry/registries/cacheRules",
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/cacheRules/myCacheRule",
          "name": "myCacheRule",
          "properties": {
            "credentialSetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
            "sourceRepository": "docker.io/library/hello-world",
            "targetRepository": "cached-docker-hub/hello-world",
            "creationDate": "2022-11-07T18:20:33.8374968+00:00",
            "provisioningState": "Succeeded"
          }
        }
      },
      "CacheRuleCreate": {
        "value": {
          "type": "Microsoft.ContainerRegistry/registries/cacheRules",
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/cacheRules/myCacheRule",
          "name": "myCacheRule",
          "properties": {
            "credentialSetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
            "sourceRepository": "docker.io/library/hello-world",
            "targetRepository": "cached-docker-hub/hello-world",
            "creationDate": "2022-11-07T18:20:33.8374968+00:00",
            "provisioningState": "Creating"
          }
        }
      },
      "CacheRuleUpdate": {
        "value": {
          "type": "Microsoft.ContainerRegistry/registries/cacheRules",
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/cacheRules/myCacheRule",
          "name": "myCacheRule",
          "properties": {
            "credentialSetResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet2",
            "sourceRepository": "docker.io/library/hello-world",
            "targetRepository": "cached-docker-hub/hello-world",
            "creationDate": "2022-11-07T18:20:33.8374968+00:00",
            "provisioningState": "Updating"
          }
        }
      },
      "ConnectedRegistryGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/connectedRegistries/myConnectedRegistry",
          "name": "myConnectedRegistry",
          "type": "Microsoft.ContainerRegistry/registries/connectedRegistries",
          "properties": {
            "mode": "ReadWrite",
            "activation": {
              "status": "Inactive"
            },
            "parent": {
              "syncProperties": {
                "tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/syncToken",
                "schedule": "0 9 * * *",
                "messageTtl": "P2D",
                "syncWindow": "PT3H"
              }
            },
            "clientTokenIds": [
              "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/client1Token"
            ],
            "logging": {
              "logLevel": "Information",
              "auditLogStatus": "Disabled"
            },
            "notificationsList": ["hello-world:*:*", "sample/repo/*:1.0:*"],
            "garbageCollection": {
              "enabled": true,
              "schedule": "0 5 * * *"
            }
          }
        }
      },
      "ConnectedRegistryCreate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/connectedRegistries/myConnectedRegistry",
          "name": "myConnectedRegistry",
          "type": "Microsoft.ContainerRegistry/registries/connectedRegistries",
          "properties": {
            "mode": "ReadWrite",
            "activation": {
              "status": "Inactive"
            },
            "parent": {
              "syncProperties": {
                "tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/syncToken",
                "schedule": "0 9 * * *",
                "messageTtl": "P2D",
                "syncWindow": "PT3H"
              }
            },
            "clientTokenIds": [
              "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/client1Token"
            ],
            "logging": {
              "logLevel": "Information",
              "auditLogStatus": "Disabled"
            },
            "notificationsList": ["hello-world:*:*", "sample/repo/*:1.0:*"],
            "garbageCollection": {
              "enabled": true,
              "schedule": "0 5 * * *"
            }
          }
        }
      },
      "ConnectedRegistryUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/connectedRegistries/myConnectedRegistry",
          "name": "myConnectedRegistry",
          "type": "Microsoft.ContainerRegistry/registries/connectedRegistries",
          "properties": {
            "mode": "ReadWrite",
            "parent": {
              "syncProperties": {
                "tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/syncToken",
                "schedule": "0 0 */10 * *",
                "messageTtl": "P30D",
                "syncWindow": "P2D"
              }
            },
            "clientTokenIds": [
              "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/client1Token",
              "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/client2Token"
            ],
            "logging": {
              "logLevel": "Debug",
              "auditLogStatus": "Enabled"
            },
            "notificationsList": ["hello-world:*:*", "sample/repo/*:1.0:*"],
            "garbageCollection": {
              "enabled": true,
              "schedule": "0 5 * * *"
            }
          }
        }
      },
      "ConnectedRegistryList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/connectedRegistries/myConnectedRegistry",
              "name": "myConnectedRegistry",
              "type": "Microsoft.ContainerRegistry/registries/connectedRegistries",
              "properties": {
                "mode": "ReadWrite",
                "activation": {
                  "status": "Inactive"
                },
                "parent": {
                  "syncProperties": {
                    "tokenId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/syncToken",
                    "schedule": "0 9 * * *",
                    "messageTtl": "P2D",
                    "syncWindow": "PT3H"
                  }
                },
                "clientTokenIds": [
                  "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/client1Token"
                ],
                "logging": {
                  "logLevel": "Information",
                  "auditLogStatus": "Disabled"
                },
                "notificationsList": ["hello-world:*:*", "sample/repo/*:1.0:*"],
                "garbageCollection": {
                  "enabled": true,
                  "schedule": "0 5 * * *"
                }
              }
            }
          ]
        }
      },
      "CredentialSetList": {
        "value": {
          "value": [
            {
              "type": "Microsoft.ContainerRegistry/registries/credentialSets",
              "identity": {
                "principalId": "00000000-0000-0000-0000-000000000000",
                "tenantId": "00000000-0000-0000-0000-000000000000",
                "type": "SystemAssigned"
              },
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
              "name": "myCredentialSet",
              "properties": {
                "loginServer": "docker.io",
                "authCredentials": [
                  {
                    "name": "Credential1",
                    "usernameSecretIdentifier": "https://myvault.vault.azure.net/secrets/username",
                    "passwordSecretIdentifier": "https://myvault.vault.azure.net/secrets/password",
                    "credentialHealth": {
                      "status": "Healthy"
                    }
                  }
                ],
                "creationDate": "2022-11-07T18:20:08.012276+00:00",
                "provisioningState": "Succeeded"
              }
            }
          ]
        }
      },
      "CredentialSetGet": {
        "value": {
          "type": "Microsoft.ContainerRegistry/registries/credentialSets",
          "identity": {
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "type": "SystemAssigned"
          },
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
          "name": "myCredentialSet",
          "properties": {
            "loginServer": "docker.io",
            "authCredentials": [
              {
                "name": "Credential1",
                "usernameSecretIdentifier": "https://myvault.vault.azure.net/secrets/username",
                "passwordSecretIdentifier": "https://myvault.vault.azure.net/secrets/password",
                "credentialHealth": {
                  "status": "Healthy"
                }
              }
            ],
            "creationDate": "2022-11-07T18:20:08.012276+00:00",
            "provisioningState": "Succeeded"
          }
        }
      },
      "CredentialSetCreate": {
        "value": {
          "type": "Microsoft.ContainerRegistry/registries/credentialSets",
          "identity": {
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "type": "SystemAssigned"
          },
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
          "name": "myCredentialSet",
          "properties": {
            "loginServer": "docker.io",
            "authCredentials": [
              {
                "name": "Credential1",
                "usernameSecretIdentifier": "https://myvault.vault.azure.net/secrets/username",
                "passwordSecretIdentifier": "https://myvault.vault.azure.net/secrets/password",
                "credentialHealth": {
                  "status": "Healthy"
                }
              }
            ],
            "creationDate": "2022-11-07T18:20:08.012276+00:00",
            "provisioningState": "Creating"
          }
        }
      },
      "CredentialSetUpdate": {
        "value": {
          "type": "Microsoft.ContainerRegistry/registries/credentialSets",
          "identity": {
            "principalId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "type": "SystemAssigned"
          },
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/credentialSets/myCredentialSet",
          "name": "myCredentialSet",
          "properties": {
            "loginServer": "docker.io",
            "authCredentials": [
              {
                "name": "Credential1",
                "usernameSecretIdentifier": "https://myvault.vault.azure.net/secrets/username2",
                "passwordSecretIdentifier": "https://myvault.vault.azure.net/secrets/password2",
                "credentialHealth": {
                  "status": "Healthy"
                }
              }
            ],
            "creationDate": "2022-11-07T18:20:08.012276+00:00",
            "provisioningState": "Updating"
          }
        }
      },
      "OperationList": {
        "value": {
          "value": [
            {
              "name": "Microsoft.ContainerRegistry/locations/deleteVirtualNetworkOrSubnets/action",
              "display": {
                "provider": "Microsoft ContainerRegistry",
                "resource": "",
                "operation": "Delete virtual network or subnets notifications",
                "description": "Notifies Microsoft.ContainerRegistry that virtual network or subnet is being deleted"
              }
            }
          ]
        }
      },
      "RegistryCheckNameAvailable": {
        "value": {
          "nameAvailable": true
        }
      },
      "RegistryCheckNameNotAvailable": {
        "value": {
          "nameAvailable": false,
          "reason": "AlreadyExists",
          "message": "The registry myRegistry is already in use."
        }
      },
      "PrivateEndpointConnectionList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/privateEndpointConnections/myConnection",
              "name": "myConnection",
              "type": "Microsoft.ContainerRegistry/registries/privateEndpointConnections",
              "properties": {
                "provisioningState": "Succeeded",
                "privateEndpoint": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Auto-Approved",
                  "actionsRequired": "None"
                }
              }
            }
          ]
        }
      },
      "PrivateEndpointConnectionGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/privateEndpointConnections/myConnection",
          "name": "myConnection",
          "type": "Microsoft.ContainerRegistry/registries/privateEndpointConnections",
          "properties": {
            "provisioningState": "Succeeded",
            "privateEndpoint": {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01"
            },
            "privateLinkServiceConnectionState": {
              "status": "Approved",
              "description": "Auto-Approved",
              "actionsRequired": "None"
            }
          }
        }
      },
      "PrivateEndpointConnectionCreateOrUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/privateEndpointConnections/myConnection",
          "name": "myConnection",
          "type": "Microsoft.ContainerRegistry/registries/privateEndpointConnections",
          "properties": {
            "provisioningState": "Succeeded",
            "privateEndpoint": {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/peexample01"
            },
            "privateLinkServiceConnectionState": {
              "status": "Approved",
              "description": "Auto-Approved",
              "actionsRequired": "None"
            }
          }
        }
      },
      "RegistryList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
              "name": "myRegistry",
              "type": "Microsoft.ContainerRegistry/registries",
              "location": "westus",
              "tags": {
                "key": "value"
              },
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "properties": {
                "loginServer": "myRegistry.azurecr.io",
                "creationDate": "2021-06-15T21:38:26.1537861Z",
                "provisioningState": "Succeeded",
                "adminUserEnabled": false,
                "networkRuleSet": {
                  "defaultAction": "Allow",
                  "ipRules": []
                },
                "policies": {
                  "quarantinePolicy": {
                    "status": "disabled"
                  },
                  "trustPolicy": {
                    "type": "Notary",
                    "status": "disabled"
                  },
                  "retentionPolicy": {
                    "days": 7,
                    "lastUpdatedTime": "2021-06-15T21:40:12.8506835+00:00",
                    "status": "disabled"
                  },
                  "exportPolicy": {
                    "status": "enabled"
                  },
                  "azureADAuthenticationAsArmPolicy": {
                    "status": "enabled"
                  }
                },
                "encryption": {
                  "status": "disabled"
                },
                "dataEndpointEnabled": false,
                "dataEndpointHostNames": [],
                "privateEndpointConnections": [],
                "publicNetworkAccess": "Enabled",
                "networkRuleBypassOptions": "AzureServices",
                "zoneRedundancy": "Disabled",
                "anonymousPullEnabled": false
              }
            }
          ]
        }
      },
      "RegistryListByResourceGroup": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
              "name": "myRegistry",
              "type": "Microsoft.ContainerRegistry/registries",
              "location": "westus",
              "tags": {
                "key": "value"
              },
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "properties": {
                "loginServer": "myRegistry.azurecr.io",
                "creationDate": "2021-06-15T21:38:26.1537861Z",
                "provisioningState": "Succeeded",
                "adminUserEnabled": false,
                "networkRuleSet": {
                  "defaultAction": "Allow",
                  "ipRules": []
                },
                "policies": {
                  "quarantinePolicy": {
                    "status": "disabled"
                  },
                  "trustPolicy": {
                    "type": "Notary",
                    "status": "disabled"
                  },
                  "retentionPolicy": {
                    "days": 7,
                    "lastUpdatedTime": "2021-06-15T21:40:12.8506835+00:00",
                    "status": "disabled"
                  },
                  "exportPolicy": {
                    "status": "enabled"
                  },
                  "azureADAuthenticationAsArmPolicy": {
                    "status": "enabled"
                  }
                },
                "encryption": {
                  "status": "disabled"
                },
                "dataEndpointEnabled": false,
                "dataEndpointHostNames": [],
                "privateEndpointConnections": [],
                "publicNetworkAccess": "Enabled",
                "networkRuleBypassOptions": "AzureServices",
                "zoneRedundancy": "Disabled",
                "anonymousPullEnabled": false
              }
            }
          ]
        }
      },
      "RegistryGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
          "name": "myRegistry",
          "type": "Microsoft.ContainerRegistry/registries",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "sku": {
            "name": "Standard",
            "tier": "Standard"
          },
          "properties": {
            "loginServer": "myRegistry.azurecr.io",
            "creationDate": "2021-06-15T21:38:26.1537861Z",
            "provisioningState": "Succeeded",
            "adminUserEnabled": false,
            "networkRuleSet": {
              "defaultAction": "Allow",
              "ipRules": []
            },
            "policies": {
              "quarantinePolicy": {
                "status": "disabled"
              },
              "trustPolicy": {
                "type": "Notary",
                "status": "disabled"
              },
              "retentionPolicy": {
                "days": 7,
                "lastUpdatedTime": "2021-06-15T21:40:12.8506835+00:00",
                "status": "disabled"
              },
              "exportPolicy": {
                "status": "enabled"
              },
              "azureADAuthenticationAsArmPolicy": {
                "status": "enabled"
              }
            },
            "encryption": {
              "status": "disabled"
            },
            "dataEndpointEnabled": false,
            "dataEndpointHostNames": [],
            "privateEndpointConnections": [],
            "publicNetworkAccess": "Enabled",
            "networkRuleBypassOptions": "AzureServices",
            "zoneRedundancy": "Disabled",
            "anonymousPullEnabled": false
          }
        }
      },
      "RegistryCreate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
          "name": "myRegistry",
          "type": "Microsoft.ContainerRegistry/registries",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "sku": {
            "name": "Standard",
            "tier": "Standard"
          },
          "properties": {
            "loginServer": "myRegistry.azurecr.io",
            "creationDate": "2021-06-15T21:38:26.1537861Z",
            "provisioningState": "Creating",
            "adminUserEnabled": true,
            "networkRuleSet": {
              "defaultAction": "Allow",
              "ipRules": []
            },
            "policies": {
              "quarantinePolicy": {
                "status": "disabled"
              },
              "trustPolicy": {
                "type": "Notary",
                "status": "disabled"
              },
              "retentionPolicy": {
                "days": 7,
                "lastUpdatedTime": "2021-06-15T21:40:12.8506835+00:00",
                "status": "disabled"
              },
              "exportPolicy": {
                "status": "enabled"
              },
              "azureADAuthenticationAsArmPolicy": {
                "status": "enabled"
              }
            },
            "encryption": {
              "status": "disabled"
            },
            "dataEndpointEnabled": false,
            "dataEndpointHostNames": [],
            "privateEndpointConnections": [],
            "publicNetworkAccess": "Enabled",
            "networkRuleBypassOptions": "AzureServices",
            "zoneRedundancy": "Disabled",
            "anonymousPullEnabled": false
          }
        }
      },
      "RegistryCreateZoneRedundant": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
          "name": "myRegistry",
          "type": "Microsoft.ContainerRegistry/registries",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "sku": {
            "name": "Standard",
            "tier": "Standard"
          },
          "properties": {
            "loginServer": "myRegistry.azurecr.io",
            "creationDate": "2021-06-15T21:38:26.1537861Z",
            "provisioningState": "Creating",
            "adminUserEnabled": false,
            "networkRuleSet": {
              "defaultAction": "Allow",
              "ipRules": []
            },
            "policies": {
              "quarantinePolicy": {
                "status": "disabled"
              },
              "trustPolicy": {
                "type": "Notary",
                "status": "disabled"
              },
              "retentionPolicy": {
                "days": 7,
                "lastUpdatedTime": "2021-06-15T21:40:12.8506835+00:00",
                "status": "disabled"
              },
              "exportPolicy": {
                "status": "enabled"
              },
              "azureADAuthenticationAsArmPolicy": {
                "status": "enabled"
              }
            },
            "encryption": {
              "status": "disabled"
            },
            "dataEndpointEnabled": false,
            "dataEndpointHostNames": [],
            "privateEndpointConnections": [],
            "publicNetworkAccess": "Enabled",
            "networkRuleBypassOptions": "AzureServices",
            "zoneRedundancy": "Enabled",
            "anonymousPullEnabled": false
          }
        }
      },
      "RegistryUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
          "name": "myRegistry",
          "type": "Microsoft.ContainerRegistry/registries",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "sku": {
            "name": "Standard",
            "tier": "Standard"
          },
          "properties": {
            "loginServer": "myRegistry.azurecr.io",
            "creationDate": "2021-06-15T21:38:26.1537861Z",
            "provisioningState": "Updating",
            "adminUserEnabled": true,
            "networkRuleSet": {
              "defaultAction": "Allow",
              "ipRules": []
            },
            "policies": {
              "quarantinePolicy": {
                "status": "disabled"
              },
              "trustPolicy": {
                "type": "Notary",
                "status": "disabled"
              },
              "retentionPolicy": {
                "days": 7,
                "lastUpdatedTime": "2021-06-15T21:40:12.8506835+00:00",
                "status": "disabled"
              },
              "exportPolicy": {
                "status": "enabled"
              },
              "azureADAuthenticationAsArmPolicy": {
                "status": "enabled"
              }
            },
            "encryption": {
              "status": "disabled"
            },
            "dataEndpointEnabled": false,
            "dataEndpointHostNames": [],
            "privateEndpointConnections": [],
            "publicNetworkAccess": "Enabled",
            "networkRuleBypassOptions": "AzureServices",
            "zoneRedundancy": "Disabled",
            "anonymousPullEnabled": false
          }
        }
      },
      "RegistryListUsages": {
        "value": {
          "value": [
            {
              "name": "Size",
              "limit": 107374182400,
              "currentValue": 12345678,
              "unit": "Bytes"
            },
            {
              "name": "Webhooks",
              "limit": 10,
              "currentValue": 2,
              "unit": "Count"
            }
          ]
        }
      },
      "RegistryListPrivateLinkResources": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/privateLinkResources/registry",
              "name": "registry",
              "type": "Microsoft.ContainerRegistry/registries/privateLinkResources",
              "properties": {
                "groupId": "registry",
                "requiredMembers": ["registry", "registry_data_myregion"],
                "requiredZoneNames": ["privatelink.azurecr.io"]
              }
            }
          ]
        }
      },
      "RegistryGetPrivateLinkResource": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/privateLinkResources/registry",
          "name": "registry",
          "type": "Microsoft.ContainerRegistry/registries/privateLinkResources",
          "properties": {
            "groupId": "registry",
            "requiredMembers": ["registry", "registry_data_myregion"],
            "requiredZoneNames": ["privatelink.azurecr.io"]
          }
        }
      },
      "RegistryListCredentials": {
        "value": {
          "username": "myRegistry",
          "passwords": [
            {
              "name": "password",
              "value": "00000000000000000000000000000000"
            },
            {
              "name": "password2",
              "value": "00000000000000000000000000000000"
            }
          ]
        }
      },
      "RegistryRegenerateCredential": {
        "value": {
          "username": "myRegistry",
          "passwords": [
            {
              "name": "password",
              "value": "00000000000000000000000000000000"
            },
            {
              "name": "password2",
              "value": "00000000000000000000000000000000"
            }
          ]
        }
      },
      "ReplicationList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication",
              "name": "myReplication",
              "type": "Microsoft.ContainerRegistry/registries/replications",
              "location": "eastus",
              "tags": {
                "key": "value"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "status": {
                  "displayStatus": "Ready",
                  "message": "The replication is ready.",
                  "timestamp": "2017-03-01T23:15:37.0707808Z"
                },
                "regionEndpointEnabled": true,
                "zoneRedundancy": "Disabled"
              }
            }
          ]
        }
      },
      "ReplicationGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication",
          "name": "myReplication",
          "type": "Microsoft.ContainerRegistry/registries/replications",
          "location": "eastus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "status": {
              "displayStatus": "Ready",
              "message": "The replication is ready.",
              "timestamp": "2017-03-01T23:15:37.0707808Z"
            },
            "regionEndpointEnabled": true,
            "zoneRedundancy": "Disabled"
          }
        }
      },
      "ReplicationCreate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication",
          "name": "myReplication",
          "type": "Microsoft.ContainerRegistry/registries/replications",
          "location": "eastus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "provisioningState": "Creating",
            "status": {
              "displayStatus": "Provisioning",
              "message": "The replication is provisioning.",
              "timestamp": "2017-03-01T23:15:37.0707808Z"
            },
            "regionEndpointEnabled": true,
            "zoneRedundancy": "Disabled"
          }
        }
      },
      "ReplicationCreateZoneRedundant": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication",
          "name": "myReplication",
          "type": "Microsoft.ContainerRegistry/registries/replications",
          "location": "eastus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "provisioningState": "Creating",
            "status": {
              "displayStatus": "Provisioning",
              "message": "The replication is provisioning.",
              "timestamp": "2017-03-01T23:15:37.0707808Z"
            },
            "regionEndpointEnabled": true,
            "zoneRedundancy": "Enabled"
          }
        }
      },
      "ReplicationUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/replications/myReplication",
          "name": "myReplication",
          "type": "Microsoft.ContainerRegistry/registries/replications",
          "location": "eastus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "provisioningState": "Updating",
            "status": {
              "displayStatus": "Provisioning",
              "message": "The replication is provisioning.",
              "timestamp": "2017-03-01T23:15:37.0707808Z"
            },
            "regionEndpointEnabled": true,
            "zoneRedundancy": "Disabled"
          }
        }
      },
      "ScopeMapList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
              "name": "myScopeMap",
              "type": "Microsoft.ContainerRegistry/registries/scopeMaps",
              "properties": {
                "creationDate": "2017-03-01T23:14:37.0707808Z",
                "type": "IsUserDefined",
                "actions": [
                  "repositories/myrepository/contentWrite",
                  "repositories/myrepository/delete"
                ],
                "provisioningState": "Succeeded"
              }
            }
          ]
        }
      },
      "ScopeMapGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
          "name": "myScopeMap",
          "type": "Microsoft.ContainerRegistry/registries/scopeMaps",
          "properties": {
            "creationDate": "2017-03-01T23:14:37.0707808Z",
            "type": "IsUserDefined",
            "actions": [
              "repositories/myrepository/contentWrite",
              "repositories/myrepository/delete"
            ],
            "provisioningState": "Succeeded"
          }
        }
      },
      "ScopeMapCreate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
          "name": "myScopeMap",
          "type": "Microsoft.ContainerRegistry/registries/scopeMaps",
          "properties": {
            "creationDate": "2017-03-01T23:14:37.0707808Z",
            "type": "IsUserDefined",
            "actions": [
              "repositories/myrepository/contentWrite",
              "repositories/myrepository/delete"
            ],
            "provisioningState": "Succeeded"
          }
        }
      },
      "ScopeMapUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
          "name": "myScopeMap",
          "type": "Microsoft.ContainerRegistry/registries/scopeMaps",
          "properties": {
            "creationDate": "2017-03-01T23:14:37.0707808Z",
            "type": "IsUserDefined",
            "actions": [
              "repositories/myrepository/contentWrite",
              "repositories/myrepository/contentRead"
            ],
            "provisioningState": "Succeeded"
          }
        }
      },
      "TokenList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/myToken",
              "name": "myToken",
              "type": "Microsoft.ContainerRegistry/registries/tokens",
              "properties": {
                "creationDate": "2017-03-01T23:14:37.0707808Z",
                "scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
                "provisioningState": "Succeeded",
                "status": "enabled"
              }
            }
          ]
        }
      },
      "TokenGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/myToken",
          "name": "myToken",
          "type": "Microsoft.ContainerRegistry/registries/tokens",
          "properties": {
            "creationDate": "2017-03-01T23:14:37.0707808Z",
            "scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
            "provisioningState": "Succeeded",
            "status": "enabled"
          }
        }
      },
      "TokenCreate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/myToken",
          "name": "myToken",
          "type": "Microsoft.ContainerRegistry/registries/tokens",
          "properties": {
            "creationDate": "2017-03-01T23:14:37.0707808Z",
            "scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myScopeMap",
            "provisioningState": "Succeeded",
            "status": "disabled",
            "credentials": {
              "certificates": [
                {
                  "name": "certificate1",
                  "thumbprint": "feeb79a888bf1415f8e17c4965a2a5bb5c8a2ff7",
                  "expiry": "2020-12-04T15:32:48.0707808Z"
                }
              ]
            }
          }
        }
      },
      "TokenUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/tokens/myToken",
          "name": "myToken",
          "type": "Microsoft.ContainerRegistry/registries/tokens",
          "properties": {
            "creationDate": "2017-03-01T23:14:37.0707808Z",
            "scopeMapId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/scopeMaps/myNewScopeMap",
            "provisioningState": "Succeeded",
            "status": "enabled",
            "credentials": {
              "certificates": [
                {
                  "name": "certificate1",
                  "encodedPemCertificate": "LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUc3akNDQk5hZ0F3SUJBZ0lURmdBQlR3UVpyZGdmdmhxdzBnQUFBQUZQQkRBTkJna3Foa2lHOXcwQkFRc0YKQURDQml6RUxNQWtHQTFVRUJoTUNWVk14RXpBUkJnTlZCQWdUQ2xkaGMyaHBibWQwYjI0eEVEQU9CZ05WQkFjVApCMUpsWkcxdmJtUXhIakFjQmdOVkJBb1RGVTFwWTNKdmMyOW1kQ0JEYjNKd2IzSmhkR2x2YmpFVk1CTUdBMVVFCkN4TU1UV2xqY205emIyWjBJRWxVTVI0d0hBWURWUVFERXhWTmFXTnliM052Wm5RZ1NWUWdWRXhUSUVOQklEUXcKSGhjTk1UZ3dOREV5TWpJek1qUTRXaGNOTWpBd05ERXlNakl6TWpRNFdqQTVNVGN3TlFZRFZRUURFeTV6WlhKMgphV05sWTJ4cFpXNTBZMlZ5ZEMxd1lYSjBibVZ5TG0xaGJtRm5aVzFsYm5RdVlYcDFjbVV1WTI5dE1JSUJJakFOCkJna3Foa2lHOXcwQkFRRUZBQU9DQVE4QU1JSUJDZ0tDQVFFQTBSYjdJcHpxMmR4emhhbVpyS1ZDakMzeTQyYlYKUnNIY2pCUTFuSDBHZ1puUDhXeDZDSE1mWThybkVJQzRLeVRRYkJXVzhnNXlmc3NSQ0ZXbFpxYjR6SkRXS0pmTgpGSmNMUm9LNnhwTktZYVZVTkVlT25IdUxHYTM0ZlA0VjBFRjZybzdvbkRLME5zanhjY1dZVzRNVXVzc0xrQS94CkUrM2RwU1REdk1KcjJoWUpsVnFDcVR6blQvbmZaVUZzQUVEQnp5MUpOOHZiZDlIR2czc2Myd0x4dk95cFJOc0gKT1V3V2pmN2xzWWZleEVlcWkzY29EeHc2alpLVWEyVkdsUnBpTkowMjhBQitYSi9TU1FVNVBsd0JBbU9TT3ovRApGY0NKdGpPZlBqU1NKckFIQVV3SHU3RzlSV05JTFBwYU9zQ1J5eitETE5zNGpvNlEvUUg4d1lManJRSURBUUFCCm80SUNtakNDQXBZd0N3WURWUjBQQkFRREFnU3dNQjBHQTFVZEpRUVdNQlFHQ0NzR0FRVUZCd01DQmdnckJnRUYKQlFjREFUQWRCZ05WSFE0RUZnUVVlbEdkVVJrZzJoSFFOWEQ4WUc4L3drdjJVT0F3SHdZRFZSMGpCQmd3Rm9BVQplbnVNd2Mvbm9Nb2MxR3Y2KytFend3OGFvcDB3Z2F3R0ExVWRId1NCcERDQm9UQ0JucUNCbTZDQm1JWkxhSFIwCmNEb3ZMMjF6WTNKc0xtMXBZM0p2YzI5bWRDNWpiMjB2Y0d0cEwyMXpZMjl5Y0M5amNtd3ZUV2xqY205emIyWjAKSlRJd1NWUWxNakJVVEZNbE1qQkRRU1V5TURRdVkzSnNoa2xvZEhSd09pOHZZM0pzTG0xcFkzSnZjMjltZEM1agpiMjB2Y0d0cEwyMXpZMjl5Y0M5amNtd3ZUV2xqY205emIyWjBKVEl3U1ZRbE1qQlVURk1sTWpCRFFTVXlNRFF1ClkzSnNNSUdGQmdnckJnRUZCUWNCQVFSNU1IY3dVUVlJS3dZQkJRVUhNQUtHUldoMGRIQTZMeTkzZDNjdWJXbGoKY205emIyWjBMbU52YlM5d2Eya3ZiWE5qYjNKd0wwMXBZM0p2YzI5bWRDVXlNRWxVSlRJd1ZFeFRKVEl3UTBFbApNakEwTG1OeWREQWlCZ2dyQmdFRkJRY3dBWVlXYUhSMGNEb3ZMMjlqYzNBdWJYTnZZM053TG1OdmJUQStCZ2tyCkJnRUVBWUkzRlFjRU1UQXZCaWNyQmdFRUFZSTNGUWlIMm9aMWcrN1pBWUxKaFJ1QnRaNWhoZlRyWUlGZGhOTGYKUW9Mbmszb0NBV1FDQVIwd1RRWURWUjBnQkVZd1JEQkNCZ2tyQmdFRUFZSTNLZ0V3TlRBekJnZ3JCZ0VGQlFjQwpBUlluYUhSMGNEb3ZMM2QzZHk1dGFXTnliM052Wm5RdVkyOXRMM0JyYVM5dGMyTnZjbkF2WTNCek1DY0dDU3NHCkFRUUJnamNWQ2dRYU1CZ3dDZ1lJS3dZQkJRVUhBd0l3Q2dZSUt3WUJCUVVIQXdFd09RWURWUjBSQkRJd01JSXUKYzJWeWRtbGpaV05zYVdWdWRHTmxjblF0Y0dGeWRHNWxjaTV0WVc1aFoyVnRaVzUwTG1GNmRYSmxMbU52YlRBTgpCZ2txaGtpRzl3MEJBUXNGQUFPQ0FnRUFIVXIzbk1vdUI5WWdDUlRWYndUTllIS2RkWGJkSW1GUXNDYys4T1g1CjE5c0N6dFFSR05iSXEwVW1Ba01MbFVvWTIxckh4ZXdxU2hWczFhL2RwaFh5Tk1pcUdaU2QzU1BtYzZscitqUFQKNXVEREs0MUlWeXN0K2VUNlpyazFvcCtMVmdkeS9EU2lyNzVqcWZFY016bS82bU8rNnFNeWRLTWtVYmM5K3JHVwphUkpUcjRWUUdIRmEwNEIwZVZpNUd4MG9pL2RpZDNSaXg2aXJMMjFJSGEwYjN6c1hzZHpHU0R2K3hqL2Q2S0l4Ckdrd2FhYmZvU1NoQnFqaFNlQ0VyZXFlb1RpYjljdGw0MGRVdUp3THl4bjhHS2N6K3AvMEJUOEIxU3lYK01OQ2wKY0pkMjVtMjhLajY2TGUxOEVyeFlJYXZJVGVGa3Y2eGZjdkEvcHladDdPaU41QTlGQk1IUmpQK1kyZ2tvdjMrcQpISFRUZG4xNnlRajduNit3YlFHNGVleXc0YisyQkRLcUxNVFU2ZmlSQ3ZPM2FPZVBLSFVNN3R4b1FidWl6Z3NzCkNiMzl3QnJOTEZsMkJLQ1RkSCtkSU9oZVJiSkZvbmlwOGRPOUVFZWdSSG9lQW54ZUlYTFBrdXMzTzEvZjRhNkIKWHQ3RG5BUm8xSzJmeEp3VXRaU2MvR3dFSjU5NzlnRXlEa3pDZEVsLzdpWE9QZXVjTXhlM2xVM2pweUtsNERUaApjSkJqQytqNGpLWTFrK1U4b040aGdqYnJISUx6Vnd2eU15OU5KS290U3BMSjQxeHdPOHlGangxalFTT3Bxc0N1ClFhUFUvTjhSZ0hxWjBGTkFzS3dNUmZ6WmdXanRCNzRzYUVEdk5jVmNuNFhCQnFNSG0ydHo2Uzk3d3kxZGt0cTgKSE5BPQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg=="
                }
              ]
            }
          }
        }
      },
      "RegistryGenerateCredentials": {
        "value": {
          "username": "myToken",
          "passwords": [
            {
              "expiry": "2020-12-31T15:59:59.0707808Z",
              "name": "password1",
              "value": "00000000000000000000000000000000"
            },
            {
              "expiry": "2020-12-31T15:59:59.0707808Z",
              "name": "password2",
              "value": "00000000000000000000000000000000"
            }
          ]
        }
      },
      "WebhookList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook",
              "name": "myWebhook",
              "type": "Microsoft.ContainerRegistry/registries/webhooks",
              "location": "westus",
              "tags": {
                "key": "value"
              },
              "properties": {
                "status": "enabled",
                "scope": "myRepository",
                "actions": ["push"],
                "provisioningState": "Succeeded"
              }
            }
          ]
        }
      },
      "WebhookGet": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook",
          "name": "myWebhook",
          "type": "Microsoft.ContainerRegistry/registries/webhooks",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "status": "enabled",
            "scope": "myRepository",
            "actions": ["push"],
            "provisioningState": "Succeeded"
          }
        }
      },
      "WebhookCreate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook",
          "name": "myWebhook",
          "type": "Microsoft.ContainerRegistry/registries/webhooks",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "status": "enabled",
            "scope": "myRepository",
            "actions": ["push"],
            "provisioningState": "Creating"
          }
        }
      },
      "WebhookUpdate": {
        "value": {
          "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry/webhooks/myWebhook",
          "name": "myWebhook",
          "type": "Microsoft.ContainerRegistry/registries/webhooks",
          "location": "westus",
          "tags": {
            "key": "value"
          },
          "properties": {
            "status": "enabled",
            "scope": "myRepository",
            "actions": ["push"],
            "provisioningState": "Updating"
          }
        }
      },
      "WebhookPing": {
        "value": {
          "id": "00000000-0000-0000-0000-000000000000"
        }
      },
      "WebhookListEvents": {
        "value": {
          "value": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "eventRequestMessage": {
                "content": {
                  "id": "00000000-0000-0000-0000-000000000000",
                  "timestamp": "2017-03-01T23:14:37.0707808Z",
                  "action": "push",
                  "target": {
                    "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
                    "size": 708,
                    "digest": "sha256:fea8895f450959fa676bcc1df0611ea93823a735a01205fd8622846041d0c7cf",
                    "length": 708,
                    "repository": "hello-world",
                    "url": "http://192.168.100.227:5000/v2/hello-world/manifests/sha256:fea8895f450959fa676bcc1df0611ea93823a735a01205fd8622846041d0c7cf",
                    "tag": "latest"
                  },
                  "request": {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "addr": "192.168.64.11:42961",
                    "host": "192.168.100.227:5000",
                    "method": "GET",
                    "useragent": "curl/7.38.0"
                  },
                  "actor": {},
                  "source": {
                    "addr": "xtal.local:5000",
                    "instanceID": "00000000-0000-0000-0000-000000000000"
                  }
                },
                "headers": {
                  "Content-Type": "application/json",
                  "Content-Length": "719",
                  "Authorization": "******"
                },
                "method": "POST",
                "requestUri": "http://myservice.com",
                "version": "1.1"
              },
              "eventResponseMessage": {
                "headers": {
                  "Content-Length": "0"
                },
                "statusCode": "200",
                "version": "1.1"
              }
            }
          ]
        }
      },
      "WebhookGetCallbackConfig": {
        "value": {
          "serviceUri": "http://myservice.com",
          "customHeaders": {
            "Authorization": "******"
          }
        }
      }
    },
    "parameters": {
      "RegistryNameParameter": {
        "name": "registryName",
        "in": "path",
        "description": "The name of the container registry.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9]*$"
        },
        "examples": {
          "CacheRuleList": {
            "value": "myRegistry"
          },
          "CacheRuleGet": {
            "value": "myRegistry"
          },
          "CacheRuleCreate": {
            "value": "myRegistry"
          },
          "CacheRuleDelete": {
            "value": "myRegistry"
          },
          "CacheRuleUpdate": {
            "value": "myRegistry"
          },
          "ConnectedRegistryGet": {
            "value": "myRegistry"
          },
          "ConnectedRegistryCreate": {
            "value": "myRegistry"
          },
          "ConnectedRegistryUpdate": {
            "value": "myRegistry"
          },
          "ConnectedRegistryDelete": {
            "value": "myRegistry"
          },
          "ConnectedRegistryList": {
            "value": "myRegistry"
          },
          "ConnectedRegistryDeactivate": {
            "value": "myRegistry"
          },
          "CredentialSetList": {
            "value": "myRegistry"
          },
          "CredentialSetGet": {
            "value": "myRegistry"
          },
          "CredentialSetCreate": {
            "value": "myRegistry"
          },
          "CredentialSetDelete": {
            "value": "myRegistry"
          },
          "CredentialSetUpdate": {
            "value": "myRegistry"
          },
          "ImportImageByTag": {
            "value": "myRegistry"
          },
          "ImportImageByManifestDigest": {
            "value": "myRegistry"
          },
          "ImportImageFromPublicRegistry": {
            "value": "myRegistry"
          },
          "PrivateEndpointConnectionList": {
            "value": "myRegistry"
          },
          "PrivateEndpointConnectionGet": {
            "value": "myRegistry"
          },
          "PrivateEndpointConnectionCreateOrUpdate": {
            "value": "myRegistry"
          },
          "PrivateEndpointConnectionDelete": {
            "value": "myRegistry"
          },
          "RegistryGet": {
            "value": "myRegistry"
          },
          "RegistryCreate": {
            "value": "myRegistry"
          },
          "RegistryCreateZoneRedundant": {
            "value": "myRegistry"
          },
          "RegistryDelete": {
            "value": "myRegistry"
          },
          "RegistryUpdate": {
            "value": "myRegistry"
          },
          "RegistryListUsages": {
            "value": "myRegistry"
          },
          "RegistryListPrivateLinkResources": {
            "value": "myRegistry"
          },
          "RegistryGetPrivateLinkResource": {
            "value": "myRegistry"
          },
          "RegistryListCredentials": {
            "value": "myRegistry"
          },
          "RegistryRegenerateCredential": {
            "value": "myRegistry"
          },
          "ReplicationList": {
            "value": "myRegistry"
          },
          "ReplicationGet": {
            "value": "myRegistry"
          },
          "ReplicationCreate": {
            "value": "myRegistry"
          },
          "ReplicationCreateZoneRedundant": {
            "value": "myRegistry"
          },
          "ReplicationDelete": {
            "value": "myRegistry"
          },
          "ReplicationUpdate": {
            "value": "myRegistry"
          },
          "ScopeMapList": {
            "value": "myRegistry"
          },
          "ScopeMapGet": {
            "value": "myRegistry"
          },
          "ScopeMapCreate": {
            "value": "myRegistry"
          },
          "ScopeMapDelete": {
            "value": "myRegistry"
          },
          "ScopeMapUpdate": {
            "value": "myRegistry"
          },
          "TokenList": {
            "value": "myRegistry"
          },
          "TokenGet": {
            "value": "myRegistry"
          },
          "TokenCreate": {
            "value": "myRegistry"
          },
          "TokenDelete": {
            "value": "myRegistry"
          },
          "TokenUpdate": {
            "value": "myRegistry"
          },
          "RegistryGenerateCredentials": {
            "value": "myRegistry"
          },
          "WebhookList": {
            "value": "myRegistry"
          },
          "WebhookGet": {
            "value": "myRegistry"
          },
          "WebhookCreate": {
            "value": "myRegistry"
          },
          "WebhookDelete": {
            "value": "myRegistry"
          },
          "WebhookUpdate": {
            "value": "myRegistry"
          },
          "WebhookPing": {
            "value": "myRegistry"
          },
          "WebhookListEvents": {
            "value": "myRegistry"
          },
          "WebhookGetCallbackConfig": {
            "value": "myRegistry"
          }
        }
      },
      "WebhookNameParameter": {
        "name": "webhookName",
        "in": "path",
        "description": "The name of the webhook.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9]*$"
        },
        "examples": {
          "WebhookGet": {
            "value": "myWebhook"
          },
          "WebhookCreate": {
            "value": "myWebhook"
          },
          "WebhookDelete": {
            "value": "myWebhook"
          },
          "WebhookUpdate": {
            "value": "myWebhook"
          },
          "WebhookPing": {
            "value": "myWebhook"
          },
          "WebhookListEvents": {
            "value": "myWebhook"
          },
          "WebhookGetCallbackConfig": {
            "value": "myWebhook"
          }
        }
      },
      "ReplicationNameParameter": {
        "name": "replicationName",
        "in": "path",
        "description": "The name of the replication.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9]*$"
        },
        "examples": {
          "ReplicationGet": {
            "value": "myReplication"
          },
          "ReplicationCreate": {
            "value": "myReplication"
          },
          "ReplicationCreateZoneRedundant": {
            "value": "myReplication"
          },
          "ReplicationDelete": {
            "value": "myReplication"
          },
          "ReplicationUpdate": {
            "value": "myReplication"
          }
        }
      },
      "ScopeMapNameParameter": {
        "name": "scopeMapName",
        "in": "path",
        "description": "The name of the scope map.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9-_]*$"
        },
        "examples": {
          "ScopeMapGet": {
            "value": "myScopeMap"
          },
          "ScopeMapCreate": {
            "value": "myScopeMap"
          },
          "ScopeMapDelete": {
            "value": "myScopeMap"
          },
          "ScopeMapUpdate": {
            "value": "myScopeMap"
          }
        }
      },
      "TokenNameParameter": {
        "name": "tokenName",
        "in": "path",
        "description": "The name of the token.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9-]*$"
        },
        "examples": {
          "TokenGet": {
            "value": "myToken"
          },
          "TokenCreate": {
            "value": "myToken"
          },
          "TokenDelete": {
            "value": "myToken"
          },
          "TokenUpdate": {
            "value": "myToken"
          }
        }
      },
      "PrivateEndpointConnectionNameParameter": {
        "name": "privateEndpointConnectionName",
        "in": "path",
        "description": "The name of the private endpoint connection.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string"
        },
        "examples": {
          "PrivateEndpointConnectionGet": {
            "value": "myConnection"
          },
          "PrivateEndpointConnectionCreateOrUpdate": {
            "value": "myConnection"
          },
          "PrivateEndpointConnectionDelete": {
            "value": "myConnection"
          }
        }
      },
      "GroupNameParameter": {
        "name": "groupName",
        "in": "path",
        "description": "The name of the private link resource.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string"
        },
        "examples": {
          "RegistryGetPrivateLinkResource": {
            "value": "registry"
          }
        }
      },
      "ConnectedRegistryNameParameter": {
        "in": "path",
        "name": "connectedRegistryName",
        "description": "The name of the connected registry.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9]*$"
        },
        "examples": {
          "ConnectedRegistryGet": {
            "value": "myConnectedRegistry"
          },
          "ConnectedRegistryCreate": {
            "value": "myConnectedRegistry"
          },
          "ConnectedRegistryUpdate": {
            "value": "myScopeMap"
          },
          "ConnectedRegistryDelete": {
            "value": "myConnectedRegistry"
          },
          "ConnectedRegistryDeactivate": {
            "value": "myConnectedRegistry"
          }
        }
      },
      "ConnectedRegistryFilterParameter": {
        "in": "query",
        "name": "$filter",
        "description": "An OData filter expression that describes a subset of connectedRegistries to return. The parameters that can be filtered are parent.id (the resource id of the connectedRegistry parent), mode, and connectionState. The supported operator is eq.",
        "required": false,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string"
        }
      },
      "CredentialSetNameParameter": {
        "name": "credentialSetName",
        "in": "path",
        "description": "The name of the credential set.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9-]*$"
        },
        "examples": {
          "CredentialSetGet": {
            "value": "myCredentialSet"
          },
          "CredentialSetCreate": {
            "value": "myCredentialSet"
          },
          "CredentialSetDelete": {
            "value": "myCredentialSet"
          },
          "CredentialSetUpdate": {
            "value": "myCredentialSet"
          }
        }
      },
      "CacheRuleNameParameter": {
        "name": "cacheRuleName",
        "in": "path",
        "description": "The name of the cache rule.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 5,
          "maxLength": 50,
          "pattern": "^[a-zA-Z0-9-]*$"
        },
        "examples": {
          "CacheRuleGet": {
            "value": "myCacheRule"
          },
          "CacheRuleCreate": {
            "value": "myCacheRule"
          },
          "CacheRuleDelete": {
            "value": "myCacheRule"
          },
          "CacheRuleUpdate": {
            "value": "myCacheRule"
          }
        }
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "The API version to use for this operation.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "CacheRuleList": {
            "value": "2025-04-01"
          },
          "CacheRuleGet": {
            "value": "2025-04-01"
          },
          "CacheRuleCreate": {
            "value": "2025-04-01"
          },
          "CacheRuleDelete": {
            "value": "2025-04-01"
          },
          "CacheRuleUpdate": {
            "value": "2025-04-01"
          },
          "ConnectedRegistryGet": {
            "value": "2025-04-01"
          },
          "ConnectedRegistryCreate": {
            "value": "2025-04-01"
          },
          "ConnectedRegistryUpdate": {
            "value": "2025-04-01"
          },
          "ConnectedRegistryDelete": {
            "value": "2025-04-01"
          },
          "ConnectedRegistryList": {
            "value": "2025-04-01"
          },
          "ConnectedRegistryDeactivate": {
            "value": "2025-04-01"
          },
          "CredentialSetList": {
            "value": "2025-04-01"
          },
          "CredentialSetGet": {
            "value": "2025-04-01"
          },
          "CredentialSetCreate": {
            "value": "2025-04-01"
          },
          "CredentialSetDelete": {
            "value": "2025-04-01"
          },
          "CredentialSetUpdate": {
            "value": "2025-04-01"
          },
          "ImportImageByTag": {
            "value": "2025-04-01"
          },
          "ImportImageByManifestDigest": {
            "value": "2025-04-01"
          },
          "ImportImageFromPublicRegistry": {
            "value": "2025-04-01"
          },
          "OperationList": {
            "value": "2025-04-01"
          },
          "RegistryCheckNameAvailable": {
            "value": "2025-04-01"
          },
          "RegistryCheckNameNotAvailable": {
            "value": "2025-04-01"
          },
          "PrivateEndpointConnectionList": {
            "value": "2025-04-01"
          },
          "PrivateEndpointConnectionGet": {
            "value": "2025-04-01"
          },
          "PrivateEndpointConnectionCreateOrUpdate": {
            "value": "2025-04-01"
          },
          "PrivateEndpointConnectionDelete": {
            "value": "2025-04-01"
          },
          "RegistryList": {
            "value": "2025-04-01"
          },
          "RegistryListByResourceGroup": {
            "value": "2025-04-01"
          },
          "RegistryGet": {
            "value": "2025-04-01"
          },
          "RegistryCreate": {
            "value": "2025-04-01"
          },
          "RegistryCreateZoneRedundant": {
            "value": "2025-04-01"
          },
          "RegistryDelete": {
            "value": "2025-04-01"
          },
          "RegistryUpdate": {
            "value": "2025-04-01"
          },
          "RegistryListUsages": {
            "value": "2025-04-01"
          },
          "RegistryListPrivateLinkResources": {
            "value": "2025-04-01"
          },
          "RegistryGetPrivateLinkResource": {
            "value": "2025-04-01"
          },
          "RegistryListCredentials": {
            "value": "2025-04-01"
          },
          "RegistryRegenerateCredential": {
            "value": "2025-04-01"
          },
          "ReplicationList": {
            "value": "2025-04-01"
          },
          "ReplicationGet": {
            "value": "2025-04-01"
          },
          "ReplicationCreate": {
            "value": "2025-04-01"
          },
          "ReplicationCreateZoneRedundant": {
            "value": "2025-04-01"
          },
          "ReplicationDelete": {
            "value": "2025-04-01"
          },
          "ReplicationUpdate": {
            "value": "2025-04-01"
          },
          "ScopeMapList": {
            "value": "2025-04-01"
          },
          "ScopeMapGet": {
            "value": "2025-04-01"
          },
          "ScopeMapCreate": {
            "value": "2025-04-01"
          },
          "ScopeMapDelete": {
            "value": "2025-04-01"
          },
          "ScopeMapUpdate": {
            "value": "2025-04-01"
          },
          "TokenList": {
            "value": "2025-04-01"
          },
          "TokenGet": {
            "value": "2025-04-01"
          },
          "TokenCreate": {
            "value": "2025-04-01"
          },
          "TokenDelete": {
            "value": "2025-04-01"
          },
          "TokenUpdate": {
            "value": "2025-04-01"
          },
          "RegistryGenerateCredentials": {
            "value": "2025-04-01"
          },
          "WebhookList": {
            "value": "2025-04-01"
          },
          "WebhookGet": {
            "value": "2025-04-01"
          },
          "WebhookCreate": {
            "value": "2025-04-01"
          },
          "WebhookDelete": {
            "value": "2025-04-01"
          },
          "WebhookUpdate": {
            "value": "2025-04-01"
          },
          "WebhookPing": {
            "value": "2025-04-01"
          },
          "WebhookListEvents": {
            "value": "2025-04-01"
          },
          "WebhookGetCallbackConfig": {
            "value": "2025-04-01"
          }
        }
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "description": "The ID of the target subscription. The value must be an UUID.",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "examples": {
          "CacheRuleList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CacheRuleGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CacheRuleCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CacheRuleDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CacheRuleUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ConnectedRegistryGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ConnectedRegistryCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ConnectedRegistryUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ConnectedRegistryDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ConnectedRegistryList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ConnectedRegistryDeactivate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CredentialSetList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CredentialSetGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CredentialSetCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CredentialSetDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "CredentialSetUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ImportImageByTag": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ImportImageByManifestDigest": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ImportImageFromPublicRegistry": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryCheckNameAvailable": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryCheckNameNotAvailable": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "PrivateEndpointConnectionList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "PrivateEndpointConnectionGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "PrivateEndpointConnectionCreateOrUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "PrivateEndpointConnectionDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryListByResourceGroup": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryCreateZoneRedundant": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryListUsages": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryListPrivateLinkResources": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryGetPrivateLinkResource": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryListCredentials": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryRegenerateCredential": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ReplicationList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ReplicationGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ReplicationCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ReplicationCreateZoneRedundant": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ReplicationDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ReplicationUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ScopeMapList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ScopeMapGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ScopeMapCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ScopeMapDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "ScopeMapUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "TokenList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "TokenGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "TokenCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "TokenDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "TokenUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "RegistryGenerateCredentials": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookList": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookGet": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookCreate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookUpdate": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookPing": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookListEvents": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "WebhookGetCallbackConfig": {
            "value": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "description": "The name of the resource group. The name is case insensitive.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 90
        },
        "examples": {
          "CacheRuleList": {
            "value": "myResourceGroup"
          },
          "CacheRuleGet": {
            "value": "myResourceGroup"
          },
          "CacheRuleCreate": {
            "value": "myResourceGroup"
          },
          "CacheRuleDelete": {
            "value": "myResourceGroup"
          },
          "CacheRuleUpdate": {
            "value": "myResourceGroup"
          },
          "ConnectedRegistryGet": {
            "value": "myResourceGroup"
          },
          "ConnectedRegistryCreate": {
            "value": "myResourceGroup"
          },
          "ConnectedRegistryUpdate": {
            "value": "myResourceGroup"
          },
          "ConnectedRegistryDelete": {
            "value": "myResourceGroup"
          },
          "ConnectedRegistryList": {
            "value": "myResourceGroup"
          },
          "ConnectedRegistryDeactivate": {
            "value": "myResourceGroup"
          },
          "CredentialSetList": {
            "value": "myResourceGroup"
          },
          "CredentialSetGet": {
            "value": "myResourceGroup"
          },
          "CredentialSetCreate": {
            "value": "myResourceGroup"
          },
          "CredentialSetDelete": {
            "value": "myResourceGroup"
          },
          "CredentialSetUpdate": {
            "value": "myResourceGroup"
          },
          "ImportImageByTag": {
            "value": "myResourceGroup"
          },
          "ImportImageByManifestDigest": {
            "value": "myResourceGroup"
          },
          "ImportImageFromPublicRegistry": {
            "value": "myResourceGroup"
          },
          "PrivateEndpointConnectionList": {
            "value": "myResourceGroup"
          },
          "PrivateEndpointConnectionGet": {
            "value": "myResourceGroup"
          },
          "PrivateEndpointConnectionCreateOrUpdate": {
            "value": "myResourceGroup"
          },
          "PrivateEndpointConnectionDelete": {
            "value": "myResourceGroup"
          },
          "RegistryListByResourceGroup": {
            "value": "myResourceGroup"
          },
          "RegistryGet": {
            "value": "myResourceGroup"
          },
          "RegistryCreate": {
            "value": "myResourceGroup"
          },
          "RegistryCreateZoneRedundant": {
            "value": "myResourceGroup"
          },
          "RegistryDelete": {
            "value": "myResourceGroup"
          },
          "RegistryUpdate": {
            "value": "myResourceGroup"
          },
          "RegistryListUsages": {
            "value": "myResourceGroup"
          },
          "RegistryListPrivateLinkResources": {
            "value": "myResourceGroup"
          },
          "RegistryGetPrivateLinkResource": {
            "value": "myResourceGroup"
          },
          "RegistryListCredentials": {
            "value": "myResourceGroup"
          },
          "RegistryRegenerateCredential": {
            "value": "myResourceGroup"
          },
          "ReplicationList": {
            "value": "myResourceGroup"
          },
          "ReplicationGet": {
            "value": "myResourceGroup"
          },
          "ReplicationCreate": {
            "value": "myResourceGroup"
          },
          "ReplicationCreateZoneRedundant": {
            "value": "myResourceGroup"
          },
          "ReplicationDelete": {
            "value": "myResourceGroup"
          },
          "ReplicationUpdate": {
            "value": "myResourceGroup"
          },
          "ScopeMapList": {
            "value": "myResourceGroup"
          },
          "ScopeMapGet": {
            "value": "myResourceGroup"
          },
          "ScopeMapCreate": {
            "value": "myResourceGroup"
          },
          "ScopeMapDelete": {
            "value": "myResourceGroup"
          },
          "ScopeMapUpdate": {
            "value": "myResourceGroup"
          },
          "TokenList": {
            "value": "myResourceGroup"
          },
          "TokenGet": {
            "value": "myResourceGroup"
          },
          "TokenCreate": {
            "value": "myResourceGroup"
          },
          "TokenDelete": {
            "value": "myResourceGroup"
          },
          "TokenUpdate": {
            "value": "myResourceGroup"
          },
          "RegistryGenerateCredentials": {
            "value": "myResourceGroup"
          },
          "WebhookList": {
            "value": "myResourceGroup"
          },
          "WebhookGet": {
            "value": "myResourceGroup"
          },
          "WebhookCreate": {
            "value": "myResourceGroup"
          },
          "WebhookDelete": {
            "value": "myResourceGroup"
          },
          "WebhookUpdate": {
            "value": "myResourceGroup"
          },
          "WebhookPing": {
            "value": "myResourceGroup"
          },
          "WebhookListEvents": {
            "value": "myResourceGroup"
          },
          "WebhookGetCallbackConfig": {
            "value": "myResourceGroup"
          }
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "ActivationProperties": {
        "description": "The activation properties of the connected registry.",
        "type": "object",
        "properties": {
          "status": {
            "description": "The activation status of the connected registry.",
            "enum": ["Active", "Inactive"],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ActivationStatus",
              "modelAsString": true
            }
          }
        }
      },
      "AzureADAuthenticationAsArmPolicy": {
        "description": "The policy for using ARM audience token for a container registry.",
        "type": "object",
        "properties": {
          "status": {
            "description": "The value that indicates whether the policy is enabled or not.",
            "default": "enabled",
            "enum": ["enabled", "disabled"],
            "type": "string",
            "x-ms-enum": {
              "name": "AzureADAuthenticationAsArmPolicyStatus",
              "modelAsString": true
            }
          }
        }
      },
      "CacheRulesListResult": {
        "description": "The result of a request to list cache rules for a container registry.",
        "type": "object",
        "properties": {
          "value": {
            "description": "The list of cache rules.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CacheRule"
            }
          },
          "nextLink": {
            "description": "If provided, client must use NextLink URI to request next list of cache rules.",
            "type": "string"
          }
        }
      },
      "CacheRule": {
        "description": "An object that represents a cache rule for a container registry.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CacheRuleProperties"
          }
        }
      },
      "CacheRuleProperties": {
        "description": "The properties of a cache rule.",
        "type": "object",
        "properties": {
          "credentialSetResourceId": {
            "description": "The ARM resource ID of the credential store which is associated with the cache rule.",
            "type": "string"
          },
          "sourceRepository": {
            "description": "Source repository pulled from upstream.",
            "type": "string"
          },
          "targetRepository": {
            "description": "Target repository specified in docker pull command.\r\nEg: docker pull myregistry.azurecr.io/{targetRepository}:{tag}",
            "type": "string"
          },
          "creationDate": {
            "description": "The creation date of the cache rule.",
            "type": "string",
            "readOnly": true
          },
          "provisioningState": {
            "description": "Provisioning state of the resource.",
            "enum": ["Creating", "Updating", "Deleting", "Succeeded", "Failed", "Canceled"],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          }
        }
      },
      "CacheRuleUpdateParameters": {
        "description": "The parameters for updating a cache rule.",
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CacheRuleUpdateProperties"
          }
        }
      },
      "CacheRuleUpdateProperties": {
        "description": "The parameters for updating cache rule properties.",
        "type": "object",
        "properties": {
          "credentialSetResourceId": {
            "description": "The ARM resource ID of the credential store which is associated with the Cache rule.",
            "type": "string"
          }
        }
      },
      "ConnectedRegistry": {
        "description": "An object that represents a connected registry for a container registry.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ConnectedRegistryProperties"
          }
        }
      },
      "ConnectedRegistryListResult": {
        "description": "The result of a request to list connected registries for a container registry.",
        "type": "object",
        "properties": {
          "value": {
            "description": "The list of connected registries. Since this list may be incomplete, the nextLink field should be used to request the next list of connected registries.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConnectedRegistry"
            }
          },
          "nextLink": {
            "description": "The URI that can be used to request the next list of connected registries.",
            "type": "string"
          }
        }
      },
      "ConnectedRegistryProperties": {
        "description": "The properties of a connected registry.",
        "required": ["mode", "parent"],
        "type": "object",
        "properties": {
          "provisioningState": {
            "description": "Provisioning state of the resource.",
            "enum": ["Creating", "Updating", "Deleting", "Succeeded", "Failed", "Canceled"],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          },
          "mode": {
            "description": "The mode of the connected registry resource that indicates the permissions of the registry.",
            "enum": ["ReadWrite", "ReadOnly", "Registry", "Mirror"],
            "type": "string",
            "x-ms-enum": {
              "name": "ConnectedRegistryMode",
              "modelAsString": true
            }
          },
          "version": {
            "description": "The current version of ACR runtime on the connected registry.",
            "type": "string",
            "readOnly": true
          },
          "connectionState": {
            "description": "The current connection state of the connected registry.",
            "enum": ["Online", "Offline", "Syncing", "Unhealthy"],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ConnectionState",
              "modelAsString": true
            }
          },
          "lastActivityTime": {
            "description": "The last activity time of the connected registry.",
            "type": "string",
            "readOnly": true
          },
          "activation": {
            "$ref": "#/components/schemas/ActivationProperties"
          },
          "parent": {
            "$ref": "#/components/schemas/ParentProperties"
          },
          "clientTokenIds": {
            "description": "The list of the ACR token resource IDs used to authenticate clients to the connected registry.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "loginServer": {
            "$ref": "#/components/schemas/LoginServerProperties"
          },
          "logging": {
            "$ref": "#/components/schemas/LoggingProperties"
          },
          "statusDetails": {
            "description": "The list of current statuses of the connected registry.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusDetailProperties"
            },
            "readOnly": true,
            "x-ms-identifiers": ["correlationId"]
          },
          "notificationsList": {
            "description": "The list of notifications subscription information for the connected registry.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "garbageCollection": {
            "$ref": "#/components/schemas/GarbageCollectionProperties"
          }
        }
      },
      "ConnectedRegistryUpdateParameters": {
        "description": "The parameters for updating a connected registry.",
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/ConnectedRegistryUpdateProperties"
          }
        }
      },
      "ConnectedRegistryUpdateProperties": {
        "description": "The parameters for updating token properties.",
        "type": "object",
        "properties": {
          "syncProperties": {
            "$ref": "#/components/schemas/SyncUpdateProperties"
          },
          "logging": {
            "$ref": "#/components/schemas/LoggingProperties"
          },
          "clientTokenIds": {
            "description": "The list of the ACR token resource IDs used to authenticate clients to the connected registry.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notificationsList": {
            "description": "The list of notifications subscription information for the connected registry.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "garbageCollection": {
            "$ref": "#/components/schemas/GarbageCollectionProperties"
          }
        }
      },
      "GarbageCollectionProperties": {
        "description": "The garbage collection properties of the connected registry.",
        "type": "object",
        "properties": {
          "enabled": {
            "description": "Indicates whether garbage collection is enabled for the connected registry.",
            "type": "boolean"
          },
          "schedule": {
            "description": "The cron expression indicating the schedule that the connected registry will run garbage collection.",
            "type": "string"
          }
        }
      },
      "LoggingProperties": {
        "description": "The logging properties of the connected registry.",
        "type": "object",
        "properties": {
          "logLevel": {
            "description": "The verbosity of logs persisted on the connected registry.",
            "default": "Information",
            "enum": ["Debug", "Information", "Warning", "Error", "None"],
            "type": "string",
            "x-ms-enum": {
              "name": "LogLevel",
              "modelAsString": true
            }
          },
          "auditLogStatus": {
            "description": "Indicates whether audit logs are enabled on the connected registry.",
            "default": "Disabled",
            "enum": ["Enabled", "Disabled"],
            "type": "string",
            "x-ms-enum": {
              "name": "AuditLogStatus",
              "modelAsString": true
            }
          }
        }
      },
      "LoginServerProperties": {
        "description": "The login server properties of the connected registry.",
        "type": "object",
        "properties": {
          "host": {
            "description": "The host of the connected registry. Can be FQDN or IP.",
            "type": "string",
            "readOnly": true
          },
          "tls": {
            "$ref": "#/components/schemas/TlsProperties"
          }
        }
      },
      "ParentProperties": {
        "description": "The properties of the connected registry parent.",
        "required": ["syncProperties"],
        "type": "object",
        "properties": {
          "id": {
            "description": "The resource ID of the parent to which the connected registry will be associated.",
            "type": "string"
          },
          "syncProperties": {
            "$ref": "#/components/schemas/SyncProperties"
          }
        }
      },
      "CredentialSetListResult": {
        "description": "The result of a request to list credential sets for a container registry.",
        "type": "object",
        "properties": {
          "value": {
            "description": "The list of credential sets. Since this list may be incomplete, the nextLink field should be used to request the next list of credential sets.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialSet"
            }
          },
          "nextLink": {
            "description": "The URI that can be used to request the next list of credential sets.",
            "type": "string"
          }
        }
      },
      "CredentialSet": {
        "description": "An object that represents a credential set resource for a container registry.",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/IdentityProperties"
          },
          "properties": {
            "$ref": "#/components/schemas/CredentialSetProperties"
          }
        }
      },
      "IdentityProperties": {
        "description": "Managed identity for the resource.",
        "type": "object",
        "properties": {
          "principalId": {
            "description": "The principal ID of resource identity.",
            "type": "string",
            "readOnly": true
          },
          "tenantId": {
            "description": "The tenant ID of resource.",
            "type": "string",
            "readOnly": true
          },
          "type": {
            "description": "The identity type.",
            "enum": ["SystemAssigned", "UserAssigned", "SystemAssigned, UserAssigned", "None"],
            "type": "string",
            "x-ms-enum": {
              "name": "ResourceIdentityType",
              "modelAsString": false
            }
          },
          "userAssignedIdentities": {
            "description": "The list of user identities associated with the resource. The user identity \r\ndictionary key references will be ARM resource ids in the form: \r\n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/\r\n    providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/UserIdentityProperties"
            }
          }
        }
      },
      "CredentialSetProperties": {
        "description": "The properties of a credential set resource.",
        "type": "object",
        "properties": {
          "loginServer": {
            "description": "The credentials are stored for this upstream or login server.",
            "type": "string"
          },
          "authCredentials": {
            "description": "List of authentication credentials stored for an upstream.\r\nUsually consists of a primary and an optional secondary credential.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthCredential"
            },
            "x-ms-identifiers": ["name"]
          },
          "creationDate": {
            "description": "The creation date of credential store resource.",
            "type": "string",
            "readOnly": true
          },
          "provisioningState": {
            "description": "Provisioning state of the resource.",
            "enum": ["Creating", "Updating", "Deleting", "Succeeded", "Failed", "Canceled"],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ProvisioningState",
              "modelAsString": true
            }
          }
        }
      },
      "UserIdentityProperties": {
        "type": "object",
        "properties": {
          "principalId": {
            "description": "The principal id of user assigned identity.",
            "type": "string",
            "readOnly": true
          },
          "clientId": {
            "description": "The client id of user assigned identity.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "Resource": {
        "description": "An Azure resource.",
        "required": ["location"],
        "properties": {
          "id": {
            "description": "The resource ID.",
            "type": "string",
            "readOnly": true
          },
          "name": {
            "description": "The name of the resource.",
            "type": "string",
            "readOnly": true
          },
          "type": {
            "description": "The type of the resource.",
            "type": "string",
            "readOnly": true
          },
          "location": {
            "description": "The location of the resource. This cannot be changed after the resource is created.",
            "type": "string",
            "x-ms-mutability": ["read", "create"]
          },
          "tags": {
            "description": "The tags of the resource.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "systemData": {
            "$ref": "#/components/schemas/SystemData"
          }
[...]
