{
  "openapi": "3.0.0",
  "info": {
    "title": "Azure Compute resource management API.",
    "version": "2025-01-02",
    "description": "Compute Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "Disks"
    },
    {
      "name": "DiskAccesses"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "DiskEncryptionSets"
    },
    {
      "name": "DiskRestorePoints"
    },
    {
      "name": "Snapshots"
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "list_all_disk_access_resources_in_a_subscription.": {
        "value": {
          "value": [
            {
              "properties": {
                "provisioningState": "Succeeded",
                "timeCreated": "2020-05-01T04:41:35.079872+00:00"
              },
              "type": "Microsoft.Compute/diskAccesses",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "PrivateEndpoints"
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess",
              "name": "myDiskAccess"
            },
            {
              "properties": {
                "provisioningState": "Succeeded",
                "timeCreated": "2020-05-01T04:41:35.079872+00:00",
                "privateEndpointConnections": [
                  {
                    "name": "myDiskAccess.d4914cfa-6bc2-4049-a57c-3d1f622d8eef",
                    "type": "Microsoft.Compute/diskAccesses/PrivateEndpointConnections",
                    "id": "/subscriptions/{subscription-id}/resourceGroups/mySecondResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess2/privateEndpoinConnections/myDiskAccess2.d4914cfa-6bc2-4049-a57c-3d1f622d8eef",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "privateEndpoint": {
                        "id": "/subscriptions/{subscription-id}/resourceGroups/mySecondResourceGroup/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint2"
                      },
                      "privateLinkServiceConnectionState": {
                        "actionsRequired": "None",
                        "description": "Auto-Approved",
                        "status": "Approved"
                      }
                    }
                  }
                ]
              },
              "type": "Microsoft.Compute/diskAccesses",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "PrivateEndpoints"
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/mySecondResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess2",
              "name": "myDiskAccess2"
            }
          ],
          "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Compute/diskAccesses?$skiptoken=token"
        }
      },
      "list_all_disk_encryption_sets_in_a_subscription.": {
        "value": {
          "value": [
            {
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "activeKey": {
                  "sourceVault": {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                  },
                  "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                },
                "encryptionType": "EncryptionAtRestWithCustomerKey",
                "previousKeys": [],
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/diskEncryptionSets",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Encryption"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
              "name": "myDiskEncryptionSet"
            },
            {
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "activeKey": {
                  "sourceVault": {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/mySecondResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault2"
                  },
                  "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                },
                "encryptionType": "EncryptionAtRestWithCustomerKey",
                "previousKeys": [],
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/diskEncryptionSets",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Encryption"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/mySecondResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet2",
              "name": "myDiskEncryptionSet2"
            }
          ],
          "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Compute/diskEncryptionSets?$skiptoken=token"
        }
      },
      "list_all_managed_disks_in_a_subscription.": {
        "value": {
          "value": [
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Copy",
                  "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1"
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:35.9278721+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/disks",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "ManagedDisks"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1",
              "name": "myManagedDisk1"
            },
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Empty"
                },
                "diskSizeGB": 10,
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:36.872242+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/disks",
              "location": "westus",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2",
              "name": "myManagedDisk2"
            },
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "FromImage",
                  "imageReference": {
                    "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                  }
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:36.3973934+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/disks",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "ManagedDisks"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk3",
              "name": "myManagedDisk3"
            }
          ],
          "nextLink": "http://disksvchost:99/subscriptions/subscriptionId/providers/Microsoft.Compute/disks?$skiptoken=token/Subscriptions/subscriptionId/ResourceGroups/myResourceGroup/Disks/myManagedDisk"
        }
      },
      "List_all_snapshots_in_a_subscription.": {
        "value": {
          "value": [
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Copy",
                  "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:47:30.6630569+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/snapshots",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Snapshots"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1",
              "name": "mySnapshot1"
            },
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Import",
                  "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount",
                  "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:47:30.3247198+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/snapshots",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Snapshots"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2",
              "name": "mySnapshot2"
            }
          ]
        }
      },
      "list_all_disk_access_resources_in_a_resource_group.": {
        "value": {
          "value": [
            {
              "properties": {
                "provisioningState": "Succeeded",
                "timeCreated": "2020-05-01T04:41:35.079872+00:00"
              },
              "type": "Microsoft.Compute/diskAccesses",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "PrivateEndpoints"
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess",
              "name": "myDiskAccess"
            },
            {
              "properties": {
                "provisioningState": "Succeeded",
                "timeCreated": "2020-05-01T04:41:35.079872+00:00",
                "privateEndpointConnections": [
                  {
                    "name": "myDiskAccess.d4914cfa-6bc2-4049-a57c-3d1f622d8eef",
                    "type": "Microsoft.Compute/diskAccesses/PrivateEndpointConnections",
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess2/privateEndpoinConnections/myDiskAccess2.d4914cfa-6bc2-4049-a57c-3d1f622d8eef",
                    "properties": {
                      "provisioningState": "Succeeded",
                      "privateEndpoint": {
                        "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint2"
                      },
                      "privateLinkServiceConnectionState": {
                        "actionsRequired": "None",
                        "description": "Auto-Approved",
                        "status": "Approved"
                      }
                    }
                  }
                ]
              },
              "type": "Microsoft.Compute/diskAccesses",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "PrivateEndpoints"
              },
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess2",
              "name": "myDiskAccess2"
            }
          ],
          "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Compute/diskAccesses?$skiptoken=token"
        }
      },
      "get_information_about_a_disk_access_resource_with_private_endpoints.": {
        "value": {
          "properties": {
            "provisioningState": "Succeeded",
            "timeCreated": "2020-05-01T04:41:35.079872+00:00",
            "privateEndpointConnections": [
              {
                "name": "myDiskAccess.d4914cfa-6bc2-4049-a57c-3d1f622d8eef",
                "type": "Microsoft.Compute/diskAccesses/PrivateEndpointConnections",
                "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess/privateEndpoinConnections/myDiskAccess.d4914cfa-6bc2-4049-a57c-3d1f622d8eef",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateEndpoint": {
                    "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint"
                  },
                  "privateLinkServiceConnectionState": {
                    "actionsRequired": "None",
                    "description": "Auto-Approved",
                    "status": "Approved"
                  }
                }
              }
            ]
          },
          "type": "Microsoft.Compute/diskAccesses",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "PrivateEndpoints"
          },
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess",
          "name": "myDiskAccess"
        }
      },
      "get_information_about_a_disk_access_resource.": {
        "value": {
          "properties": {
            "provisioningState": "Succeeded",
            "timeCreated": "2020-05-01T04:41:35.079872+00:00"
          },
          "type": "Microsoft.Compute/diskAccesses",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "PrivateEndpoints"
          },
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess",
          "name": "myDiskAccess"
        }
      },
      "create_a_disk_access_resource.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourcegroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess",
          "name": "myDiskAccess",
          "location": "West US",
          "type": "Microsoft.Compute/diskAccesses"
        }
      },
      "update_a_disk_access_resource.": {
        "value": {
          "name": "myDiskAccess",
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourcegroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess",
          "type": "Microsoft.Compute/diskAccesses",
          "location": "West US",
          "tags": {
            "department": "Development",
            "project": "PrivateEndpoints"
          }
        }
      },
      "get_information_about_a_private_endpoint_connection_under_a_disk_access_resource.": {
        "value": {
          "name": "myPrivateEndpointConnection",
          "type": "Microsoft.Compute/diskAccesses/PrivateEndpointConnections",
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess/privateEndpoinConnections/myPrivateEndpointConnection",
          "properties": {
            "provisioningState": "Succeeded",
            "privateEndpoint": {
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint"
            },
            "privateLinkServiceConnectionState": {
              "actionsRequired": "None",
              "description": "Auto-Approved",
              "status": "Approved"
            }
          }
        }
      },
      "approve_a_Private_Endpoint_Connection_under_a_disk_access_resource.": {
        "value": {
          "name": "myPrivateEndpointConenction",
          "type": "Microsoft.Compute/diskAccesses/privateEndpointConnections",
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess/privateEndpoinConnections/myPrivateEndpointConnectionName",
          "properties": {
            "provisioningState": "Updating",
            "privateEndpoint": {
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/privateEndpoints/myPrivateEndpoint"
            },
            "privateLinkServiceConnectionState": {
              "actionsRequired": "None",
              "description": "Approving myPrivateEndpointConnection",
              "status": "Approved"
            }
          }
        }
      },
      "list_all_possible_private_link_resources_under_disk_access_resource.": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskAccesses/myDiskAccess/privateLinkResources/disks",
              "name": "disks",
              "type": "Microsoft.Compute/diskAccesses/privateLinkResources",
              "properties": {
                "groupId": "disks",
                "requiredMembers": [
                  "diskAccess_1"
                ],
                "requiredZoneNames": [
                  "privatelink.blob.core.windows.net"
                ]
              }
            }
          ]
        }
      },
      "list_all_disk_encryption_sets_in_a_resource_group.": {
        "value": {
          "value": [
            {
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "activeKey": {
                  "sourceVault": {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                  },
                  "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                },
                "encryptionType": "EncryptionAtRestWithCustomerKey",
                "previousKeys": [],
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/diskEncryptionSets",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Encryption"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
              "name": "myDiskEncryptionSet"
            },
            {
              "identity": {
                "type": "SystemAssigned"
              },
              "properties": {
                "activeKey": {
                  "sourceVault": {
                    "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault2"
                  },
                  "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                },
                "encryptionType": "EncryptionAtRestWithCustomerKey",
                "previousKeys": [],
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/diskEncryptionSets",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Encryption"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet2",
              "name": "myDiskEncryptionSet2"
            }
          ],
          "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Compute/diskEncryptionSets?$skiptoken=token"
        }
      },
      "get_information_about_a_disk_encryption_set_when_auto-key_rotation_failed.": {
        "value": {
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "sourceVault": {
                "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
              },
              "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": [],
            "rotationToLatestKeyVersionEnabled": true,
            "provisioningState": "Succeeded",
            "autoKeyRotationError": {
              "code": "ManagedServiceIdentityNotFound",
              "message": "Auto-key rotation was disabled as managed service identity associated with DiskEncryptionSet 'myDiskEncryptionSet' was not found. Please update the resource with correct identity to re-enable auto-key rotation."
            }
          },
          "type": "Microsoft.Compute/diskEncryptionSets",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "Encryption"
          },
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "name": "myDiskEncryptionSet"
        }
      },
      "get_information_about_a_disk_encryption_set.": {
        "value": {
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "sourceVault": {
                "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
              },
              "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": [],
            "provisioningState": "Succeeded"
          },
          "type": "Microsoft.Compute/diskEncryptionSets",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "Encryption"
          },
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "name": "myDiskEncryptionSet"
        }
      },
      "create_a_disk_encryption_set_with_key_vault_from_a_different_subscription.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "name": "myDiskEncryptionSet",
          "location": "West US",
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "keyUrl": "https://myvaultdifferentsub.vault-int.azure-int.net/keys/{key}"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": []
          }
        }
      },
      "create_a_disk_encryption_set_with_key_vault_from_a_different_tenant.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "name": "myDiskEncryptionSet",
          "location": "West US",
          "identity": {
            "type": "UserAssigned",
            "userAssignedIdentities": {
              "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}": {}
            }
          },
          "properties": {
            "activeKey": {
              "keyUrl": "https://myvaultdifferenttenant.vault-int.azure-int.net/keys/{key}"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "federatedClientId": "00000000-0000-0000-0000-000000000000",
            "previousKeys": []
          }
        }
      },
      "create_a_disk_encryption_set.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "name": "myDiskEncryptionSet",
          "location": "West US",
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "sourceVault": {
                "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
              },
              "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": []
          }
        }
      },
      "update_a_disk_encryption_set_with_rotationToLatestKeyVersionEnabled_set_to_true_-_Succeeded": {
        "value": {
          "name": "myDiskEncryptionSet",
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "type": "Microsoft.Compute/diskEncryptionSets",
          "location": "West US",
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "keyUrl": "https://myvaultdifferentsub.vault-int.azure-int.net/keys/keyName/keyVersion1"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": []
          }
        }
      },
      "update_a_disk_encryption_set_with_rotationToLatestKeyVersionEnabled_set_to_true_-_Updating": {
        "value": {
          "name": "myDiskEncryptionSet",
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/myDiskEncryptionSet",
          "type": "Microsoft.Compute/diskEncryptionSets",
          "location": "West US",
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "keyUrl": "https://myvaultdifferentsub.vault-int.azure-int.net/keys/keyName/keyVersion1"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": []
          }
        }
      },
      "update_a_disk_encryption_set.": {
        "value": {
          "name": "myDiskEncryptionSet",
          "location": "West US",
          "identity": {
            "type": "SystemAssigned"
          },
          "properties": {
            "activeKey": {
              "sourceVault": {
                "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
              },
              "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/keyName/keyVersion"
            },
            "encryptionType": "EncryptionAtRestWithCustomerKey",
            "previousKeys": []
          },
          "tags": {
            "department": "Development",
            "project": "Encryption"
          }
        }
      },
      "list_all_resources_that_are_encrypted_with_this_disk_encryption_set.": {
        "value": {
          "value": [
            "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
            "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
          ],
          "nextLink": "https://management.azure.com/subscriptions/subscriptionId/resourceGroups/resourceGroupName/providers/Microsoft.Compute/diskEncryptionSets/diskEncryptionSetName/associatedResources?$skiptoken=token"
        }
      },
      "list_all_managed_disks_in_a_resource_group.": {
        "value": {
          "value": [
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Copy",
                  "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk"
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:35.9278721+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/disks",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "ManagedDisks"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
              "name": "myManagedDisk1"
            },
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Empty"
                },
                "diskSizeGB": 10,
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:36.872242+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/disks",
              "location": "westus",
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
              "name": "myManagedDisk2"
            },
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "FromImage",
                  "imageReference": {
                    "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
                  }
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:36.3973934+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/disks",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "ManagedDisks"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
              "name": "myManagedDisk3"
            }
          ],
          "nextLink": "http://disksvchost:99/subscriptions/subscriptionId/providers/Microsoft.Compute/disks?$skiptoken=token/Subscriptions/subscriptionId/ResourceGroups/myResourceGroup/Disks/myManagedDisk"
        }
      },
      "get_information_about_a_managed_disk.": {
        "value": {
          "managedBy": "/subscriptions/123caaa-123v-v211-a49f-f88ccac5bf88/resourceGroups/ResourceGroupName/providers/Microsoft.Compute/virtualMachines/TestVM414689371c88843d65ec",
          "sku": {
            "name": "Standard_LRS"
          },
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "purchasePlan": {
              "name": "test_sku",
              "publisher": "test_test_pmc2pc1",
              "product": "marketplace_vm_test"
            },
            "supportedCapabilities": {
              "acceleratedNetwork": true
            },
            "supportsHibernation": true,
            "securityProfile": {
              "securityType": "TrustedLaunch"
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscription-id}/Providers/Microsoft.Compute/Locations/westus/Publishers/test_test_pmc2pc1/ArtifactTypes/VMImage/Offers/marketplace_vm_test/Skus/test_sku/Versions/1.0.0"
              }
            },
            "diskSizeGB": 10,
            "encryptionSettingsCollection": {
              "enabled": true,
              "encryptionSettings": [
                {
                  "diskEncryptionKey": {
                    "sourceVault": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    },
                    "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                  },
                  "keyEncryptionKey": {
                    "sourceVault": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    },
                    "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                  }
                }
              ]
            },
            "encryption": {
              "type": "EncryptionAtRestWithPlatformKey"
            },
            "LastOwnershipUpdateTime": "2016-12-28T04:41:35.079872+00:00",
            "timeCreated": "2016-12-28T04:41:35.079872+00:00",
            "provisioningState": "Succeeded"
          },
          "type": "Microsoft.Compute/disks",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "ManagedDisks"
          },
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk",
          "name": "myManagedDisk"
        }
      },
      "create_a_confidential_VM_supported_disk_encrypted_with_customer_managed_key": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "osType": "Windows",
            "securityProfile": {
              "securityType": "ConfidentialVM_DiskEncryptedWithCustomerKey",
              "secureVMDiskEncryptionSetId": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/diskEncryptionSets/{diskEncryptionSetName}"
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/westus/Publishers/{publisher}/ArtifactTypes/VMImage/Offers/{offer}/Skus/{sku}/Versions/1.0.0"
              }
            }
          }
        }
      },
      "create_a_managed_disk_and_associate_with_disk_access_resource.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_and_associate_with_disk_encryption_set.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_by_copying_a_snapshot.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
            }
          }
        }
      },
      "create_a_managed_disk_by_importing_an_unmanaged_blob_from_a_different_subscription.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "Import",
              "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
            }
          }
        }
      },
      "create_a_managed_disk_by_importing_an_unmanaged_blob_from_the_same_subscription.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "Import",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
            }
          }
        }
      },
      "create_a_managed_disk_from_ImportSecure_create_option": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "osType": "Windows",
            "securityProfile": {
              "securityType": "ConfidentialVM_VMGuestStateOnlyEncryptedWithPlatformKey"
            },
            "creationData": {
              "createOption": "ImportSecure",
              "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
              "securityDataUri": "https://mystorageaccount.blob.core.windows.net/osimages/vmgs.vhd"
            }
          }
        }
      },
      "create_a_managed_disk_from_ImportSecure_create_option_with_metadata_URI_for_Confidential_VM.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "osType": "Windows",
            "securityProfile": {
              "securityType": "ConfidentialVM_VMGuestStateOnlyEncryptedWithPlatformKey"
            },
            "creationData": {
              "createOption": "ImportSecure",
              "storageAccountId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd",
              "securityDataUri": "https://mystorageaccount.blob.core.windows.net/osimages/vmgs.vhd",
              "securityMetadataUri": "https://mystorageaccount.blob.core.windows.net/osimages/vmmd.vhd"
            }
          }
        }
      },
      "create_a_managed_disk_from_UploadPreparedSecure_create_option": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "osType": "Windows",
            "securityProfile": {
              "securityType": "TrustedLaunch"
            },
            "creationData": {
              "createOption": "UploadPreparedSecure",
              "uploadSizeBytes": 10737418752
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_from_a_platform_image.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "purchasePlan": {
              "name": "{sku}",
              "publisher": "{publisher}",
              "product": "{offer}"
            },
            "supportedCapabilities": {
              "acceleratedNetwork": true
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/westus/Publishers/{publisher}/ArtifactTypes/VMImage/Offers/{offer}/Skus/{sku}/Versions/1.0.0"
              }
            },
            "provisioningState": "Updating"
          }
        }
      },
      "create_a_managed_disk_from_an_Azure_Compute_Gallery_community_image.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportedCapabilities": {
              "acceleratedNetwork": true
            },
            "creationData": {
              "createOption": "FromImage",
              "galleryImageReference": {
                "communityGalleryImageId": "/CommunityGalleries/{communityGalleryPublicGalleryName}/Images/{imageName}/Versions/1.0.0"
              }
            },
            "provisioningState": "Updating"
          }
        }
      },
      "create_a_managed_disk_from_an_Azure_Compute_Gallery_direct_shared_image.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportedCapabilities": {
              "acceleratedNetwork": true
            },
            "creationData": {
              "createOption": "FromImage",
              "galleryImageReference": {
                "sharedGalleryImageId": "/SharedGalleries/{sharedGalleryUniqueName}/Images/{imageName}/Versions/1.0.0"
              }
            },
            "provisioningState": "Updating"
          }
        }
      },
      "create_a_managed_disk_from_an_Azure_Compute_Gallery_image.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "West US",
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportedCapabilities": {
              "acceleratedNetwork": true,
              "supportedSecurityOption": "TrustedLaunchSupported"
            },
            "creationData": {
              "createOption": "FromImage",
              "galleryImageReference": {
                "id": "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/Providers/Microsoft.Compute/Galleries/{galleryName}/Images/{imageName}/Versions/1.0.0"
              }
            },
            "provisioningState": "Updating"
          }
        }
      },
      "create_a_managed_disk_from_an_existing_managed_disk_in_the_same_or_different_subscription.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1"
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk2"
        }
      },
      "create_a_managed_disk_from_elastic_san_volume_snapshot.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "CopyFromSanSnapshot",
              "elasticSanResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.ElasticSan/elasticSans/myElasticSan/volumegroups/myElasticSanVolumeGroup/snapshots/myElasticSanVolumeSnapshot"
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_with_availability_policy.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 1024,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_with_dataAccessAuthMode": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_with_optimizedForFrequentAttach.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating",
            "optimizedForFrequentAttach": true
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_with_performancePlus.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Upload",
              "performancePlus": true
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_a_managed_disk_with_premium_v2_account_type.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myPremiumV2Disk",
          "sku": {
            "name": "PremiumV2_LRS",
            "tier": "Premium"
          }
        }
      },
      "create_a_managed_disk_with_security_profile": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "name": "myDisk",
          "location": "North Central US",
          "properties": {
            "provisioningState": "Updating",
            "osType": "Windows",
            "securityProfile": {
              "securityType": "TrustedLaunch"
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscriptionId}/Providers/Microsoft.Compute/Locations/uswest/Publishers/Microsoft/ArtifactTypes/VMImage/Offers/{offer}"
              }
            }
          }
        }
      },
      "create_a_managed_disk_with_ssd_zrs_account_type.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk",
          "sku": {
            "name": "Premium_ZRS",
            "tier": "Premium"
          }
        }
      },
      "create_a_managed_disk_with_ultra_account_type_with_readOnly_property_set.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myUltraReadOnlyDisk",
          "sku": {
            "name": "UltraSSD_LRS",
            "tier": "Ultra"
          }
        }
      },
      "create_a_managed_upload_disk.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Upload",
              "uploadSizeBytes": 10737418752
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_an_empty_managed_disk_in_extended_location.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk",
          "extendedLocation": {
            "type": "EdgeZone",
            "name": "{edge-zone-id}"
          }
        }
      },
      "create_an_empty_managed_disk.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "create_an_ultra_managed_disk_with_logicalSectorSize_512E": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty",
              "logicalSectorSize": 512
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk",
          "sku": {
            "name": "UltraSSD_LRS",
            "tier": "Ultra"
          }
        }
      },
      "create_or_update_a_bursting_enabled_managed_disk.": {
        "value": {
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 1024,
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "update_a_managed_disk_to_add_accelerated_networking.": {
        "value": {
          "name": "myDisk",
          "location": "westus",
          "sku": {
            "name": "Standard_LRS",
            "tier": "Standard"
          },
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportedCapabilities": {
              "acceleratedNetwork": false
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscription-id}/Providers/Microsoft.Compute/Locations/westus/Publishers/test_test_pmc2pc1/ArtifactTypes/VMImage/Offers/marketplace_vm_test/Skus/test_sku/Versions/1.0.0"
              }
            },
            "diskSizeGB": 127,
            "provisioningState": "Updating"
          }
        }
      },
      "update_a_managed_disk_to_add_architecture.": {
        "value": {
          "name": "myDisk",
          "location": "westus",
          "sku": {
            "name": "Standard_LRS",
            "tier": "Standard"
          },
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportedCapabilities": {
              "architecture": "Arm64"
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscription-id}/Providers/Microsoft.Compute/Locations/westus/Publishers/test_test_pmc2pc1/ArtifactTypes/VMImage/Offers/marketplace_vm_test/Skus/test_sku/Versions/1.0.0"
              }
            },
            "diskSizeGB": 127,
            "provisioningState": "Updating"
          }
        }
      },
      "update_a_managed_disk_to_add_purchase_plan.": {
        "value": {
          "name": "myDisk",
          "location": "westus",
          "sku": {
            "name": "Standard_LRS",
            "tier": "Standard"
          },
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "purchasePlan": {
              "name": "myPurchasePlanName",
              "publisher": "myPurchasePlanPublisher",
              "product": "myPurchasePlanProduct",
              "promotionCode": "myPurchasePlanPromotionCode"
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscription-id}/Providers/Microsoft.Compute/Locations/westus/Publishers/test_test_pmc2pc1/ArtifactTypes/VMImage/Offers/marketplace_vm_test/Skus/test_sku/Versions/1.0.0"
              }
            },
            "diskSizeGB": 127,
            "provisioningState": "Updating"
          }
        }
      },
      "update_a_managed_disk_to_add_supportsHibernation.": {
        "value": {
          "name": "myDisk",
          "location": "westus",
          "sku": {
            "name": "Standard_LRS",
            "tier": "Standard"
          },
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportsHibernation": true,
            "creationData": {
              "createOption": "Import",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
            },
            "diskSizeGB": 127,
            "provisioningState": "Updating"
          }
        }
      },
      "update_a_managed_disk_to_change_tier.": {
        "value": {
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "provisioningState": "Updating",
            "tier": "P10",
            "propertyUpdatesInProgress": {
              "targetTier": "P30"
            }
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "update_a_managed_disk_to_disable_bursting.": {
        "value": {
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "update_a_managed_disk_to_disable_optimizedForFrequentAttach.": {
        "value": {
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating",
            "optimizedForFrequentAttach": false
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "update_a_managed_disk_with_diskControllerTypes.": {
        "value": {
          "name": "myDisk",
          "location": "westus",
          "sku": {
            "name": "Standard_LRS",
            "tier": "Standard"
          },
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "supportedCapabilities": {
              "diskControllerTypes": "SCSI"
            },
            "creationData": {
              "createOption": "FromImage",
              "imageReference": {
                "id": "/Subscriptions/{subscription-id}/Providers/Microsoft.Compute/Locations/westus/Publishers/marketplacetestfirstparty/ArtifactTypes/VMImage/Offers/nvme_test_062/Skus/test_sku/Versions/1.0.0"
              }
            },
            "diskSizeGB": 127,
            "provisioningState": "Updating"
          }
        }
      },
      "update_managed_disk_to_remove_disk_access_resource_association.": {
        "value": {
          "properties": {
            "creationData": {
              "createOption": "Empty"
            },
            "diskSizeGB": 200,
            "provisioningState": "Updating",
            "networkAccessPolicy": "AllowAll"
          },
          "location": "West US",
          "name": "myDisk"
        }
      },
      "get_a_sas_on_a_managed_disk.": {
        "value": {
          "accessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/abcd?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2021-05-24T18:02:34Z&se=2021-05-24T18:19:14Z&sp=r"
        }
      },
      "get_sas_on_managed_disk_and_VM_guest_state": {
        "value": {
          "accessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/abcd?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2021-05-24T18:02:34Z&se=2021-05-24T18:19:14Z&sp=r",
          "securityDataAccessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/b9bf5824-6122-49e0-ba22-042f76ccd8a1_vmgs?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2021-05-24T18:02:34Z&se=2021-05-24T18:19:14Z&sp=r"
        }
      },
      "get_sas_on_managed_disk_VM_guest_state_and_VM_metadata_for_Confidential_VM.": {
        "value": {
          "accessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/abcd?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2025-05-29T18:02:34Z&se=2025-05-29T18:19:14Z&sp=r",
          "securityDataAccessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/b9bf5824-6122-49e0-ba22-042f76ccd8a1_vmgs?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2025-05-29T18:02:34Z&se=2025-05-29T18:19:14Z&sp=r",
          "securityMetadataAccessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/ghm3kwd5jzbn/2be55b76-f471-4f6b-bff0-4dcea6cbca7f_vmmd?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2025-05-29T18:02:34Z&se=2025-05-29T18:19:14Z&sp=r"
        }
      },
      "get_an_incremental_disk_restorePoint_resource.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/restorePointCollections/rpc/restorePoints/vmrp/diskRestorePoints/TestDisk45ceb03433006d1baee0_b70cd924-3362-4a80-93c2-9415eaa12745",
          "name": "TestDisk45ceb03433006d1baee0_b70cd924-3362-4a80-93c2-9415eaa12745",
          "properties": {
            "timeCreated": "2020-09-16T04:41:35.079872+00:00",
            "sourceResourceId": "/subscriptions/d2260d06-e00d-422f-8b63-93df551a59ae/resourceGroups/rg0680fb0c-89f1-41b4-96c0-35733a181558/providers/Microsoft.Compute/disks/TestDisk45ceb03433006d1baee0",
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "familyId": "996bf3ce-b6ff-4e86-9db6-dc27ea06cea5",
            "sourceUniqueId": "48e058b1-7eea-4968-b532-10a8a1130c13",
            "networkAccessPolicy": "AllowAll",
            "publicNetworkAccess": "Disabled",
            "logicalSectorSize": 4096
          }
        }
      },
      "get_an_incremental_disk_restorePoint_when_source_resource_is_from_a_different_region": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/restorePointCollections/rpc/restorePoints/vmrp/diskRestorePoints/TestDisk45ceb03433006d1baee0_b70cd924-3362-4a80-93c2-9415eaa12745",
          "name": "TestDisk45ceb03433006d1baee0_b70cd924-3362-4a80-93c2-9415eaa12745",
          "properties": {
            "timeCreated": "2020-09-16T04:41:35.079872+00:00",
            "sourceResourceId": "/subscriptions/d2260d06-e00d-422f-8b63-93df551a59ae/resourceGroups/rg0680fb0c-89f1-41b4-96c0-35733a181558/providers/Microsoft.Compute/disks/TestDisk45ceb03433006d1baee0",
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "familyId": "996bf3ce-b6ff-4e86-9db6-dc27ea06cea5",
            "sourceUniqueId": "48e058b1-7eea-4968-b532-10a8a1130c13",
            "networkAccessPolicy": "AllowAll",
            "publicNetworkAccess": "Disabled",
            "replicationState": "Succeeded",
            "completionPercent": 100,
            "sourceResourceLocation": "eastus2",
            "logicalSectorSize": 4096
          }
        }
      },
      "grants_access_to_a_diskRestorePoint.": {
        "value": {
          "accessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/abcd?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2021-05-24T18:02:34Z&se=2021-05-24T18:19:14Z&sp=r"
        }
      },
      "List_all_snapshots_in_a_resource_group.": {
        "value": {
          "value": [
            {
              "properties": {
                "osType": "Windows",
                "creationData": {
                  "createOption": "Copy",
                  "sourceResourceId": "subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot"
                },
                "diskSizeGB": 200,
                "encryptionSettingsCollection": {
                  "enabled": true,
                  "encryptionSettings": [
                    {
                      "diskEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                      },
                      "keyEncryptionKey": {
                        "sourceVault": {
                          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                        },
                        "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                      }
                    }
                  ]
                },
                "encryption": {
                  "type": "EncryptionAtRestWithPlatformKey"
                },
                "timeCreated": "2016-12-28T04:41:35.9278721+00:00",
                "provisioningState": "Succeeded"
              },
              "type": "Microsoft.Compute/snapshots",
              "location": "westus",
              "tags": {
                "department": "Development",
                "project": "Snapshots"
              },
              "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
              "name": "mySnapshot"
            }
          ]
        }
      },
      "Get_information_about_a_snapshot.": {
        "value": {
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "purchasePlan": {
              "name": "test_sku",
              "publisher": "test_test_pmc2pc1",
              "product": "marketplace_vm_test"
            },
            "supportedCapabilities": {
              "acceleratedNetwork": true
            },
            "supportsHibernation": true,
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
              "sourceUniqueId": "d633885d-d102-4481-901e-5b2413d1a7be"
            },
            "diskSizeGB": 100,
            "encryptionSettingsCollection": {
              "enabled": true,
              "encryptionSettings": [
                {
                  "diskEncryptionKey": {
                    "sourceVault": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    },
                    "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                  },
                  "keyEncryptionKey": {
                    "sourceVault": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    },
                    "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                  }
                }
              ]
            },
            "encryption": {
              "type": "EncryptionAtRestWithPlatformKey"
            },
            "timeCreated": "2016-12-28T04:41:35.079872+00:00",
            "provisioningState": "Succeeded"
          },
          "type": "Microsoft.Compute/snapshots",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "Snapshots"
          },
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
          "name": "mySnapshot"
        }
      },
      "Get_information_about_an_incremental_snapshot.": {
        "value": {
          "properties": {
            "osType": "Windows",
            "hyperVGeneration": "V1",
            "purchasePlan": {
              "name": "test_sku",
              "publisher": "test_test_pmc2pc1",
              "product": "marketplace_vm_test"
            },
            "supportedCapabilities": {
              "acceleratedNetwork": true
            },
            "supportsHibernation": true,
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk",
              "sourceUniqueId": "d633885d-d102-4481-901e-5b2413d1a7be",
              "instantAccessDurationMinutes": 120
            },
            "diskSizeGB": 100,
            "encryptionSettingsCollection": {
              "enabled": true,
              "encryptionSettings": [
                {
                  "diskEncryptionKey": {
                    "sourceVault": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    },
                    "secretUrl": "https://myvmvault.vault-int.azure-int.net/secrets/{secret}"
                  },
                  "keyEncryptionKey": {
                    "sourceVault": {
                      "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.KeyVault/vaults/myVMVault"
                    },
                    "keyUrl": "https://myvmvault.vault-int.azure-int.net/keys/{key}"
                  }
                }
              ]
            },
            "encryption": {
              "type": "EncryptionAtRestWithPlatformKey"
            },
            "incremental": true,
            "networkAccessPolicy": "0",
            "diskState": "0",
            "diskSizeBytes": 10737418240,
            "uniqueId": "a395e9c1-fb9e-446e-a9ba-7b2fa0bcd305",
            "incrementalSnapshotFamilyId": "d1a341d5-1ea7-4a85-b304-944ad8021639",
            "snapshotAccessState": "Available",
            "timeCreated": "2016-12-28T04:41:35.079872+00:00",
            "provisioningState": "Succeeded"
          },
          "type": "Microsoft.Compute/snapshots",
          "location": "westus",
          "tags": {
            "department": "Development",
            "project": "Snapshots"
          },
          "id": "/subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/myIncrementalSnapshot",
          "name": "myIncrementalSnapshot"
        }
      },
      "Create_a_snapshot_by_importing_an_unmanaged_blob_from_a_different_subscription.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
          "properties": {
            "creationData": {
              "createOption": "Import",
              "storageAccountId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/myStorageAccount",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "mySnapshot1"
        }
      },
      "Create_a_snapshot_by_importing_an_unmanaged_blob_from_the_same_subscription.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
          "properties": {
            "creationData": {
              "createOption": "Import",
              "sourceUri": "https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd"
            },
            "provisioningState": "Updating"
          },
          "location": "West US",
          "name": "mySnapshot1"
        }
      },
      "Create_a_snapshot_from_an_elastic_san_volume_snapshot.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot",
          "name": "mySnapshot",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "CopyFromSanSnapshot",
              "elasticSanResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.ElasticSan/elasticSans/myElasticSan/volumegroups/myElasticSanVolumeGroup/snapshots/myElasticSanVolumeSnapshot"
            }
          }
        }
      },
      "Create_a_snapshot_from_an_existing_snapshot_in_the_same_or_a_different_subscription_in_a_different_region_with_quicker_copy_speed.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2",
          "name": "mySnapshot2",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "CopyStart",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1",
              "provisionedBandwidthCopySpeed": "Enhanced"
            }
          }
        }
      },
      "Create_a_snapshot_from_an_existing_snapshot_in_the_same_or_a_different_subscription_in_a_different_region.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2",
          "name": "mySnapshot2",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "CopyStart",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
            }
          }
        }
      },
      "Create_a_snapshot_from_an_existing_snapshot_in_the_same_or_a_different_subscription.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2",
          "name": "mySnapshot2",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
            }
          }
        }
      },
      "create_a_snapshot_which_can_be_instantly_accessable.": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2",
          "name": "mySnapshot2",
          "location": "West US",
          "properties": {
            "provisioningState": "Updating",
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myDisk1",
              "instantAccessDurationMinutes": 120
            }
          }
        }
      },
      "Update_a_snapshot_with_accelerated_networking.": {
        "value": {
          "properties": {
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
            },
            "supportedCapabilities": {
              "acceleratedNetwork": false
            },
            "diskSizeGB": 20,
            "provisioningState": "Updating"
          },
          "tags": {
            "department": "Development",
            "project": "UpdateSnapshots"
          },
          "location": "West US",
          "name": "mySnapshot"
        }
      },
      "Update_a_snapshot.": {
        "value": {
          "properties": {
            "creationData": {
              "createOption": "Copy",
              "sourceResourceId": "subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1"
            },
            "diskSizeGB": 20,
            "provisioningState": "Updating"
          },
          "tags": {
            "department": "Development",
            "project": "UpdateSnapshots"
          },
          "location": "West US",
          "name": "mySnapshot"
        }
      },
      "Get_a_sas_on_a_snapshot.": {
        "value": {
          "accessSAS": "https://md-gpvmcxzlzxgd.partition.blob.storage.azure.net/xx3cqcx53f0v/abcd?sv=2014-02-14&sr=b&sk=key1&sig=XXX&st=2021-05-24T18:02:34Z&se=2021-05-24T18:19:14Z&sp=r"
        }
      }
    },
    "parameters": {
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "The API version to use for this operation.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "list all disk access resources in a subscription.": {
            "value": "2025-01-02"
          },
          "list all disk encryption sets in a subscription.": {
            "value": "2025-01-02"
          },
          "list all managed disks in a subscription.": {
            "value": "2025-01-02"
          },
          "List all snapshots in a subscription.": {
            "value": "2025-01-02"
          },
          "list all disk access resources in a resource group.": {
            "value": "2025-01-02"
          },
          "get information about a disk access resource with private endpoints.": {
            "value": "2025-01-02"
          },
          "get information about a disk access resource.": {
            "value": "2025-01-02"
          },
          "create a disk access resource.": {
            "value": "2025-01-02"
          },
          "update a disk access resource.": {
            "value": "2025-01-02"
          },
          "delete a disk access resource.": {
            "value": "2025-01-02"
          },
          "get information about a private endpoint connection under a disk access resource.": {
            "value": "2025-01-02"
          },
          "approve a Private Endpoint Connection under a disk access resource.": {
            "value": "2025-01-02"
          },
          "delete a private endpoint connection under a disk access resource.": {
            "value": "2025-01-02"
          },
          "list all possible private link resources under disk access resource.": {
            "value": "2025-01-02"
          },
          "list all disk encryption sets in a resource group.": {
            "value": "2025-01-02"
          },
          "get information about a disk encryption set when auto-key rotation failed.": {
            "value": "2025-01-02"
          },
          "get information about a disk encryption set.": {
            "value": "2025-01-02"
          },
          "create a disk encryption set with key vault from a different subscription.": {
            "value": "2025-01-02"
          },
          "create a disk encryption set with key vault from a different tenant.": {
            "value": "2025-01-02"
          },
          "create a disk encryption set.": {
            "value": "2025-01-02"
          },
          "update a disk encryption set with rotationToLatestKeyVersionEnabled set to true - Succeeded": {
            "value": "2025-01-02"
          },
          "update a disk encryption set with rotationToLatestKeyVersionEnabled set to true - Updating": {
            "value": "2025-01-02"
          },
          "update a disk encryption set.": {
            "value": "2025-01-02"
          },
          "delete a disk encryption set.": {
            "value": "2025-01-02"
          },
          "list all resources that are encrypted with this disk encryption set.": {
            "value": "2025-01-02"
          },
          "list all managed disks in a resource group.": {
            "value": "2025-01-02"
          },
          "get information about a managed disk.": {
            "value": "2025-01-02"
          },
          "create a confidential VM supported disk encrypted with customer managed key": {
            "value": "2025-01-02"
          },
          "create a managed disk and associate with disk access resource.": {
            "value": "2025-01-02"
          },
          "create a managed disk and associate with disk encryption set.": {
            "value": "2025-01-02"
          },
          "create a managed disk by copying a snapshot.": {
            "value": "2025-01-02"
          },
          "create a managed disk by importing an unmanaged blob from a different subscription.": {
            "value": "2025-01-02"
          },
          "create a managed disk by importing an unmanaged blob from the same subscription.": {
            "value": "2025-01-02"
          },
          "create a managed disk from ImportSecure create option": {
            "value": "2025-01-02"
          },
          "create a managed disk from ImportSecure create option with metadata URI for Confidential VM.": {
            "value": "2025-01-02"
          },
          "create a managed disk from UploadPreparedSecure create option": {
            "value": "2025-01-02"
          },
          "create a managed disk from a platform image.": {
            "value": "2025-01-02"
          },
          "create a managed disk from an Azure Compute Gallery community image.": {
            "value": "2025-01-02"
          },
          "create a managed disk from an Azure Compute Gallery direct shared image.": {
            "value": "2025-01-02"
          },
          "create a managed disk from an Azure Compute Gallery image.": {
            "value": "2025-01-02"
          },
          "create a managed disk from an existing managed disk in the same or different subscription.": {
            "value": "2025-01-02"
          },
          "create a managed disk from elastic san volume snapshot.": {
            "value": "2025-01-02"
          },
          "create a managed disk with availability policy.": {
            "value": "2025-01-02"
          },
          "create a managed disk with dataAccessAuthMode": {
            "value": "2025-01-02"
          },
          "create a managed disk with optimizedForFrequentAttach.": {
            "value": "2025-01-02"
          },
          "create a managed disk with performancePlus.": {
            "value": "2025-01-02"
          },
          "create a managed disk with premium v2 account type.": {
            "value": "2025-01-02"
          },
          "create a managed disk with security profile": {
            "value": "2025-01-02"
          },
          "create a managed disk with ssd zrs account type.": {
            "value": "2025-01-02"
          },
          "create a managed disk with ultra account type with readOnly property set.": {
            "value": "2025-01-02"
          },
          "create a managed upload disk.": {
            "value": "2025-01-02"
          },
          "create an empty managed disk in extended location.": {
            "value": "2025-01-02"
          },
          "create an empty managed disk.": {
            "value": "2025-01-02"
          },
          "create an ultra managed disk with logicalSectorSize 512E": {
            "value": "2025-01-02"
          },
          "create or update a bursting enabled managed disk.": {
            "value": "2025-01-02"
          },
          "update a managed disk to add accelerated networking.": {
            "value": "2025-01-02"
          },
          "update a managed disk to add architecture.": {
            "value": "2025-01-02"
          },
          "update a managed disk to add purchase plan.": {
            "value": "2025-01-02"
          },
          "update a managed disk to add supportsHibernation.": {
            "value": "2025-01-02"
          },
          "update a managed disk to change tier.": {
            "value": "2025-01-02"
          },
          "update a managed disk to disable bursting.": {
            "value": "2025-01-02"
          },
          "update a managed disk to disable optimizedForFrequentAttach.": {
            "value": "2025-01-02"
          },
          "update a managed disk with diskControllerTypes.": {
            "value": "2025-01-02"
          },
          "update managed disk to remove disk access resource association.": {
            "value": "2025-01-02"
          },
          "delete a managed disk.": {
            "value": "2025-01-02"
          },
          "get a sas on a managed disk.": {
            "value": "2025-01-02"
          },
          "get sas on managed disk and VM guest state": {
            "value": "2025-01-02"
          },
          "get sas on managed disk, VM guest state and VM metadata for Confidential VM.": {
            "value": "2025-01-02"
          },
          "revoke access to a managed disk.": {
            "value": "2025-01-02"
          },
          "get an incremental disk restorePoint resource.": {
            "value": "2025-01-02"
          },
          "get an incremental disk restorePoint when source resource is from a different region": {
            "value": "2025-01-02"
          },
          "grants access to a diskRestorePoint.": {
            "value": "2025-01-02"
          },
          "revokes access to a diskRestorePoint.": {
            "value": "2025-01-02"
          },
          "List all snapshots in a resource group.": {
            "value": "2025-01-02"
          },
          "Get information about a snapshot.": {
            "value": "2025-01-02"
          },
          "Get information about an incremental snapshot.": {
            "value": "2025-01-02"
          },
          "Create a snapshot by importing an unmanaged blob from a different subscription.": {
            "value": "2025-01-02"
          },
          "Create a snapshot by importing an unmanaged blob from the same subscription.": {
            "value": "2025-01-02"
          },
          "Create a snapshot from an elastic san volume snapshot.": {
            "value": "2025-01-02"
          },
          "Create a snapshot from an existing snapshot in the same or a different subscription in a different region with quicker copy speed.": {
            "value": "2025-01-02"
          },
          "Create a snapshot from an existing snapshot in the same or a different subscription in a different region.": {
            "value": "2025-01-02"
          },
          "Create a snapshot from an existing snapshot in the same or a different subscription.": {
            "value": "2025-01-02"
          },
          "create a snapshot which can be instantly accessable.": {
            "value": "2025-01-02"
          },
          "Update a snapshot with accelerated networking.": {
            "value": "2025-01-02"
          },
          "Update a snapshot.": {
            "value": "2025-01-02"
          },
          "Delete a snapshot.": {
            "value": "2025-01-02"
          },
          "Get a sas on a snapshot.": {
            "value": "2025-01-02"
          },
          "Revoke access to a snapshot.": {
            "value": "2025-01-02"
          }
        }
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "description": "The ID of the target subscription.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "list all disk access resources in a subscription.": {
            "value": "{subscription-id}"
          },
          "list all disk encryption sets in a subscription.": {
            "value": "{subscription-id}"
          },
          "list all managed disks in a subscription.": {
            "value": "{subscription-id}"
          },
          "List all snapshots in a subscription.": {
            "value": "{subscription-id}"
          },
          "list all disk access resources in a resource group.": {
            "value": "{subscription-id}"
          },
          "get information about a disk access resource with private endpoints.": {
            "value": "{subscription-id}"
          },
          "get information about a disk access resource.": {
            "value": "{subscription-id}"
          },
          "create a disk access resource.": {
            "value": "{subscription-id}"
          },
          "update a disk access resource.": {
            "value": "{subscription-id}"
          },
          "delete a disk access resource.": {
            "value": "{subscription-id}"
          },
          "get information about a private endpoint connection under a disk access resource.": {
            "value": "{subscription-id}"
          },
          "approve a Private Endpoint Connection under a disk access resource.": {
            "value": "{subscription-id}"
          },
          "delete a private endpoint connection under a disk access resource.": {
            "value": "{subscription-id}"
          },
          "list all possible private link resources under disk access resource.": {
            "value": "{subscription-id}"
          },
          "list all disk encryption sets in a resource group.": {
            "value": "{subscription-id}"
          },
          "get information about a disk encryption set when auto-key rotation failed.": {
            "value": "{subscription-id}"
          },
          "get information about a disk encryption set.": {
            "value": "{subscription-id}"
          },
          "create a disk encryption set with key vault from a different subscription.": {
            "value": "{subscription-id}"
          },
          "create a disk encryption set with key vault from a different tenant.": {
            "value": "{subscription-id}"
          },
          "create a disk encryption set.": {
            "value": "{subscription-id}"
          },
          "update a disk encryption set with rotationToLatestKeyVersionEnabled set to true - Succeeded": {
            "value": "{subscription-id}"
          },
          "update a disk encryption set with rotationToLatestKeyVersionEnabled set to true - Updating": {
            "value": "{subscription-id}"
          },
          "update a disk encryption set.": {
            "value": "{subscription-id}"
          },
          "delete a disk encryption set.": {
            "value": "{subscription-id}"
          },
          "list all resources that are encrypted with this disk encryption set.": {
            "value": "{subscription-id}"
          },
          "list all managed disks in a resource group.": {
            "value": "{subscription-id}"
          },
          "get information about a managed disk.": {
            "value": "{subscription-id}"
          },
          "create a confidential VM supported disk encrypted with customer managed key": {
            "value": "{subscriptionId}"
          },
          "create a managed disk and associate with disk access resource.": {
            "value": "{subscription-id}"
          },
          "create a managed disk and associate with disk encryption set.": {
            "value": "{subscription-id}"
          },
          "create a managed disk by copying a snapshot.": {
            "value": "{subscription-id}"
          },
          "create a managed disk by importing an unmanaged blob from a different subscription.": {
            "value": "{subscription-id}"
          },
          "create a managed disk by importing an unmanaged blob from the same subscription.": {
            "value": "{subscription-id}"
          },
          "create a managed disk from ImportSecure create option": {
            "value": "{subscription-id}"
          },
          "create a managed disk from ImportSecure create option with metadata URI for Confidential VM.": {
            "value": "{subscription-id}"
          },
          "create a managed disk from UploadPreparedSecure create option": {
            "value": "{subscription-id}"
          },
          "create a managed disk from a platform image.": {
            "value": "{subscriptionId}"
          },
          "create a managed disk from an Azure Compute Gallery community image.": {
            "value": "{subscriptionId}"
          },
          "create a managed disk from an Azure Compute Gallery direct shared image.": {
            "value": "{subscriptionId}"
          },
          "create a managed disk from an Azure Compute Gallery image.": {
            "value": "{subscriptionId}"
          },
          "create a managed disk from an existing managed disk in the same or different subscription.": {
            "value": "{subscription-id}"
          },
          "create a managed disk from elastic san volume snapshot.": {
            "value": "{subscription-id}"
          },
          "create a managed disk with availability policy.": {
            "value": "{subscription-id}"
          },
[...]
