{
  "openapi": "3.0.0",
  "info": {
    "title": "ManagedServiceIdentityClient",
    "version": "2024-11-30",
    "description": "The Managed Service Identity Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SystemAssignedIdentities"
    },
    {
      "name": "Identities"
    },
    {
      "name": "FederatedIdentityCredentials"
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "MsiOperationsList": {
        "value": {
          "nextLink": "https://serviceRoot/providers/Microsoft.ManagedIdentity/operations?api-version=2024-11-30&$skiptoken=X'12345'",
          "value": [
            {
              "name": "Microsoft.ManagedIdentity/userAssignedIdentities/read",
              "display": {
                "description": "Gets an existing user assigned identity",
                "operation": "Get User Assigned Identity",
                "provider": "Managed Service Identity",
                "resource": "User Assigned Identities"
              }
            },
            {
              "name": "Microsoft.ManagedIdentity/userAssignedIdentities/write",
              "display": {
                "description": "Creates a new user assigned identity or updates the tags associated with an existing user assigned identity",
                "operation": "Create/Update User Assigned Identity",
                "provider": "Managed Service Identity",
                "resource": "User Assigned Identities"
              }
            },
            {
              "name": "Microsoft.ManagedIdentity/userAssignedIdentities/delete",
              "display": {
                "description": "Deletes an existing user assigned identity",
                "operation": "Delete User Assigned Identity",
                "provider": "Managed Service Identity",
                "resource": "User Assigned Identities"
              }
            }
          ]
        }
      },
      "IdentityListBySubscription": {
        "value": {
          "nextLink": "https://serviceRoot/subscriptions/subId/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2024-11-30&$skiptoken=X'12345'",
          "value": [
            {
              "name": "identityName",
              "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
              "id": "/subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName",
              "location": "eastus",
              "properties": {
                "clientId": "4024ab25-56a8-4370-aea6-6389221caf29",
                "isolationScope": "Regional",
                "principalId": "25cc773c-7f05-40fc-a104-32d2300754ad",
                "tenantId": "b6c948ef-f6b5-4384-8354-da3a15eca969"
              },
              "tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          ]
        }
      },
      "IdentityListByResourceGroup": {
        "value": {
          "nextLink": "https://serviceRoot/subscriptions/subId/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-version=2024-11-30&$skiptoken=X'12345'",
          "value": [
            {
              "name": "identityName",
              "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
              "id": "/subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName",
              "location": "eastus",
              "properties": {
                "clientId": "4024ab25-56a8-4370-aea6-6389221caf29",
                "isolationScope": "None",
                "principalId": "25cc773c-7f05-40fc-a104-32d2300754ad",
                "tenantId": "b6c948ef-f6b5-4384-8354-da3a15eca969"
              },
              "tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          ]
        }
      },
      "IdentityGet": {
        "value": {
          "name": "identityName",
          "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
          "id": "/subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName",
          "location": "eastus",
          "properties": {
            "clientId": "4024ab25-56a8-4370-aea6-6389221caf29",
            "isolationScope": "None",
            "principalId": "25cc773c-7f05-40fc-a104-32d2300754ad",
            "tenantId": "b6c948ef-f6b5-4384-8354-da3a15eca969"
          },
          "tags": {
            "key1": "value1",
            "key2": "value2"
          }
        }
      },
      "IdentityCreate": {
        "value": {
          "name": "identityName",
          "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
          "id": "/subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName",
          "location": "eastus",
          "properties": {
            "clientId": "4024ab25-56a8-4370-aea6-6389221caf29",
            "isolationScope": "None",
            "principalId": "25cc773c-7f05-40fc-a104-32d2300754ad",
            "tenantId": "b6c948ef-f6b5-4384-8354-da3a15eca969"
          },
          "tags": {
            "key1": "value1",
            "key2": "value2"
          }
        }
      },
      "IdentityUpdate": {
        "value": {
          "name": "identityName",
          "type": "Microsoft.ManagedIdentity/userAssignedIdentities",
          "id": "/subscriptions/subid/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName",
          "location": "eastus",
          "properties": {
            "clientId": "4024ab25-56a8-4370-aea6-6389221caf29",
            "isolationScope": "Regional",
            "principalId": "25cc773c-7f05-40fc-a104-32d2300754ad",
            "tenantId": "b6c948ef-f6b5-4384-8354-da3a15eca969"
          },
          "tags": {
            "key1": "value1",
            "key2": "value2"
          }
        }
      },
      "FederatedIdentityCredentialList": {
        "value": {
          "nextLink": "https://serviceRoot/subscriptions/c267c0e7-0a73-4789-9e17-d26aeb0904e5/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/resourceName/federatedIdentityCredentials?api-version=2024-11-30&$skipToken=X'12345'",
          "value": [
            {
              "name": "ficResourceName",
              "type": "Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials",
              "id": "/subscriptions/c267c0e7-0a73-4789-9e17-d26aeb0904e5/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/federatedIdentityCredentials/ficResourceName",
              "properties": {
                "audiences": [
                  "api://AzureADTokenExchange"
                ],
                "issuer": "https://oidc.prod-aks.azure.com/TenantGUID/IssuerGUID",
                "subject": "system:serviceaccount:ns:svcaccount"
              }
            }
          ]
        }
      },
      "FederatedIdentityCredentialGet": {
        "value": {
          "name": "ficResourceName",
          "type": "Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials",
          "id": "/subscriptions/c267c0e7-0a73-4789-9e17-d26aeb0904e5/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/federatedIdentityCredentials/ficResourceName",
          "properties": {
            "audiences": [
              "api://AzureADTokenExchange"
            ],
            "issuer": "https://oidc.prod-aks.azure.com/TenantGUID/IssuerGUID",
            "subject": "system:serviceaccount:ns:svcaccount"
          }
        }
      },
      "FederatedIdentityCredentialCreate": {
        "value": {
          "name": "ficResourceName",
          "type": "Microsoft.ManagedIdentity/userAssignedIdentities/federatedIdentityCredentials",
          "id": "/subscriptions/c267c0e7-0a73-4789-9e17-d26aeb0904e5/resourcegroups/rgName/providers/Microsoft.ManagedIdentity/userAssignedIdentities/identityName/federatedIdentityCredentials/ficResourceName",
          "properties": {
            "audiences": [
              "api://AzureADTokenExchange"
            ],
            "issuer": "https://oidc.prod-aks.azure.com/TenantGUID/IssuerGUID",
            "subject": "system:serviceaccount:ns:svcaccount"
          }
        }
      }
    },
    "parameters": {
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "The API version to use for this operation.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "MsiOperationsList": {
            "value": "2024-11-30"
          },
          "IdentityListBySubscription": {
            "value": "2024-11-30"
          },
          "IdentityListByResourceGroup": {
            "value": "2024-11-30"
          },
          "IdentityGet": {
            "value": "2024-11-30"
          },
          "IdentityCreate": {
            "value": "2024-11-30"
          },
          "IdentityUpdate": {
            "value": "2024-11-30"
          },
          "IdentityDelete": {
            "value": "2024-11-30"
          },
          "FederatedIdentityCredentialList": {
            "value": "2024-11-30"
          },
          "FederatedIdentityCredentialGet": {
            "value": "2024-11-30"
          },
          "FederatedIdentityCredentialCreate": {
            "value": "2024-11-30"
          },
          "FederatedIdentityCredentialDelete": {
            "value": "2024-11-30"
          }
        }
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "description": "The ID of the target subscription. The value must be an UUID.",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "examples": {
          "IdentityListBySubscription": {
            "value": "12345678-1234-5678-9012-123456789012"
          },
          "IdentityListByResourceGroup": {
            "value": "12345678-1234-5678-9012-123456789012"
          },
          "IdentityGet": {
            "value": "12345678-1234-5678-9012-123456789012"
          },
          "IdentityCreate": {
            "value": "12345678-1234-5678-9012-123456789012"
          },
          "IdentityUpdate": {
            "value": "12345678-1234-5678-9012-123456789012"
          },
          "IdentityDelete": {
            "value": "12345678-1234-5678-9012-123456789012"
          },
          "FederatedIdentityCredentialList": {
            "value": "c267c0e7-0a73-4789-9e17-d26aeb0904e5"
          },
          "FederatedIdentityCredentialGet": {
            "value": "c267c0e7-0a73-4789-9e17-d26aeb0904e5"
          },
          "FederatedIdentityCredentialCreate": {
            "value": "c267c0e7-0a73-4789-9e17-d26aeb0904e5"
          },
          "FederatedIdentityCredentialDelete": {
            "value": "c267c0e7-0a73-4789-9e17-d26aeb0904e5"
          }
        }
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "description": "The name of the resource group. The name is case insensitive.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 90
        },
        "examples": {
          "IdentityListByResourceGroup": {
            "value": "rgName"
          },
          "IdentityGet": {
            "value": "rgName"
          },
          "IdentityCreate": {
            "value": "rgName"
          },
          "IdentityUpdate": {
            "value": "rgName"
          },
          "IdentityDelete": {
            "value": "rgName"
          },
          "FederatedIdentityCredentialList": {
            "value": "rgName"
          },
          "FederatedIdentityCredentialGet": {
            "value": "rgName"
          },
          "FederatedIdentityCredentialCreate": {
            "value": "rgName"
          },
          "FederatedIdentityCredentialDelete": {
            "value": "rgName"
          }
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "Azure.Core.uuid": {
        "type": "string",
        "format": "uuid",
        "description": "Universally Unique Identifier"
      },
      "CloudError": {
        "type": "object",
        "description": "An error response from the ManagedServiceIdentity service.",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody"
          }
        },
        "x-ms-external": true
      },
      "CloudErrorBody": {
        "type": "object",
        "description": "An error response from the ManagedServiceIdentity service.",
        "properties": {
          "code": {
            "type": "string",
            "description": "An identifier for the error."
          },
          "message": {
            "type": "string",
            "description": "A message describing the error, intended to be suitable for display in a user interface."
          },
          "target": {
            "type": "string",
            "description": "The target of the particular error. For example, the name of the property in error."
          },
          "details": {
            "type": "array",
            "description": "A list of additional details about the error.",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "x-ms-identifiers": [
              "code"
            ]
          }
        },
        "x-ms-external": true
      },
      "FederatedIdentityCredential": {
        "type": "object",
        "description": "Describes a federated identity credential.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/FederatedIdentityCredentialProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ]
      },
      "FederatedIdentityCredentialProperties": {
        "type": "object",
        "title": "Federated identity credential properties.",
        "description": "The properties associated with a federated identity credential.",
        "properties": {
          "issuer": {
            "type": "string",
            "format": "uri",
            "description": "The URL of the issuer to be trusted."
          },
          "subject": {
            "type": "string",
            "description": "The identifier of the external identity."
          },
          "audiences": {
            "type": "array",
            "description": "The list of audiences that can appear in the issued token.",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "issuer",
          "subject",
          "audiences"
        ]
      },
      "FederatedIdentityCredentialsListResult": {
        "type": "object",
        "description": "Values returned by the List operation for federated identity credentials.",
        "properties": {
          "value": {
            "type": "array",
            "description": "The FederatedIdentityCredential items on this page",
            "items": {
              "$ref": "#/components/schemas/FederatedIdentityCredential"
            },
            "x-ms-identifiers": [
              "id"
            ]
          },
          "nextLink": {
            "type": "string",
            "format": "uri",
            "description": "The link to the next page of items"
          }
        },
        "required": [
          "value"
        ]
      },
      "Identity": {
        "type": "object",
        "description": "Describes an identity resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/UserAssignedIdentityProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/TrackedResource"
          }
        ]
      },
      "IdentityUpdate": {
        "type": "object",
        "description": "Describes an identity resource.",
        "properties": {
          "location": {
            "type": "string",
            "description": "The geo-location where the resource lives",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "tags": {
            "type": "object",
            "description": "Resource tags",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-mutability": [
              "read",
              "update",
              "create"
            ]
          },
          "properties": {
            "$ref": "#/components/schemas/UserAssignedIdentityProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ]
      },
      "IsolationScope": {
        "type": "string",
        "description": "Enum to configure regional restrictions on identity assignment, as necessary.",
        "enum": [
          "None",
          "Regional"
        ],
        "x-ms-enum": {
          "name": "IsolationScope",
          "modelAsString": true,
          "values": [
            {
              "name": "None",
              "value": "None"
            },
            {
              "name": "Regional",
              "value": "Regional"
            }
          ]
        }
      },
      "Operation": {
        "type": "object",
        "title": "Microsoft.ManagedIdentity Operation.",
        "description": "Details of a REST API operation, returned from the Resource Provider Operations API",
        "properties": {
          "name": {
            "type": "string",
            "title": "Operation Name.",
            "description": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Compute/virtualMachines/write\", \"Microsoft.Compute/virtualMachines/capture/action\""
          },
          "display": {
            "$ref": "#/components/schemas/OperationDisplay"
          }
        }
      },
      "OperationDisplay": {
        "type": "object",
        "title": "Operation Display.",
        "description": "Localized display information for and operation.",
        "properties": {
          "provider": {
            "type": "string",
            "title": "Resource Provider Name.",
            "description": "The localized friendly form of the resource provider name, e.g. \"Microsoft Monitoring Insights\" or \"Microsoft Compute\"."
          },
          "operation": {
            "type": "string",
            "title": "Operation Type.",
            "description": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Create or Update Virtual Machine\", \"Restart Virtual Machine\"."
          },
          "resource": {
            "type": "string",
            "title": "Resource Type.",
            "description": "The localized friendly name of the resource type related to this operation. E.g. \"Virtual Machines\" or \"Job Schedule Collections\"."
          },
          "description": {
            "type": "string",
            "title": "Operation description",
            "description": "The short, localized friendly description of the operation; suitable for tool tips and detailed views."
          }
        }
      },
      "OperationListResult": {
        "type": "object",
        "title": "Operations List.",
        "description": "A list of REST API operations supported by an Azure Resource Provider. It contains an URL link to get the next set of results.",
        "properties": {
          "value": {
            "type": "array",
            "title": "Operations List.",
            "description": "The Operation items on this page",
            "items": {
              "$ref": "#/components/schemas/Operation"
            },
            "x-ms-identifiers": [
              "name"
            ]
          },
          "nextLink": {
            "type": "string",
            "format": "uri",
            "title": "Next Link",
            "description": "The link to the next page of items"
          }
        },
        "required": [
          "value"
        ]
      },
      "SystemAssignedIdentity": {
        "type": "object",
        "description": "Describes a system assigned identity resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/SystemAssignedIdentityProperties"
          },
          "location": {
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-mutability": [
              "read",
              "update",
              "create"
            ]
          }
        },
        "required": [
          "location"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ]
      },
      "SystemAssignedIdentityProperties": {
        "type": "object",
        "title": "System Assigned Identity properties.",
        "description": "The properties associated with the system assigned identity.",
        "properties": {
          "tenantId": {
            "$ref": "#/components/schemas/Azure.Core.uuid"
          },
          "principalId": {
            "$ref": "#/components/schemas/Azure.Core.uuid"
          },
          "clientId": {
            "$ref": "#/components/schemas/Azure.Core.uuid"
          },
          "clientSecretUrl": {
            "type": "string",
            "description": "The ManagedServiceIdentity DataPlane URL that can be queried to obtain the identity credentials.",
            "readOnly": true
          }
        }
      },
      "UserAssignedIdentitiesListResult": {
        "type": "object",
        "description": "Values returned by the List operation.",
        "properties": {
          "value": {
            "type": "array",
            "description": "The Identity items on this page",
            "items": {
              "$ref": "#/components/schemas/Identity"
            }
          },
          "nextLink": {
            "type": "string",
            "format": "uri",
            "description": "The link to the next page of items"
          }
        },
        "required": [
          "value"
        ]
      },
      "UserAssignedIdentityProperties": {
        "type": "object",
        "title": "User Assigned Identity properties.",
        "description": "The properties associated with the user assigned identity.",
        "properties": {
          "tenantId": {
            "$ref": "#/components/schemas/Azure.Core.uuid"
          },
          "principalId": {
            "$ref": "#/components/schemas/Azure.Core.uuid"
          },
          "clientId": {
            "$ref": "#/components/schemas/Azure.Core.uuid"
          },
          "isolationScope": {
            "$ref": "#/components/schemas/IsolationScope"
          }
        }
      },
      "systemData": {
        "type": "object",
        "description": "Metadata pertaining to creation and last modification of the resource.",
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "The identity that created the resource."
          },
          "createdByType": {
            "type": "string",
            "description": "The type of identity that created the resource.",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ],
            "x-ms-enum": {
              "name": "createdByType",
              "modelAsString": true
            }
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of resource creation (UTC)."
          },
          "lastModifiedBy": {
            "type": "string",
            "description": "The identity that last modified the resource."
          },
          "lastModifiedByType": {
            "type": "string",
            "description": "The type of identity that last modified the resource.",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ],
            "x-ms-enum": {
              "name": "createdByType",
              "modelAsString": true
            }
          },
          "lastModifiedAt": {
            "type": "string",
            "description": "The timestamp of resource last modification (UTC)"
          }
        },
        "readOnly": true
      },
      "Resource": {
        "type": "object",
        "title": "Resource",
        "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
        "properties": {
          "id": {
            "type": "string",
            "format": "arm-id",
            "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The name of the resource",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
            "readOnly": true
          },
          "systemData": {
            "$ref": "#/components/schemas/systemData"
          }
        },
        "x-ms-azure-resource": true
      },
      "ProxyResource": {
        "type": "object",
        "title": "Proxy Resource",
        "description": "The resource model definition for a Azure Resource Manager proxy resource. It will not have tags and a location",
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ]
      },
      "TrackedResource": {
        "type": "object",
        "title": "Tracked Resource",
        "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
        "properties": {
          "tags": {
            "type": "object",
            "description": "Resource tags.",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-mutability": [
              "read",
              "create",
              "update"
            ]
          },
          "location": {
            "type": "string",
            "description": "The geo-location where the resource lives",
            "x-ms-mutability": [
              "read",
              "create"
            ]
          }
        },
        "required": [
          "location"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ]
      }
    }
  }
}
