{
  "openapi": "3.0.0",
  "info": {
    "title": "ServiceBusManagementClient",
    "description": "Azure Service Bus client for managing Namespace",
    "version": "2024-01-01"
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "NameSpaceList": {
        "value": {
          "value": [
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
              "name": "NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                "createdAt": "2016-08-23T02:40:17.27Z",
                "updatedAt": "2017-02-11T07:15:30.78Z",
                "serviceBusEndpoint": "https://NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20.servicebus.windows-int.net:443/",
                "minimumTlsVersion": "1.2",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-41dc63f4-0b08-4029-b3ef-535a131bfa65",
              "name": "NS-41dc63f4-0b08-4029-b3ef-535a131bfa65",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                "createdAt": "2016-08-23T03:50:38.98Z",
                "updatedAt": "2017-02-11T10:42:58.003Z",
                "serviceBusEndpoint": "https://NS-41dc63f4-0b08-4029-b3ef-535a131bfa65.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-df52cf51-e831-4bf2-bd92-e9885f68a996",
              "name": "NS-df52cf51-e831-4bf2-bd92-e9885f68a996",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-df52cf51-e831-4bf2-bd92-e9885f68a996",
                "createdAt": "2016-09-16T01:17:54.997Z",
                "updatedAt": "2017-02-11T06:44:39.737Z",
                "serviceBusEndpoint": "https://NS-df52cf51-e831-4bf2-bd92-e9885f68a996.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Premium",
                "tier": "Premium",
                "capacity": 1
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPremium",
              "name": "SBPremium",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Created",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbpremium",
                "createdAt": "2016-10-10T22:01:00.42Z",
                "updatedAt": "2016-10-10T22:01:00.42Z",
                "serviceBusEndpoint": "https://SBPremium.servicebus.windows-int.net:443/",
                "disableLocalAuth": false,
                "premiumMessagingPartitions": 1
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/sadfsadfsadf/providers/Microsoft.ServiceBus/namespaces/rrama-ns2",
              "name": "rrama-ns2",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ns2",
                "createdAt": "2016-08-23T04:14:00.013Z",
                "updatedAt": "2017-02-03T22:53:32.927Z",
                "serviceBusEndpoint": "https://rrama-ns2.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-20e57600-29d0-4035-ac85-74f4c54dcda1",
              "name": "NS-20e57600-29d0-4035-ac85-74f4c54dcda1",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-20e57600-29d0-4035-ac85-74f4c54dcda1",
                "createdAt": "2016-08-23T03:30:49.16Z",
                "updatedAt": "2017-02-11T04:17:58.483Z",
                "serviceBusEndpoint": "https://NS-20e57600-29d0-4035-ac85-74f4c54dcda1.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-3e538a1a-58fb-4315-b2ce-76f5c944114c",
              "name": "NS-3e538a1a-58fb-4315-b2ce-76f5c944114c",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                "createdAt": "2016-09-16T18:07:30.05Z",
                "updatedAt": "2017-02-11T10:42:57.747Z",
                "serviceBusEndpoint": "https://NS-3e538a1a-58fb-4315-b2ce-76f5c944114c.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Premium",
                "tier": "Premium",
                "capacity": 4
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/prem-ns123",
              "name": "prem-ns123",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Created",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:prem-ns123",
                "createdAt": "2016-09-13T00:02:39.997Z",
                "updatedAt": "2016-09-13T00:02:39.997Z",
                "serviceBusEndpoint": "https://prem-ns123.servicebus.windows-int.net:443/",
                "disableLocalAuth": false,
                "premiumMessagingPartitions": 2
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
              "name": "NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                "createdAt": "2016-09-16T01:01:58.73Z",
                "updatedAt": "2017-02-11T03:02:59.8Z",
                "serviceBusEndpoint": "https://NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
              "name": "NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                "createdAt": "2016-08-23T03:22:45.327Z",
                "updatedAt": "2017-02-11T06:08:01.207Z",
                "serviceBusEndpoint": "https://NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-c05e9df3-7737-44ee-a321-15f6e0545b97",
              "name": "NS-c05e9df3-7737-44ee-a321-15f6e0545b97",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-c05e9df3-7737-44ee-a321-15f6e0545b97",
                "createdAt": "2016-08-05T03:29:19.75Z",
                "updatedAt": "2017-02-11T08:10:35.527Z",
                "serviceBusEndpoint": "https://NS-c05e9df3-7737-44ee-a321-15f6e0545b97.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-dcb4152c-231b-4c16-a683-07cc6b38fa46",
              "name": "NS-dcb4152c-231b-4c16-a683-07cc6b38fa46",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                "createdAt": "2016-08-05T03:34:35.363Z",
                "updatedAt": "2017-02-11T05:33:00.957Z",
                "serviceBusEndpoint": "https://NS-dcb4152c-231b-4c16-a683-07cc6b38fa46.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-f501f5e6-1f24-439b-8982-9af665156d40",
              "name": "NS-f501f5e6-1f24-439b-8982-9af665156d40",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-f501f5e6-1f24-439b-8982-9af665156d40",
                "createdAt": "2016-09-16T01:25:55.707Z",
                "updatedAt": "2017-02-11T07:42:59.687Z",
                "serviceBusEndpoint": "https://NS-f501f5e6-1f24-439b-8982-9af665156d40.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
              "name": "NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                "createdAt": "2016-08-23T02:32:08.227Z",
                "updatedAt": "2017-02-11T06:32:57.77Z",
                "serviceBusEndpoint": "https://NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
              "name": "NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                "createdAt": "2016-09-16T00:54:05.103Z",
                "updatedAt": "2017-02-11T10:43:50.313Z",
                "serviceBusEndpoint": "https://NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6520cc09-01ac-40a3-bc09-c5c431116e92",
              "name": "NS-6520cc09-01ac-40a3-bc09-c5c431116e92",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6520cc09-01ac-40a3-bc09-c5c431116e92",
                "createdAt": "2016-09-16T01:49:59.243Z",
                "updatedAt": "2017-02-11T08:15:36.95Z",
                "serviceBusEndpoint": "https://NS-6520cc09-01ac-40a3-bc09-c5c431116e92.servicebus.windows-int.net:443",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-bfba6d5c-a425-42d9-85db-0f4da770e29a",
              "name": "NS-bfba6d5c-a425-42d9-85db-0f4da770e29a",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                "createdAt": "2016-08-05T03:23:32.083Z",
                "updatedAt": "2017-02-11T09:02:57.433Z",
                "serviceBusEndpoint": "https://NS-bfba6d5c-a425-42d9-85db-0f4da770e29a.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Premium",
                "tier": "Premium",
                "capacity": 1
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPrem",
              "name": "SBPrem",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Created",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbprem",
                "createdAt": "2016-10-10T22:16:30.87Z",
                "updatedAt": "2016-10-10T22:16:30.87Z",
                "serviceBusEndpoint": "https://SBPrem.servicebus.windows-int.net:443/",
                "disableLocalAuth": false,
                "premiumMessagingPartitions": 2
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-43b136b4-8716-40b2-97c5-0d77cac0062c",
              "name": "NS-43b136b4-8716-40b2-97c5-0d77cac0062c",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-43b136b4-8716-40b2-97c5-0d77cac0062c",
                "createdAt": "2016-08-23T03:14:50.577Z",
                "updatedAt": "2017-02-11T09:23:01.067Z",
                "serviceBusEndpoint": "https://NS-43b136b4-8716-40b2-97c5-0d77cac0062c.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7c0443de-5f88-450c-b574-83f60a097dd1",
              "name": "NS-7c0443de-5f88-450c-b574-83f60a097dd1",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7c0443de-5f88-450c-b574-83f60a097dd1",
                "createdAt": "2016-08-23T04:07:15.397Z",
                "updatedAt": "2017-02-11T04:03:03.097Z",
                "serviceBusEndpoint": "https://NS-7c0443de-5f88-450c-b574-83f60a097dd1.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-62dd7753-a5f9-42fd-a354-ca38a4505d69",
              "name": "NS-62dd7753-a5f9-42fd-a354-ca38a4505d69",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                "createdAt": "2016-09-16T01:33:50.45Z",
                "updatedAt": "2017-02-11T05:35:33.053Z",
                "serviceBusEndpoint": "https://NS-62dd7753-a5f9-42fd-a354-ca38a4505d69.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ae18a18c-97ab-4089-965d-8acbf4794091",
              "name": "NS-ae18a18c-97ab-4089-965d-8acbf4794091",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ae18a18c-97ab-4089-965d-8acbf4794091",
                "createdAt": "2016-08-23T02:43:36.517Z",
                "updatedAt": "2017-02-11T12:40:30.587Z",
                "serviceBusEndpoint": "https://NS-ae18a18c-97ab-4089-965d-8acbf4794091.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
              "name": "NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                "createdAt": "2016-09-16T00:46:03.773Z",
                "updatedAt": "2017-02-11T04:43:54.56Z",
                "serviceBusEndpoint": "https://NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
              "name": "NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                "createdAt": "2016-08-23T03:59:12.1Z",
                "updatedAt": "2017-02-11T06:33:52.23Z",
                "serviceBusEndpoint": "https://NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d9337efd-9b27-454c-b2a5-dcfea56920d9",
              "name": "NS-d9337efd-9b27-454c-b2a5-dcfea56920d9",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                "createdAt": "2016-08-05T03:45:09.27Z",
                "updatedAt": "2017-02-11T06:20:31.863Z",
                "serviceBusEndpoint": "https://NS-d9337efd-9b27-454c-b2a5-dcfea56920d9.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
              "name": "NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                "createdAt": "2016-08-23T02:34:36.447Z",
                "updatedAt": "2017-02-11T06:15:31.607Z",
                "serviceBusEndpoint": "https://NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d447fb03-c7da-40fe-b5eb-14f36888837b",
              "name": "NS-d447fb03-c7da-40fe-b5eb-14f36888837b",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d447fb03-c7da-40fe-b5eb-14f36888837b",
                "createdAt": "2016-08-05T00:53:46.697Z",
                "updatedAt": "2017-02-11T11:09:41.26Z",
                "serviceBusEndpoint": "https://NS-d447fb03-c7da-40fe-b5eb-14f36888837b.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/ReproSB",
              "name": "ReproSB",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:reprosb",
                "createdAt": "2017-02-27T19:29:34.523Z",
                "updatedAt": "2017-02-27T19:29:58.64Z",
                "serviceBusEndpoint": "https://ReproSB.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4c90097f-19a8-42e7-bb3c-4ac088994719",
              "name": "NS-4c90097f-19a8-42e7-bb3c-4ac088994719",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4c90097f-19a8-42e7-bb3c-4ac088994719",
                "createdAt": "2016-09-16T17:35:32.61Z",
                "updatedAt": "2017-02-11T09:13:52.27Z",
                "serviceBusEndpoint": "https://NS-4c90097f-19a8-42e7-bb3c-4ac088994719.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-1-23-17",
              "name": "rrama-1-23-17",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-1-23-17",
                "createdAt": "2017-01-23T22:54:40.907Z",
                "updatedAt": "2017-02-04T00:53:28.777Z",
                "serviceBusEndpoint": "https://rrama-1-23-17.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
              "name": "NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                "createdAt": "2016-09-16T17:43:25.71Z",
                "updatedAt": "2017-02-11T11:05:31.89Z",
                "serviceBusEndpoint": "https://NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-be903820-3533-46e8-90e4-72c132411848",
              "name": "NS-be903820-3533-46e8-90e4-72c132411848",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-be903820-3533-46e8-90e4-72c132411848",
                "createdAt": "2016-08-05T03:24:01.923Z",
                "updatedAt": "2017-02-11T10:09:42.513Z",
                "serviceBusEndpoint": "https://NS-be903820-3533-46e8-90e4-72c132411848.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-namespace1",
              "name": "rrama-namespace1",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Created",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-namespace1",
                "createdAt": "2016-08-05T00:47:22.963Z",
                "updatedAt": "2016-08-05T00:47:27.297Z",
                "serviceBusEndpoint": "https://rrama-namespace1.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
              "name": "NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                "createdAt": "2016-09-16T00:38:02.517Z",
                "updatedAt": "2017-02-11T05:03:55.96Z",
                "serviceBusEndpoint": "https://NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
              "name": "NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                "createdAt": "2016-08-23T03:42:40.01Z",
                "updatedAt": "2017-02-11T06:33:02.363Z",
                "serviceBusEndpoint": "https://NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
              "name": "NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                "createdAt": "2016-08-05T04:28:10.71Z",
                "updatedAt": "2017-02-11T08:43:51.587Z",
                "serviceBusEndpoint": "https://NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
              "name": "sdk-Namespace-2924",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {
                "tag1": "value1",
                "tag2": "value2"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                "createdAt": "2017-05-25T22:26:36.76Z",
                "updatedAt": "2017-05-25T22:26:59.35Z",
                "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-sb1",
              "name": "rrama-sb1",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-sb1",
                "createdAt": "2017-05-01T21:47:34.903Z",
                "updatedAt": "2017-05-02T02:10:03.083Z",
                "serviceBusEndpoint": "https://rrama-sb1.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/WhackWhack",
              "name": "WhackWhack",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:whackwhack",
                "createdAt": "2016-10-10T23:39:01.347Z",
                "updatedAt": "2017-02-04T00:56:32.687Z",
                "serviceBusEndpoint": "https://WhackWhack.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
              "name": "NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                "createdAt": "2016-09-16T17:51:27.73Z",
                "updatedAt": "2017-02-11T08:19:43.383Z",
                "serviceBusEndpoint": "https://NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
              "name": "NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                "createdAt": "2016-08-05T01:14:25.613Z",
                "updatedAt": "2017-02-11T12:33:01.727Z",
                "serviceBusEndpoint": "https://NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo1",
              "name": "bn3-rrama-foo1",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "East US 2",
              "tags": {},
              "properties": {
                "provisioningState": "Created",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo1",
                "createdAt": "2017-04-28T23:54:26.927Z",
                "updatedAt": "2017-04-28T23:54:26.927Z",
                "serviceBusEndpoint": "https://bn3-rrama-foo1.servicebus.int7.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo3",
              "name": "bn3-rrama-foo3",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "East US 2",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo3",
                "createdAt": "2017-04-29T00:24:09.907Z",
                "updatedAt": "2017-04-29T00:24:33.233Z",
                "serviceBusEndpoint": "https://bn3-rrama-foo3.servicebus.int7.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo2",
              "name": "bn3-rrama-foo2",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "East US 2",
              "tags": {},
              "properties": {
                "provisioningState": "Created",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo2",
                "createdAt": "2017-04-28T23:57:40.82Z",
                "updatedAt": "2017-04-28T23:57:40.82Z",
                "serviceBusEndpoint": "https://bn3-rrama-foo2.servicebus.int7.windows-int.net:443/",
                "disableLocalAuth": false
              }
            },
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/db3-rrama-foo2",
              "name": "db3-rrama-foo2",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "North Europe",
              "tags": {},
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:db3-rrama-foo2",
                "createdAt": "2017-04-29T00:10:43.463Z",
                "updatedAt": "2017-04-29T00:11:09.133Z",
                "serviceBusEndpoint": "https://db3-rrama-foo2.servicebus.int7.windows-int.net:443/",
                "disableLocalAuth": false
              }
            }
          ]
        }
      },
      "NameSpaceListByResourceGroup": {
        "value": {
          "value": [
            {
              "sku": {
                "name": "Standard",
                "tier": "Standard"
              },
              "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
              "name": "sdk-Namespace-2924",
              "type": "Microsoft.ServiceBus/Namespaces",
              "location": "South Central US",
              "tags": {
                "tag1": "value1",
                "tag2": "value2"
              },
              "properties": {
                "provisioningState": "Succeeded",
                "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                "createdAt": "2017-05-25T22:26:36.76Z",
                "updatedAt": "2017-05-25T22:26:59.35Z",
                "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                "disableLocalAuth": false
              }
            }
          ]
        }
      },
      "NameSpaceCreate": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/SDK-ServiceBus-7182/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5705-new/privateEndpointConnections/5dc668b3-70e4-437f-b61c-a3c1e594be7a",
              "name": "5dc668b3-70e4-437f-b61c-a3c1e594be7a",
              "type": "Microsoft.ServiceBus/Namespaces/PrivateEndpointConnections",
              "properties": {
                "provisioningState": "Succeeded",
                "privateEndpoint": {
                  "id": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/SDK-ServiceBus-7182/providers/Microsoft.Network/privateEndpoints/sdk-Namespace-5705-new"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Auto-Approved"
                }
              }
            }
          ]
        }
      },
      "NameSpaceGet": {
        "value": {
          "sku": {
            "name": "Standard",
            "tier": "Standard"
          },
          "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
          "name": "sdk-Namespace-2924",
          "type": "Microsoft.ServiceBus/Namespaces",
          "location": "South Central US",
          "tags": {
            "tag1": "value1",
            "tag2": "value2"
          },
          "properties": {
            "provisioningState": "Succeeded",
            "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
            "createdAt": "2017-05-25T22:26:36.76Z",
            "updatedAt": "2017-05-25T22:26:59.35Z",
            "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
            "minimumTlsVersion": "1.2",
            "disableLocalAuth": false,
            "privateEndpointConnections": [
              {
                "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample/privateEndpointConnections/privateEndpointConnectionName",
                "name": "privateEndpointConnectionName",
                "type": "Microsoft.EventHub/Namespaces/PrivateEndpointConnections",
                "properties": {
                  "provisioningState": "Succeeded",
                  "privateEndpoint": {
                    "id": "/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.Network/privateEndpoints/NamespaceSample"
                  },
                  "privateLinkServiceConnectionState": {
                    "status": "Approved",
                    "description": "Auto-Approved"
                  }
                }
              }
            ]
          }
        }
      },
      "NameSpaceUpdate": {
        "value": {
          "sku": {
            "name": "Standard",
            "tier": "Standard"
          },
          "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-3285",
          "name": "sdk-Namespace-3285",
          "type": "Microsoft.ServiceBus/Namespaces",
          "location": "South Central US",
          "tags": {
            "tag3": "value3",
            "tag4": "value4"
          },
          "properties": {
            "provisioningState": "Updating",
            "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3285",
            "createdAt": "2017-05-25T23:07:58.17Z",
            "updatedAt": "2017-05-25T23:08:45.497Z",
            "serviceBusEndpoint": "https://sdk-Namespace-3285.servicebus.windows-int.net:443/",
            "disableLocalAuth": false
          }
        }
      },
      "NameSpacePrivateEndPointConnectionCreate": {
        "value": {
          "id": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/SDK-ServiceBus-4794/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5828/privateEndpointConnections/928c44d5-b7c6-423b-b6fa-811e0c27b3e0",
          "name": "928c44d5-b7c6-423b-b6fa-811e0c27b3e0",
          "type": "Microsoft.ServiceBus/Namespaces/PrivateEndpointConnections",
          "properties": {
            "provisioningState": "Succeeded",
            "privateEndpoint": {
              "id": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/SDK-ServiceBus-4794/providers/Microsoft.Network/privateEndpoints/sdk-Namespace-5828"
            },
            "privateLinkServiceConnectionState": {
              "status": "Approved",
              "description": "Auto-Approved"
            }
          }
        }
      },
      "NameSpacePrivateEndPointConnectionGet": {
        "value": {
          "id": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/SDK-ServiceBus-4794/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5828/privateEndpointConnections/privateEndpointConnectionName",
          "name": "privateEndpointConnectionName",
          "type": "Microsoft.ServiceBus/Namespaces/PrivateEndpointConnections",
          "properties": {
            "provisioningState": "Succeeded",
            "privateEndpoint": {
              "id": "/subscriptions/dbedb4e0-40e6-4145-81f3-f1314c150774/resourceGroups/SDK-ServiceBus-4794/providers/Microsoft.Network/privateEndpoints/sdk-Namespace-5828"
            },
            "privateLinkServiceConnectionState": {
              "status": "Approved",
              "description": "Auto-Approved"
            }
          }
        }
      },
      "NameSpacePrivateLinkResourcesGet": {
        "value": {
          "value": [
            {
              "id": "subscriptions/subID/resourceGroups/SDK-ServiceBus-4794/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5828/privateLinkResources/namespace",
              "name": "namespace",
              "type": "Microsoft.ServiceBus/namespaces/privateLinkResources",
              "properties": {
                "groupId": "namespace",
                "requiredMembers": [
                  "namespace"
                ],
                "requiredZoneNames": [
                  "privatelink.servicebus.windows.net"
                ]
              }
            }
          ]
        }
      }
    },
    "parameters": {
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "The API version to use for this operation.",
        "required": true,
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "NameSpaceList": {
            "value": "2024-01-01"
          },
          "NameSpaceListByResourceGroup": {
            "value": "2024-01-01"
          },
          "NameSpaceCreate": {
            "value": "2024-01-01"
          },
          "NameSpaceDelete": {
            "value": "2024-01-01"
          },
          "NameSpaceGet": {
            "value": "2024-01-01"
          },
          "NameSpaceUpdate": {
            "value": "2024-01-01"
          },
          "NameSpacePrivateEndPointConnectionCreate": {
            "value": "2024-01-01"
          },
          "NameSpacePrivateEndPointConnectionDelete": {
            "value": "2024-01-01"
          },
          "NameSpacePrivateEndPointConnectionGet": {
            "value": "2024-01-01"
          },
          "NameSpacePrivateLinkResourcesGet": {
            "value": "2024-01-01"
          }
        }
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "NameSpaceList": {
            "value": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
          },
          "NameSpaceListByResourceGroup": {
            "value": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
          },
          "NameSpaceCreate": {
            "value": "subID"
          },
          "NameSpaceDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "NameSpaceGet": {
            "value": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
          },
          "NameSpaceUpdate": {
            "value": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
          },
          "NameSpacePrivateEndPointConnectionCreate": {
            "value": "subID"
          },
          "NameSpacePrivateEndPointConnectionDelete": {
            "value": "00000000-0000-0000-0000-000000000000"
          },
          "NameSpacePrivateEndPointConnectionGet": {
            "value": "subID"
          },
          "NameSpacePrivateLinkResourcesGet": {
            "value": "subID"
          }
        }
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "description": "The name of the resource group. The name is case insensitive.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 90
        },
        "examples": {
          "NameSpaceListByResourceGroup": {
            "value": "ArunMonocle"
          },
          "NameSpaceCreate": {
            "value": "SDK-ServiceBus-4794"
          },
          "NameSpaceDelete": {
            "value": "ArunMonocle"
          },
          "NameSpaceGet": {
            "value": "ArunMonocle"
          },
          "NameSpaceUpdate": {
            "value": "ArunMonocle"
          },
          "NameSpacePrivateEndPointConnectionCreate": {
            "value": "ArunMonocle"
          },
          "NameSpacePrivateEndPointConnectionDelete": {
            "value": "ArunMonocle"
          },
          "NameSpacePrivateEndPointConnectionGet": {
            "value": "SDK-ServiceBus-4794"
          },
          "NameSpacePrivateLinkResourcesGet": {
            "value": "ArunMonocle"
          }
        }
      },
      "NamespaceNameParameter": {
        "name": "namespaceName",
        "in": "path",
        "required": true,
        "x-ms-parameter-location": "method",
        "description": "The namespace name",
        "schema": {
          "type": "string",
          "minLength": 6,
          "maxLength": 50
        },
        "examples": {
          "NameSpaceDelete": {
            "value": "sdk-Namespace-3285"
          },
          "NameSpaceGet": {
            "value": "sdk-Namespace-2924"
          },
          "NameSpaceUpdate": {
            "value": "sdk-Namespace-3285"
          },
          "NameSpaceCreate": {
            "value": "sdk-Namespace-5828"
          },
          "NameSpacePrivateEndPointConnectionCreate": {
            "value": "sdk-Namespace-2924"
          },
          "NameSpacePrivateEndPointConnectionDelete": {
            "value": "sdk-Namespace-3285"
          },
          "NameSpacePrivateEndPointConnectionGet": {
            "value": "sdk-Namespace-5828"
          },
          "NameSpacePrivateLinkResourcesGet": {
            "value": "sdk-Namespace-2924"
          }
        }
      },
      "PrivateEndpointConnectionNameParameter": {
        "name": "privateEndpointConnectionName",
        "in": "path",
        "required": true,
        "x-ms-parameter-location": "method",
        "description": "The PrivateEndpointConnection name",
        "schema": {
          "type": "string"
        },
        "examples": {
          "NameSpacePrivateEndPointConnectionCreate": {
            "value": "privateEndpointConnectionName"
          },
          "NameSpacePrivateEndPointConnectionDelete": {
            "value": "928c44d5-b7c6-423b-b6fa-811e0c27b3e0"
          },
          "NameSpacePrivateEndPointConnectionGet": {
            "value": "privateEndpointConnectionName"
          }
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "ResourceNamespacePatch": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "description": "Resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The Resource definition."
      },
      "SBNamespaceListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SBNamespace"
            },
            "description": "Result of the List Namespace operation."
          },
          "nextLink": {
            "type": "string",
            "description": "Link to the next set of results. Not empty if Value contains incomplete list of Namespaces."
          }
        },
        "description": "The response of the List Namespace operation."
      },
      "SBNamespace": {
        "type": "object",
        "properties": {
          "sku": {
            "$ref": "#/components/schemas/SBSku"
          },
          "identity": {
            "$ref": "#/components/schemas/Identity"
          },
          "systemData": {
            "$ref": "#/components/schemas/systemData"
          },
          "properties": {
            "$ref": "#/components/schemas/SBNamespaceProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/TrackedResource"
          }
        ],
        "description": "Description of a namespace resource."
      },
      "SBNamespaceUpdateParameters": {
        "type": "object",
        "properties": {
          "sku": {
            "$ref": "#/components/schemas/SBSku"
          },
          "properties": {
            "$ref": "#/components/schemas/SBNamespaceUpdateProperties"
          },
          "identity": {
            "$ref": "#/components/schemas/Identity"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/ResourceNamespacePatch"
          }
        ],
        "description": "Description of a namespace resource."
      },
      "SBNamespaceProperties": {
        "type": "object",
        "properties": {
          "minimumTlsVersion": {
            "type": "string",
            "description": "The minimum TLS version for the cluster to support, e.g. '1.2'",
            "enum": [
              "1.0",
              "1.1",
              "1.2"
            ],
            "x-ms-enum": {
              "name": "TlsVersion",
              "modelAsString": true
            }
          },
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "Provisioning state of the namespace."
          },
          "status": {
            "readOnly": true,
            "type": "string",
            "description": "Status of the namespace."
          },
          "createdAt": {
            "readOnly": true,
            "type": "string",
            "description": "The time the namespace was created"
          },
          "updatedAt": {
            "readOnly": true,
            "type": "string",
            "description": "The time the namespace was updated."
          },
          "serviceBusEndpoint": {
            "readOnly": true,
            "type": "string",
            "description": "Endpoint you can use to perform Service Bus operations."
          },
          "metricId": {
            "readOnly": true,
            "type": "string",
            "description": "Identifier for Azure Insights metrics"
          },
          "zoneRedundant": {
            "type": "boolean",
            "description": "This property reflects if zone redundancy has been enabled for namespaces in regions that support availability zones.",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "encryption": {
            "$ref": "#/components/schemas/Encryption"
          },
          "privateEndpointConnections": {
            "description": "List of private endpoint connections.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrivateEndpointConnection"
            }
          },
          "disableLocalAuth": {
            "type": "boolean",
            "description": "This property disables SAS authentication for the Service Bus namespace."
          },
          "alternateName": {
            "type": "string",
            "description": "Alternate name for namespace"
          },
          "publicNetworkAccess": {
            "description": "This determines if traffic is allowed over public network. By default it is enabled.",
            "enum": [
              "Enabled",
              "Disabled",
              "SecuredByPerimeter"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "PublicNetworkAccess",
              "modelAsString": true
            },
            "default": "Enabled"
          },
          "premiumMessagingPartitions": {
            "format": "int32",
            "type": "integer",
            "description": "The number of partitions of a Service Bus namespace. This property is only applicable to Premium SKU namespaces. The default value is 1 and possible values are 1, 2 and 4"
          }
        },
        "description": "Properties of the namespace."
      },
      "SBNamespaceUpdateProperties": {
        "type": "object",
        "properties": {
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "Provisioning state of the namespace."
          },
          "status": {
            "readOnly": true,
            "type": "string",
            "description": "Status of the namespace."
          },
          "createdAt": {
            "readOnly": true,
            "type": "string",
            "description": "The time the namespace was created"
          },
          "updatedAt": {
            "readOnly": true,
            "type": "string",
            "description": "The time the namespace was updated."
          },
          "serviceBusEndpoint": {
            "readOnly": true,
            "type": "string",
            "description": "Endpoint you can use to perform Service Bus operations."
          },
          "metricId": {
            "readOnly": true,
            "type": "string",
            "description": "Identifier for Azure Insights metrics"
          },
          "encryption": {
            "$ref": "#/components/schemas/Encryption"
          },
          "privateEndpointConnections": {
            "description": "List of private endpoint connections.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrivateEndpointConnection"
            }
          },
          "disableLocalAuth": {
            "type": "boolean",
            "description": "This property disables SAS authentication for the Service Bus namespace."
          },
          "alternateName": {
            "type": "string",
            "description": "Alternate name for namespace"
          }
        },
        "description": "Properties of the namespace."
      },
      "SBSku": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of this SKU.",
            "enum": [
              "Basic",
              "Standard",
              "Premium"
            ],
            "x-ms-enum": {
              "name": "SkuName",
              "modelAsString": false
            }
          },
          "tier": {
            "type": "string",
            "description": "The billing tier of this particular SKU.",
            "enum": [
              "Basic",
              "Standard",
              "Premium"
            ],
            "x-ms-enum": {
              "name": "SkuTier",
              "modelAsString": false
            }
          },
          "capacity": {
            "format": "int32",
            "type": "integer",
            "description": "Messaging units for your service bus premium namespace. Valid capacities are {1, 2, 4, 8, 16} multiples of your properties.premiumMessagingPartitions setting. For example, If properties.premiumMessagingPartitions is 1 then possible capacity values are 1, 2, 4, 8, and 16. If properties.premiumMessagingPartitions is 4 then possible capacity values are 4, 8, 16, 32 and 64"
          }
        },
        "required": [
          "name"
        ],
        "description": "SKU of the namespace."
      },
      "Identity": {
        "type": "object",
        "x-ms-client-flatten": true,
        "properties": {
          "principalId": {
            "type": "string",
            "description": "ObjectId from the KeyVault",
            "readOnly": true
          },
          "tenantId": {
            "type": "string",
            "description": "TenantId from the KeyVault",
            "readOnly": true
          },
          "type": {
            "description": "Type of managed service identity.",
            "enum": [
              "SystemAssigned",
              "UserAssigned",
              "SystemAssigned, UserAssigned",
              "None"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "ManagedServiceIdentityType",
              "modelAsString": false
            }
          },
          "userAssignedIdentities": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/UserAssignedIdentity"
            },
            "description": "Properties for User Assigned Identities"
          }
        },
        "description": "Properties to configure User Assigned Identities for Bring your Own Keys"
      },
      "UserAssignedIdentity": {
        "description": "Recognized Dictionary value.",
        "type": "object",
        "properties": {
          "principalId": {
            "description": "Principal Id of user assigned identity",
            "type": "string",
            "x-ms-client-name": "PrincipalId",
            "readOnly": true
          },
          "clientId": {
            "description": "Client Id of user assigned identity",
            "type": "string",
            "x-ms-client-name": "ClientId",
            "readOnly": true
          }
        }
      },
      "Encryption": {
        "type": "object",
        "x-ms-client-flatten": true,
        "properties": {
          "keyVaultProperties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyVaultProperties"
            },
            "x-ms-client-name": "KeyVaultProperties",
            "description": "Properties of KeyVault"
          },
          "keySource": {
            "type": "string",
            "description": "Enumerates the possible value of keySource for Encryption",
            "default": "Microsoft.KeyVault",
            "enum": [
              "Microsoft.KeyVault"
            ],
            "x-ms-enum": {
              "name": "keySource",
              "modelAsString": false
            }
          },
          "requireInfrastructureEncryption": {
            "type": "boolean",
            "description": "Enable Infrastructure Encryption (Double Encryption)"
          }
        },
        "description": "Properties to configure Encryption"
      },
      "KeyVaultProperties": {
        "type": "object",
        "properties": {
          "keyName": {
            "type": "string",
            "description": "Name of the Key from KeyVault"
          },
          "keyVaultUri": {
            "type": "string",
            "description": "Uri of KeyVault"
          },
          "keyVersion": {
            "type": "string",
            "description": "Version of KeyVault"
          },
          "identity": {
            "$ref": "#/components/schemas/userAssignedIdentityProperties"
          }
        },
        "description": "Properties to configure keyVault Properties"
      },
      "PrivateEndpointConnection": {
        "type": "object",
        "description": "Properties of the PrivateEndpointConnection.",
        "allOf": [
          {
            "$ref": "#/components/schemas/ProxyResource"
          }
        ],
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PrivateEndpointConnectionProperties"
          },
          "systemData": {
            "$ref": "#/components/schemas/systemData"
          }
        }
      },
      "PrivateEndpointConnectionProperties": {
        "type": "object",
        "description": "Properties of the private endpoint connection resource.",
        "properties": {
          "privateEndpoint": {
            "$ref": "#/components/schemas/PrivateEndpoint"
          },
          "privateLinkServiceConnectionState": {
            "$ref": "#/components/schemas/ConnectionState"
          },
          "provisioningState": {
            "description": "Provisioning state of the Private Endpoint Connection.",
            "enum": [
              "Creating",
              "Updating",
              "Deleting",
              "Succeeded",
              "Canceled",
              "Failed"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "EndPointProvisioningState",
              "modelAsString": true
            }
          }
        }
      },
      "PrivateEndpoint": {
        "type": "object",
        "description": "PrivateEndpoint information.",
        "properties": {
          "id": {
            "description": "The ARM identifier for Private Endpoint.",
            "type": "string"
          }
        }
      },
      "ConnectionState": {
        "type": "object",
        "description": "ConnectionState information.",
        "properties": {
          "status": {
            "description": "Status of the connection.",
            "enum": [
              "Pending",
              "Approved",
              "Rejected",
              "Disconnected"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "PrivateLinkConnectionStatus",
              "modelAsString": true
            }
          },
          "description": {
            "description": "Description of the connection state.",
            "type": "string"
          }
        }
      },
      "PrivateEndpointConnectionListResult": {
        "type": "object",
        "description": "Result of the list of all private endpoint connections operation.",
        "properties": {
          "value": {
            "description": "A collection of private endpoint connection resources.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrivateEndpointConnection"
            }
          },
          "nextLink": {
            "description": "A link for the next page of private endpoint connection resources.",
            "type": "string"
          }
        }
      },
      "PrivateLinkResource": {
        "type": "object",
        "description": "Information of the private link resource.",
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/PrivateLinkResourceProperties"
          },
          "id": {
            "description": "Fully qualified identifier of the resource.",
            "type": "string"
          },
          "name": {
            "description": "Name of the resource",
            "type": "string"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string"
          }
        }
      },
      "PrivateLinkResourceProperties": {
        "type": "object",
        "description": "Properties of PrivateLinkResource",
        "properties": {
          "groupId": {
            "type": "string"
          },
          "requiredMembers": {
            "type": "array",
            "description": "Required Members",
            "items": {
              "type": "string"
            }
          },
          "requiredZoneNames": {
            "type": "array",
            "description": "Required Zone Names",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PrivateLinkResourcesListResult": {
        "type": "object",
        "description": "Result of the List private link resources operation.",
        "properties": {
          "value": {
            "description": "A collection of private link resources",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrivateLinkResource"
            }
          },
          "nextLink": {
            "description": "A link for the next page of private link resources.",
            "type": "string"
          }
        }
      },
      "userAssignedIdentityProperties": {
        "type": "object",
        "x-ms-client-flatten": true,
        "properties": {
          "userAssignedIdentity": {
            "type": "string",
            "description": "ARM ID of user Identity selected for encryption"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "The error object.",
            "properties": {
              "code": {
                "readOnly": true,
                "type": "string",
                "description": "The error code."
              },
              "message": {
                "readOnly": true,
                "type": "string",
                "description": "The error message."
              },
              "target": {
                "readOnly": true,
                "type": "string",
                "description": "The error target."
              },
              "details": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "description": "The error details."
              },
              "additionalInfo": {
                "readOnly": true,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ErrorAdditionalInfo"
                },
                "description": "The error additional info."
              }
            }
          }
        },
        "description": "The resource management error response."
      },
      "ErrorAdditionalInfo": {
        "type": "object",
        "properties": {
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The additional info type."
          },
          "info": {
            "readOnly": true,
            "type": "object",
            "description": "The additional info."
          }
        },
        "description": "The resource management error additional info."
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource type"
          }
        },
        "x-ms-azure-resource": true,
        "description": "The Resource definition for other than namespace."
      },
      "TrackedResource": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "x-ms-mutability": [
              "read",
              "create"
            ],
            "description": "The Geo-location where the resource lives"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-mutability": [
              "read",
              "create",
              "update"
            ],
            "description": "Resource tags"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "required": [
          "location"
        ],
        "description": "The Resource definition."
      },
      "systemData": {
        "description": "Metadata pertaining to creation and last modification of the resource.",
        "type": "object",
        "readOnly": true,
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "The identity that created the resource."
          },
          "createdByType": {
            "type": "string",
            "description": "The type of identity that created the resource.",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ],
            "x-ms-enum": {
              "name": "createdByType",
              "modelAsString": true
            }
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of resource creation (UTC)."
          },
          "lastModifiedBy": {
            "type": "string",
            "description": "The identity that last modified the resource."
          },
          "lastModifiedByType": {
            "type": "string",
            "description": "The type of identity that last modified the resource.",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ],
            "x-ms-enum": {
              "name": "createdByType",
              "modelAsString": true
            }
          },
          "lastModifiedAt": {
            "type": "string",
            "description": "The type of identity that last modified the resource."
          }
        }
      },
      "ProxyResource": {
        "title": "Resource",
        "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
        "type": "object",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the resource"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The type of the resource. E.g. \"Microsoft.EventHub/Namespaces\" or \"Microsoft.EventHub/Namespaces/EventHubs\""
          },
          "location": {
            "type": "string",
            "readOnly": true,
            "description": "The geo-location where the resource lives"
          }
        },
        "x-ms-azure-resource": true
      }
    }
  }
}
