{
  "openapi": "3.0.0",
  "info": {
    "version": "2024-01-01",
    "title": "StorageManagementClient",
    "description": "The Azure Storage Management API."
  },
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "paths": {},
  "servers": [
    {
      "url": "https://management.azure.com"
    }
  ],
  "components": {
    "examples": {
      "TableServicesList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/tableServices/default",
              "name": "default",
              "type": "Microsoft.Storage/storageAccounts/tableServices",
              "properties": {
                "cors": {
                  "corsRules": [
                    {
                      "allowedOrigins": ["http://www.contoso.com", "http://www.fabrikam.com"],
                      "allowedMethods": ["GET", "HEAD", "POST", "OPTIONS", "MERGE", "PUT"],
                      "maxAgeInSeconds": 100,
                      "exposedHeaders": ["x-ms-meta-*"],
                      "allowedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"]
                    },
                    {
                      "allowedOrigins": ["*"],
                      "allowedMethods": ["GET"],
                      "maxAgeInSeconds": 2,
                      "exposedHeaders": ["*"],
                      "allowedHeaders": ["*"]
                    },
                    {
                      "allowedOrigins": ["http://www.abc23.com", "https://www.fabrikam.com/*"],
                      "allowedMethods": ["GET", "PUT"],
                      "maxAgeInSeconds": 2000,
                      "exposedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"],
                      "allowedHeaders": ["x-ms-meta-12345675754564*"]
                    }
                  ]
                }
              }
            }
          ]
        }
      },
      "TableServicesPut": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/tableServices/default",
          "name": "default",
          "type": "Microsoft.Storage/storageAccounts/tableServices",
          "properties": {
            "cors": {
              "corsRules": [
                {
                  "allowedOrigins": ["http://www.contoso.com", "http://www.fabrikam.com"],
                  "allowedMethods": ["GET", "HEAD", "POST", "OPTIONS", "MERGE", "PUT"],
                  "maxAgeInSeconds": 100,
                  "exposedHeaders": ["x-ms-meta-*"],
                  "allowedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"]
                },
                {
                  "allowedOrigins": ["*"],
                  "allowedMethods": ["GET"],
                  "maxAgeInSeconds": 2,
                  "exposedHeaders": ["*"],
                  "allowedHeaders": ["*"]
                },
                {
                  "allowedOrigins": ["http://www.abc23.com", "https://www.fabrikam.com/*"],
                  "allowedMethods": ["GET", "PUT"],
                  "maxAgeInSeconds": 2000,
                  "exposedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"],
                  "allowedHeaders": ["x-ms-meta-12345675754564*"]
                }
              ]
            }
          }
        }
      },
      "TableServicesGet": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/res4410/providers/Microsoft.Storage/storageAccounts/sto8607/tableServices/default",
          "name": "default",
          "type": "Microsoft.Storage/storageAccounts/tableServices",
          "properties": {
            "cors": {
              "corsRules": [
                {
                  "allowedOrigins": ["http://www.contoso.com", "http://www.fabrikam.com"],
                  "allowedMethods": ["GET", "HEAD", "POST", "OPTIONS", "MERGE", "PUT"],
                  "maxAgeInSeconds": 100,
                  "exposedHeaders": ["x-ms-meta-*"],
                  "allowedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"]
                },
                {
                  "allowedOrigins": ["*"],
                  "allowedMethods": ["GET"],
                  "maxAgeInSeconds": 2,
                  "exposedHeaders": ["*"],
                  "allowedHeaders": ["*"]
                },
                {
                  "allowedOrigins": ["http://www.abc23.com", "https://www.fabrikam.com/*"],
                  "allowedMethods": ["GET", "PUT"],
                  "maxAgeInSeconds": 2000,
                  "exposedHeaders": ["x-ms-meta-abc", "x-ms-meta-data*", "x-ms-meta-target*"],
                  "allowedHeaders": ["x-ms-meta-12345675754564*"]
                }
              ]
            }
          }
        }
      },
      "TableOperationPut": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables/table6185",
          "name": "table6185",
          "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
          "properties": {
            "tableName": "table6185"
          }
        }
      },
      "TableOperationPutOrPatchAcls": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables/table6185",
          "name": "table6185",
          "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
          "properties": {
            "tableName": "table6185",
            "signedIdentifiers": [
              {
                "id": "MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTI",
                "accessPolicy": {
                  "startTime": "2022-03-17T08:49:37.0000000Z",
                  "expiryTime": "2022-03-20T08:49:37.0000000Z",
                  "permission": "raud"
                }
              },
              {
                "id": "PTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODklMTI",
                "accessPolicy": {
                  "startTime": "2022-03-17T08:49:37.0000000Z",
                  "expiryTime": "2022-03-20T08:49:37.0000000Z",
                  "permission": "rad"
                }
              }
            ]
          }
        }
      },
      "TableOperationPatch": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables/table6185",
          "name": "table6185",
          "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
          "properties": {
            "tableName": "table6185"
          }
        }
      },
      "TableOperationGet": {
        "value": {
          "id": "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables/table6185",
          "name": "table6185",
          "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
          "properties": {
            "tableName": "table6185"
          }
        }
      },
      "TableOperationList": {
        "value": {
          "value": [
            {
              "id": "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables/table6185",
              "name": "table6185",
              "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
              "properties": {
                "tableName": "table6185"
              }
            },
            {
              "id": "/subscriptions/{subscription-id}/resourceGroups/res3376/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables/table6186",
              "name": "table6186",
              "type": "Microsoft.Storage/storageAccounts/tableServices/tables",
              "properties": {
                "tableName": "table6186"
              }
            }
          ],
          "nextLink": "https://sto1590endpoint/subscriptions/{subscription-id}/resourceGroups/res9290/providers/Microsoft.Storage/storageAccounts/sto328/tableServices/default/tables?api-version=2022-09-01&NextTableName=1!40!bXl0YWJsZXNoYzU0OAEwMWQ2MTI5ZTJmYjVmODFh"
        }
      }
    },
    "parameters": {
      "TableServiceName": {
        "name": "tableServiceName",
        "in": "path",
        "required": true,
        "description": "The name of the Table Service within the specified storage account. Table Service Name must be 'default'",
        "x-ms-enum": {
          "name": "TableServiceName",
          "modelAsString": false
        },
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "enum": ["default"]
        },
        "examples": {
          "TableServicesPut": {
            "value": "default"
          },
          "TableServicesGet": {
            "value": "default"
          }
        }
      },
      "TableName": {
        "name": "tableName",
        "in": "path",
        "required": true,
        "description": "A table name must be unique within a storage account and must be between 3 and 63 characters.The name must comprise of only alphanumeric characters and it cannot begin with a numeric character.",
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 3,
          "maxLength": 63,
          "pattern": "^[A-Za-z][A-Za-z0-9]{2,62}$"
        },
        "examples": {
          "TableOperationPut": {
            "value": "table6185"
          },
          "TableOperationPutOrPatchAcls": {
            "value": "table6185"
          },
          "TableOperationPatch": {
            "value": "table6185"
          },
          "TableOperationGet": {
            "value": "table6185"
          },
          "TableOperationDelete": {
            "value": "table6185"
          }
        }
      },
      "ResourceGroupName": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        },
        "examples": {
          "TableServicesList": {
            "value": "res9290"
          },
          "TableServicesPut": {
            "value": "res4410"
          },
          "TableServicesGet": {
            "value": "res4410"
          },
          "TableOperationPut": {
            "value": "res3376"
          },
          "TableOperationPutOrPatchAcls": {
            "value": "res3376"
          },
          "TableOperationPatch": {
            "value": "res3376"
          },
          "TableOperationGet": {
            "value": "res3376"
          },
          "TableOperationDelete": {
            "value": "res3376"
          },
          "TableOperationList": {
            "value": "res9290"
          }
        }
      },
      "StorageAccountName": {
        "name": "accountName",
        "in": "path",
        "required": true,
        "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string",
          "minLength": 3,
          "maxLength": 24,
          "pattern": "^[a-z0-9]+$"
        },
        "examples": {
          "TableServicesList": {
            "value": "sto1590"
          },
          "TableServicesPut": {
            "value": "sto8607"
          },
          "TableServicesGet": {
            "value": "sto8607"
          },
          "TableOperationPut": {
            "value": "sto328"
          },
          "TableOperationPutOrPatchAcls": {
            "value": "sto328"
          },
          "TableOperationPatch": {
            "value": "sto328"
          },
          "TableOperationGet": {
            "value": "sto328"
          },
          "TableOperationDelete": {
            "value": "sto328"
          },
          "TableOperationList": {
            "value": "sto328"
          }
        }
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "description": "The API version to use for this operation.",
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "TableServicesList": {
            "value": "2024-01-01"
          },
          "TableServicesPut": {
            "value": "2024-01-01"
          },
          "TableServicesGet": {
            "value": "2024-01-01"
          },
          "TableOperationPut": {
            "value": "2024-01-01"
          },
          "TableOperationPutOrPatchAcls": {
            "value": "2024-01-01"
          },
          "TableOperationPatch": {
            "value": "2024-01-01"
          },
          "TableOperationGet": {
            "value": "2024-01-01"
          },
          "TableOperationDelete": {
            "value": "2024-01-01"
          },
          "TableOperationList": {
            "value": "2024-01-01"
          }
        }
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "description": "The ID of the target subscription.",
        "schema": {
          "type": "string",
          "minLength": 1
        },
        "examples": {
          "TableServicesList": {
            "value": "{subscription-id}"
          },
          "TableServicesPut": {
            "value": "{subscription-id}"
          },
          "TableServicesGet": {
            "value": "{subscription-id}"
          },
          "TableOperationPut": {
            "value": "{subscription-id}"
          },
          "TableOperationPutOrPatchAcls": {
            "value": "{subscription-id}"
          },
          "TableOperationPatch": {
            "value": "{subscription-id}"
          },
          "TableOperationGet": {
            "value": "{subscription-id}"
          },
          "TableOperationDelete": {
            "value": "{subscription-id}"
          },
          "TableOperationList": {
            "value": "{subscription-id}"
          }
        }
      }
    },
    "requestBodies": {
      "Table": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Table"
            }
          }
        },
        "description": "The parameters to provide to create a table."
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "ListTableServices": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableServiceProperties"
            },
            "description": "List of table services returned.",
            "readOnly": true
          }
        }
      },
      "TableServiceProperties": {
        "properties": {
          "properties": {
            "properties": {
              "cors": {
                "$ref": "#/components/schemas/CorsRules"
              }
            },
            "x-ms-client-flatten": true,
            "x-ms-client-name": "TableServiceProperties",
            "description": "The properties of a storage account’s Table service."
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "The properties of a storage account’s Table service."
      },
      "Table": {
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/TableProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/Resource"
          }
        ],
        "description": "Properties of the table, including Id, resource name, resource type."
      },
      "TableProperties": {
        "properties": {
          "tableName": {
            "type": "string",
            "readOnly": true,
            "description": "Table name under the specified account"
          },
          "signedIdentifiers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TableSignedIdentifier"
            },
            "description": "List of stored access policies specified on the table."
          }
        }
      },
      "ListTableResource": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            },
            "description": "List of tables returned.",
            "readOnly": true
          },
          "nextLink": {
            "type": "string",
            "description": "Request URL that can be used to query next page of tables",
            "readOnly": true
          }
        },
        "description": "Response schema. Contains list of tables returned"
      },
      "TableSignedIdentifier": {
        "properties": {
          "id": {
            "type": "string",
            "description": "unique-64-character-value of the stored access policy."
          },
          "accessPolicy": {
            "$ref": "#/components/schemas/TableAccessPolicy"
          }
        },
        "required": ["id"],
        "type": "object",
        "description": "Object to set Table Access Policy."
      },
      "TableAccessPolicy": {
        "properties": {
          "startTime": {
            "type": "string",
            "description": "Start time of the access policy"
          },
          "expiryTime": {
            "type": "string",
            "description": "Expiry time of the access policy"
          },
          "permission": {
            "type": "string",
            "description": "Required. List of abbreviated permissions. Supported permission values include 'r','a','u','d'"
          }
        },
        "required": ["permission"],
        "type": "object",
        "description": "Table Access Policy Properties Object."
      },
      "CloudErrorBody": {
        "x-ms-external": true,
        "properties": {
          "code": {
            "type": "string",
            "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
          },
          "message": {
            "type": "string",
            "description": "A message describing the error, intended to be suitable for display in a user interface."
          },
          "target": {
            "type": "string",
            "description": "The target of the particular error. For example, the name of the property in error."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CloudErrorBody"
            },
            "description": "A list of additional details about the error."
          }
        },
        "description": "An error response from the Storage service."
      },
      "CloudError": {
        "x-ms-external": true,
        "properties": {
          "error": {
            "$ref": "#/components/schemas/CloudErrorBody"
          }
        },
        "description": "An error response from the Storage service."
      },
      "Resource": {
        "title": "Resource",
        "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
        "type": "object",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The name of the resource"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\""
          }
        },
        "x-ms-azure-resource": true
      },
      "CorsRule": {
        "properties": {
          "allowedOrigins": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains"
          },
          "allowedMethods": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "DELETE",
                "GET",
                "HEAD",
                "MERGE",
                "POST",
                "OPTIONS",
                "PUT",
                "PATCH",
                "CONNECT",
                "TRACE"
              ],
              "x-ms-enum": {
                "name": "AllowedMethods",
                "modelAsString": true
              }
            },
            "description": "Required if CorsRule element is present. A list of HTTP methods that are allowed to be executed by the origin."
          },
          "maxAgeInSeconds": {
            "type": "integer",
            "description": "Required if CorsRule element is present. The number of seconds that the client/browser should cache a preflight response."
          },
          "exposedHeaders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required if CorsRule element is present. A list of response headers to expose to CORS clients."
          },
          "allowedHeaders": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required if CorsRule element is present. A list of headers allowed to be part of the cross-origin request."
          }
        },
        "required": [
          "allowedOrigins",
          "allowedMethods",
          "maxAgeInSeconds",
          "exposedHeaders",
          "allowedHeaders"
        ],
        "description": "Specifies a CORS rule for the Blob service."
      },
      "CorsRules": {
        "properties": {
          "corsRules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CorsRule"
            },
            "description": "The List of CORS rules. You can include up to five CorsRule elements in the request. "
          }
        },
        "description": "Sets the CORS rules. You can include up to five CorsRule elements in the request. "
      }
    }
  }
}
